$data-table-icon-color: #fff !default;
$data-table-icon-close-color: #d32f2f !default;
$close-icon-url: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="' + $data-table-icon-close-color + '" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>';
$dropdown-arrow-icon-url: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.7 476.7"><path fill="' + $data-table-icon-color + '" d="M238.4 0C106.7 0 0 106.7 0 238.4c0 131.7 106.7 238.4 238.4 238.4 131.7 0 238.4-106.7 238.4-238.4C476.7 106.7 370 0 238.4 0zM352.7 210L249.7 313.1c-3.1 3.2-7.2 4.7-11.3 4.6 -4.1 0-8.2-1.5-11.3-4.6L124 210c-6.2-6.2-6.2-16.3 0-22.5 6.2-6.2 16.3-6.2 22.5 0l91.9 91.9 91.9-91.9c6.2-6.2 16.3-6.2 22.5 0C358.9 193.7 358.9 203.8 352.7 210z"/></svg>';
$search-icon-url: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.7 476.7"><path fill="' + $data-table-icon-color + '" d="M238.4 0C106.7 0 0 106.7 0 238.4c0 131.7 106.7 238.4 238.4 238.4 131.7 0 238.4-106.7 238.4-238.4C476.7 106.7 370 0 238.4 0zM352.7 210L249.7 313.1c-3.1 3.2-7.2 4.7-11.3 4.6 -4.1 0-8.2-1.5-11.3-4.6L124 210c-6.2-6.2-6.2-16.3 0-22.5 6.2-6.2 16.3-6.2 22.5 0l91.9 91.9 91.9-91.9c6.2-6.2 16.3-6.2 22.5 0C358.9 193.7 358.9 203.8 352.7 210z"/></svg>';


$primary-text-color: #444;
$secondary-text-color: #fff;
$primary-background-color: #3b78e7;
$alert-error-color: #f00;
$secondary-background-color: #d32f2f;
$success-color: #40b30d;
$info-color: #47c5ff;
$warning-color: #ffc107;

$box-shadow-color: rgba(0, 0, 0, .2);

$multi-select-dropdown-toggle-background: lighten($primary-background-color, 100%);
$multi-select-dropdown-toggle-border: lighten($primary-text-color, 60%);
$multi-select-dropdown-toggle-color: $primary-text-color;
$multi-select-dropdown-link-color: $primary-background-color;
$multi-select-dropdown-link-color-hover: lighten($primary-text-color, 20%);
$multi-select-dropdown-icon-background: $primary-background-color;
$multi-select-dropdown-icon-color: lighten($primary-background-color, 100%);

$generated-context-background:  lighten($primary-background-color, 40%);
$generated-context-color:  $primary-text-color;

$toggle-active-button-background: $primary-background-color;
$action-text: $primary-background-color;