@import '~compass-mixins/lib/_compass.scss';

@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// font-size use em as a unit and px as a fallback
@mixin font-size($size: 1.6, $line: $size * 1.5) {
  font-size: ($size * 10) + px;
  font-size: $size + rem;
  line-height: ($line * 10) + px;
  line-height: $line + rem;
}


@mixin breakpoint($point) {

  @if $point == max360 {
    @media only screen and (max-width: 360px) {
      @content;
    }
  } @else if $point == max812 {
    @media only screen and (min-device-width: 310px) and (max-device-width: 823px) and (orientation: landscape) {
      @content;
    }
  } @else if $point == max480 {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }@else if $point == max575 {
    @media only screen and (max-width: 575px) {
      @content;
    }
  } @else if $point == max640 {
    @media only screen and (max-width: 640px) {
      @content;
    }
  } @else if $point == max767 {
    @media only screen and (max-width: 767px) {
      @content;
    }
  } @else if $point == max991 {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }
}

