$primary-font: 'Roboto', sans-serif;
$nav-bar-background: #1c2023;
$primary-text-color: #f5f5f5;
$main-nav-bar-active-background: #555;
$main-nav-bar-active-text: #ccc;
$side-menu-background: #f5f5f5;
$side-menu-dark-background: #eaeaea;
$side-menu-label-text: #777;
$side-menu-link-color: #333;
$side-menu-link-active-color: #1976d2;
$nav-tabs-border-color: #24282A;
$nav-tabs-active-color: #1C2022;
$background-overlay-gradient-1: #B21F1F;
$background-overlay-gradient-2: #e11111;
$background-overlay-gradient-3: #333333;
$background-overlay-gradient-4: #111111;
$background-overlay-gradient-5: #eeeeee;
$background-overlay-gradient-6: #bbbbbb;

$dark-theme-color: #111;
$flat-theme-color: #00529f;
$base-theme-color: #ddd;
$ornamentum-theme-color: #7b2222;
