@import '~compass-mixins/lib/compass';

$primary-font: 'Roboto', sans-serif;
$nav-bar-background: #2c2c2c;
$primary-text-color: #f5f5f5;
$main-nav-bar-active-background: #555;
$main-nav-bar-active-text: #ccc;
$side-menu-background: #fff;
$side-menu-label-text: #777;
$side-menu-link-color: #333;
$side-menu-link-active-color: #1976d2;
$nav-tabs-border-color: #24282A;
$nav-tabs-active-color: #1C2022