<ng-dropdown
  [groupByField]="'group'"
  [multiSelectable]="true"
  [setFirstOptionSelected]="true"
  [filterable]="true"
  [showClearSelectionButton]="true"
  [dataSource]="items"
  [loadViewDistance]="0"
  [selectedOptions]="selected"
  [showSelectedOptionRemoveButton]="true"

  (selectChange)="onSelectChange($event)">
</ng-dropdown>


<ng-dropdown
  [multiSelectable]="true"
  [filterable]="true"
  [showClearSelectionButton]="true"
  [loadOnScroll]="false"
  [loadViewDistance]="0"
  [(ngModel)]="selected"
  [showSelectedOptionRemoveButton]="true"
  [onDataBind]="onDataBind"

  (selectChange)="onSelectChange($event)">
  <ng-template #ngDropdownLoadingSpinner>
    <div>LL</div>
  </ng-template>
</ng-dropdown>
