<div style="height: 100px; overflow: auto">
  <div style="height: 1000px;"></div>
  <div style="height: 100px;" #dd>

  </div>
</div>

<ng-dropdown
  [items]="items"
  [totalItemCount]="count"
  [groupByField]="'group'"
  [multiSelectable]="true"
  [showSelectAll]="true"
  [filterable]="true"
  [triggerSelectChangeOnInit]="true"
  [showClearSelectionButton]="true"
  [loadViewDistance]="0"
  [selectedOptions]="selected"
  (selectChange)="onSelectChange($event)"
  (init)="onInit($event)">
</ng-dropdown>

value - {{selected | json}}

<button (click)="resetSelected()">Clear Selection</button>
