<div class="feature-container">
  <h1>Dropdown Styling & Themes</h1>

  <p>As mentioned in the <a rel="noopener" target="_blank" href="feature/data-table/styling-and-themes">Data Table
    Styling & Themes</a> section, Ornamentum dropdown also comes with the same theming support.</p>

  <h2 id="themeSupport">Including Theme Support</h2>

  <p>Please refer the same detail mentioned in the <a rel="noopener" target="_blank" href="feature/data-table/styling-and-themes">Data Table
    Styling & Themes</a> to see how different styles references can include into your scss files.</p>

  <p>Also in the page header you can see the user experience of the available themes by clicking on the given color
    palette as shown in the <a rel="noopener" target="_blank" href="feature/data-table/styling-and-themes">Data Table
      Styling & Themes</a> section.</p>

  <p>Let's see how the user experience changes in the dropdown when different themes are applied.</p>

  <h4 id="baseTheme">Base Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Base theme. This is the user
    experience that you can get if you choose to stay with the base theme styling provided without using any of the
    themes available.</p>

  <div class="dd-theme-common dd-base-theme"></div>

  <h4 id="darkTheme">Dark Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Dark theme.</p>

  <div class="dd-theme-common dd-dark-theme"></div>

  <h4 id="flatTheme">Flat Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Flat theme.</p>

  <div class="dd-theme-common dd-flat-theme"></div>

  <h4 id="ornamentumTheme">Ornamentum Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Ornamentum theme.</p>

  <div class="dd-theme-common dd-ornamentum-theme"></div>

  <h4 id="aegeanTheme">Aegean Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Aegean theme.</p>

  <div class="dd-theme-common dd-aegean-theme"></div>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DropdownModule.html">API Doc for Dropdown Styling &
    Themes</a>
</div>
