<h1>Dropdown Menu Width and Height Attributes</h1>
<ul class="main-pane-list">
  <li>These will allows users to configure the dropdown menu width and height.</li>
  <li>This is how it is configured in the following example.</li>
  <ul class="main-pane-list">
    <li><b>[menuWidth]="200"</b> => The default value for this config is 320.
    <li><b>[menuHeight]="200"</b> => The default value for this config is 250.
    </li>
  </ul>
</ul>

<app-menu-width-height-usage></app-menu-width-height-usage>

<app-example-code [files]="menuWidthHeightUsage"></app-example-code>

<h2>Suggested Links</h2>
<a [href]="''" target="_blank">API Doc for Dropdown Menu Width and Height</a>
