<div class="feature-container">
  <h1>Client Side Basic Data Binding</h1>

  <p>Client side data binding allows the users to bind static data sets to the data table when the full data collection is available in the client side.
    It can be configured via setting an array of data objects to <code>items</code> input property
    or via setting a <a rel="noopener" target="_blank" href="https://rxjs-dev.firebaseapp.com/">RxJS Observable</a> stream
    to <code>dataSource</code> input property.</p>

  <p>In this data binding technique, data table operations such as
    <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Filtering</a>, <a
      [routerLink]="['/feature/data-table/functionality/row/grouping']">Row Grouping</a>, <a
      [routerLink]="['/feature/data-table/functionality/column/sorting']">Sorting</a>, <a
      [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a> etc. are performed in
    client side via an internal data source manager service.</p>

  <p>
    However, it might affect the overall site performance, if the data set is significantly larger. Consider using <a
    [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic Data Binding</a> in such
    cases where all the computation heavy operations are handled in server side and only page level data is sent to
    the client side for on demand data binding.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-items-usage></app-items-usage>
  <app-example-code [files]="itemsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Client side data binding can be configured by using either of the approaches described below. Data emitted after
    initial data binding will re-initialize the data table with the new data set and drop previously bound data item
    collection or stream.</p>

  <h5>Bind via items</h5>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.items">{{ demoSnippet.items }}</app-code-snippet>

  <p>
    This approach can be used to bind a static data array. The complete code snippets for the data binding
    via <code>items</code> input property can be found in
    <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']" [fragment]="'whatYouWillSee'">What You Will See</a>
    example section above. Mutations to the item
    collections will automatically get reflected in data table.
  </p>

  <h5>Bind via dataSource</h5>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dataSource"></app-code-snippet>

  <p>This approach can be used to bind an Observable data stream. Refer following example code snippet for
    complete usage of the <code>dataSource</code> property in the client side data
    binding. The last emitted data collection via the data source stream will get reflected in data table.</p>

  <app-data-source-usage></app-data-source-usage>
  <app-example-code [files]="dataSourceUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a><br/>
  <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Column Filtering</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#items">API Doc for Client Side
    Data Binding</a>
</div>
