<div class="feature-container">
  <h1>Client Side Basic Data Binding</h1>

  <p>Client side data binding allow users to bind static data sets to data table when full data collection is available
    in the client side. It can be configure via setting an array of data objects to <code>items</code> input property or
    via setting a <a rel="noopener" target="_blank" href="https://rxjs-dev.firebaseapp.com/">RxJS</a> Observable stream
    to <code>dataSource</code> input property.</p>

  <p>In this data binding technique, data table operations like filtering, sorting, page change, etc., are performed in
    client side via an internal data source manager service.</p>

  <p>
    However, it might affect the overall site performance if the data set is significantly larger. Consider using <a
    [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic Data Binding</a> in such
    cases where all the computation heavy operations are handled in server side and only page level data is sent to
    client side for on demand data binding.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-items-usage></app-items-usage>
  <app-example-code [files]="itemsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Client side data binding can be configured by using either of two approaches described below. Data emitted after
    initial data binding will re-initialize data table with the new data set and drop previously bound data items
    collection.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.items">{{ demoSnippet.items }}</app-code-snippet>

  <p>
    The complete set of code snippet for the data binding via <code>items</code> input property can be seen in the
    example shown in the <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']"
                            [fragment]="'whatYouWillSee'">What You Will See</a> section above. Mutations to items
    collection will automatically get reflected in data table.
  </p>

  <p>or</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dataSource"></app-code-snippet>

  <p>Refer following example code snippet for complete usage of the <code>dataSource</code> property in the client side
    data
    binding. Latest data collection emitted via data source stream will get reflected in data table.</p>

  <app-data-source-usage></app-data-source-usage>
  <app-example-code [files]="dataSourceUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a><br/>
  <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Column Filtering</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#items">API Doc for Client Side
    Data Binding</a>
</div>
