<div class="ng-data-table-column-selector-wrapper">
  <div class="ng-data-table-column-selector-box-heading">Show/Hide Column</div>
  <div class="ng-data-table-column-selector-box">
    <ng-container *ngFor="let column of columns">
      <div class="ng-data-table-column-selector-column ng-data-table-column-selector-checkbox" *ngIf="column.showInColumnSelector">
        <label>
          <input class="ng-data-table-checkbox-input" type="checkbox" [(ngModel)]="column.visible" />
          <span [textContent]="column.title"></span>
        </label>
      </div>
    </ng-container>
  </div>
</div>
