<div class="ng-data-table-column-selector-wrapper" [style.width]="width | ngPx">
  <div class="ng-data-table-column-selector-box-heading">{{ config.translations.columnSelector.header }}</div>
  <div class="ng-data-table-column-selector-box">
    <ng-container *ngFor="let column of columns; index as i;">
      <div class="ng-data-table-column-selector-column ng-data-table-column-selector-checkbox" *ngIf="column.showInColumnSelector">
        <div class="ng-data-table-checkbox-container">
          <input class="ng-data-table-checkbox-input" type="checkbox"
                 [id]="dataStateService.getUniqueId('cs', i)" [(ngModel)]="column.visible"/>
          <label [for]="dataStateService.getUniqueId('cs', i)"><span [textContent]="column.title"></span></label>
        </div>
      </div>
    </ng-container>
  </div>
</div>
