<script src="data-table-responsive-conf.list.ts"></script>
<div class="feature-container">
  <h1>Responsive Configuration</h1>

  <p>Ornamentum allows you to set-up data table responsive configurations in few ways, by overriding available
    default configurations you can customize data table responsiveness and make the data table supports for different
    device resolutions and viewports.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-responsive-conf-usage></app-responsive-conf-usage>
  <app-example-code [files]="responsiveConfUsage"></app-example-code>


  <h4 id="contentHeight">Content Height</h4>

  <p>
    <code>contentHeight: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property was responsible to enable static content height and vertical scrolling in data table. provide height
    in pixels as number or string to override the default content height and if content height is not defined by
    explicitly, ornamentum will takes parent container height as the data table content height.</p>

  <app-content-height-usage></app-content-height-usage>
  <app-example-code [files]="contentHeightUsage"></app-example-code>

  <h4 id="width">Width</h4>

  <p>
    <code>width: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property can be uses to define a static data table content width. it was accepts pixels in any number or
    string and if width is not defined by explicitly, ornamentum will takes the parent container width as the data table
    width.</p>

  <app-width-usage></app-width-usage>
  <app-example-code [files]="widthUsage"></app-example-code>

  <h4 id="minContentHeight">Min Content Height</h4>

  <p>
    <code>minContentHeight: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 200</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property was uses to set minimum height which act as a overlay height when <a
    [routerLink]="'/feature/data-table/functionality/pagination'">Pagination</a> is <b>disabled</b>.
    provide pixels in number or string to see the property in action.
  </p>

  <app-min-content-height-usage></app-min-content-height-usage>
  <app-example-code [files]="minContentHeightUsage"></app-example-code>

  <h4 id="minContentWidth">Min Content Width</h4>

  <p>
    <code>minContentWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property was uses to enable horizontal scroll bar when container area width meet defined minimum
    width. this was useful when building mobile responsive grid without scattering data on data table. provide pixels in
    number or string to see the property in action.</p>

  <app-min-content-width-usage></app-min-content-width-usage>
  <app-example-code [files]="minContentWidthUsage"></app-example-code>

  <h4 id="expanderColumnWidth">Expander Column Width</h4>

  <p>
    <code>expanderColumnWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 30</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [expandableRows]</span>
  </p>

  <p>This property was allowed to set an expander column width, by providing a string or number in pixels you can
    customize the width of the expander column. this property can be used when <a
      [routerLink]="'/feature/data-table/templating/row-expand-template'">Expandable Rows</a> is
    <b>enabled</b>. for more details about expander column details refer <a
      [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a> section.</p>

  <app-expander-column-width-usage></app-expander-column-width-usage>
  <app-example-code [files]="expanderColumnWidthUsage"></app-example-code>

  <h4 id="indexColumnWidth">Index Column Width</h4>

  <p>
    <code>indexColumnWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 30</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showIndexColumn]</span>
  </p>

  <p>
    This property can be uses adjust index column width. It can configure by providing a number or string as pixels,
    when <a [routerLink]="['/feature/data-table/functionality/column/binding']">Show Index Column</a> is enabled.
  </p>

  <app-index-column-width-usage></app-index-column-width-usage>
  <app-example-code [files]="indexColumnWidthUsage"></app-example-code>

  <h4 id="columnSelectorWidth">Column Selector Width</h4>

  <p>
    <code>columnSelectorWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 240</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showColumnSelector]</span>
  </p>

  <p>This property can be used to dynamically configure the column selector width when <a
    [routerLink]="'/feature/data-table/options/header-details'" [fragment]="'showColumnSelector'">Show Column
    Selector</a> is <b>enabled</b>. Useful if column names are taking more space than the available column selector
    width.
  </p>

  <app-column-selector-width-usage></app-column-selector-width-usage>
  <app-example-code [files]="columnSelectorWidthUsage"></app-example-code>

  <h4 id="selectionColumnWidth">Selection Column Width</h4>

  <p>
    <code>selectionColumnWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 30</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [rowSelectable]</span>
  </p>

  <p>This property can be uses to set row selector checkbox column width. it can be uses when only
    <a [routerLink]="'/feature/data-table/functionality/row/selection'">Row Selectable</a> is <b>enabled</b>. For more
    details about row selection techniques refer <a [routerLink]="['/feature/data-table/functionality/row/selection']">Row
      Selection</a> section.
  </p>

  <app-selection-column-width-usage></app-selection-column-width-usage>
  <app-example-code [files]="selectionColumnWidthUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a><br>
  <a [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a [routerLink]="['/feature/data-table/advanced/events']">Events</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Responsive
    Configuration</a>
</div>
