<script src="data-table-responsive-conf.list.ts"></script>
<div class="feature-container">
  <h1>Data Table Responsive Configuration</h1>

  <p>Ornamentum allows you to set-up data table responsive configurations in a couple of methods such as by overriding
    available default configurations and make the data table supports for different device resolutions and
    viewports.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-responsive-conf-usage></app-responsive-conf-usage>
  <app-example-code [files]="responsiveConfUsage"></app-example-code>


  <h4 id="contentHeight">Content Height</h4>

  <p>
    <code>contentHeight: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property was responsible to enable static-content height and vertical scrolling in the data table. By
    providing the height in pixels to override the default content height and if the content height is not defined
    explicitly, Ornamentum will take parent container height as the data table content height.</p>

  <app-content-height-usage></app-content-height-usage>
  <app-example-code [files]="contentHeightUsage"></app-example-code>

  <h4 id="width">Width</h4>

  <p>
    <code>width: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property can be used to define a static data table content width. It accepts pixels as any number or
    string, and if the width is not defined by explicitly, Ornamentum will take the parent container width as the data
    table width.</p>

  <app-width-usage></app-width-usage>
  <app-example-code [files]="widthUsage"></app-example-code>

  <h4 id="minContentHeight">Min Content Height</h4>

  <p>
    <code>minContentHeight: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 200</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property was uses to set minimum height which act as an overlay height when <a
    [routerLink]="'/feature/data-table/functionality/pagination'">Pagination</a> is <b>disabled</b>.
    provide the pixels as a number or string to see the property in action.
  </p>

  <app-min-content-height-usage></app-min-content-height-usage>
  <app-example-code [files]="minContentHeightUsage"></app-example-code>

  <h4 id="minContentWidth">Min Content Width</h4>

  <p>
    <code>minContentWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property is used to enable a horizontal scroll bar when the container width meet defined minimum
    width. This becomes useful when building mobile responsive grid without scattering data on data table. Provide
    pixels as number or string to see the property in action.</p>

  <app-min-content-width-usage></app-min-content-width-usage>
  <app-example-code [files]="minContentWidthUsage"></app-example-code>

  <h4 id="expanderColumnWidth">Expander Column Width</h4>

  <p>
    <code>expanderColumnWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 30</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [expandableRows]</span>
  </p>

  <p>This property is used to set the width of the expander icon column. By providing a string or number in pixels you
    can
    customize the responsiveness of the expander column. This property can be used while <a
      [routerLink]="'/feature/data-table/templating/row-expand-template'">Expandable Rows</a> is
    <b>enabled</b>. for more details about expander column details refer <a
      [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a> section.</p>

  <app-expander-column-width-usage></app-expander-column-width-usage>
  <app-example-code [files]="expanderColumnWidthUsage"></app-example-code>

  <h4 id="indexColumnWidth">Index Column Width</h4>

  <p>
    <code>indexColumnWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 30</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showIndexColumn]</span>
  </p>

  <p>
    Using the index column width, you can set static data row auto-incrementing number column width manually. It accepts
    pixels as a type of number or string and this property can be used while <a
    [routerLink]="['/feature/data-table/functionality/column/binding']">Show Index Column</a> is <b>enabled</b>.
  </p>

  <app-index-column-width-usage></app-index-column-width-usage>
  <app-example-code [files]="indexColumnWidthUsage"></app-example-code>

  <h4 id="columnSelectorWidth">Column Selector Width</h4>

  <p>
    <code>columnSelectorWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 240</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showColumnSelector]</span>
  </p>

  <p>This property can be used to dynamically configure the column selector width when <a
    [routerLink]="'/feature/data-table/options/header-details'" [fragment]="'showColumnSelector'">Show Column
    Selector</a> is <b>enabled</b>. This property become handier when column names taking
    more space than the available selector width. Such a scenario can be handled by adjusting the default width by
    binding a value to <code>columnSelectorWidth</code> property.
  </p>

  <app-column-selector-width-usage></app-column-selector-width-usage>
  <app-example-code [files]="columnSelectorWidthUsage"></app-example-code>

  <h4 id="selectionColumnWidth">Selection Column Width</h4>

  <p>
    <code>selectionColumnWidth: string | number</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 30</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [rowSelectable]</span>
  </p>

  <p>This property can be used to set the row selector checkbox column width. It can be used only when the <a
    [routerLink]="'/feature/data-table/functionality/row/selection'">Row Selectable</a> and <a
    [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a> properties <b>enabled</b>.
  </p>

  <app-selection-column-width-usage></app-selection-column-width-usage>
  <app-example-code [files]="selectionColumnWidthUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a><br>
  <a [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a [routerLink]="['/feature/data-table/advanced/events']">Events</a><br>
  <a rel="noopener noreferrer" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Responsive
    Configuration</a>
</div>
