<ng-data-table
  [id]="'sales_products_advanced_06'"
  [title]="'Sales Products'"
  [selectTrackBy]="'id'"
  [minContentWidth]="1280"
  [items]="items"
  [limit]="5"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [rowSelectable]="true"
  [showRowSelectCheckbox]="true"
  [showRowSelectAllCheckbox]="true"
  [selectMode]="'multi'"
  (cellClick)="onCellClick($event)">
  <ng-data-table-column
    [displayTrackBy]="'id'"
    [title]="'ID'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productLine'"
    [title]="'Product Line'"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productType'"
    [title]="'Product Type'"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'revenue'"
    [title]="'Revenue'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'quantity'"
    [title]="'Quantity'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="150">
  </ng-data-table-column>
</ng-data-table>

<br/>
<p class="event-output" *ngIf="cellClickEventData.length; else noDataAvailable">
  <span *ngFor="let item of cellClickEventData.slice().reverse()">{{ item }}<br/></span>
</p>
<ng-template #noDataAvailable>
  <p class="event-output">Click on any cell to see the output</p>
</ng-template>
