<div class="feature-container">
  <h1>Data Table Cell Template</h1>

  <p>
    Ornamentum allows flexible customization of the table cells of the Grid (excluding the header
    and footer sections) or to format the data the table cells display.
  </p>
  <p>
    If the user uses cell templating for more than one column, the user has to handel <code>rowspan</code> on that cell
    manually by involving both <code>rowSpan</code> and <code>spanIndex</code> Please refer <b>Product Type</b> and <b>Revenue</b>
    column in <a [routerLink]="['/feature/data-table/templating/cell-template']" [fragment]="'rowSpan'">Row Span</a>
    example.
  </p>
  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-cell-template-usage></app-cell-template-usage>
  <app-example-code [files]="cellTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Following code snippet depicts the integration of cell template. To define the cell template, nest an <code>&lt;ng-template&gt;</code>
    tag with the <code>ngDataTableCell</code> directive inside a <code>&lt;ng-data-table-column&gt;</code> tag. The
    template context is set to the current data item and the following additional fields are passed.<br>

    <code>let-column="column" let-row="row" let-spanIndex="spanIndex" let-rowSpan="rowSpan"</code>
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.baseTemplate"></app-code-snippet>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.cellTemplate"></app-code-snippet>


  <h2 id="usefulProperties">Useful Properties</h2>
  <p>There are few more configurations available that affect the cell templating behaviours.</p>

  <h4 id="column">Column</h4>

  <p>
    <code>column: DataTableColumnComponent</code>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>
    To define the cell template, nest an <code>&lt;ng-template&gt;</code> tag with the <code>ngDataTableCell</code>
    directive inside a <code>&lt;ng-data-table-column&gt;</code> tag.
  </p>
  <p>
    The current column instance contains all column properties. Users can use it as an alias for a template variable by
    utilizing the <code>let-column="column"</code> syntax.
  </p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.columnPropertyTemplate"></app-code-snippet>

  <h4 id="row">Row</h4>

  <p>
    <code>row: DataTableRow</code>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>To define the cell template, nest an <code>&lt;ng-template&gt;</code> tag with the <code>ngDataTableCell</code>
    directive inside a <code>&lt;ng-data-table-column&gt;</code> tag.</p>
  <p>
    The current row instance contains all the row data. Users can use it as an alias for a template variable by
    utilizing the <code>let-row="row"</code> syntax.
  </p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.rowPropertyTemplate"></app-code-snippet>

  <h5>Usage of <code>row</code> property</h5>
  <app-cell-template-avatar-usage></app-cell-template-avatar-usage>
  <app-example-code [files]="cellTemplateUsageAvatar"></app-example-code>

  <h4 id="spanIndex">Span Index</h4>

  <p>
    <code>spanIndex: number</code>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>To define the cell template, nest an <code>&lt;ng-template&gt;</code> tag with the <code>ngDataTableCell</code>
    directive inside a <code>&lt;ng-data-table-column&gt;</code> tag.</p>
  <p>
    The span index of the current row is useful when using row spanning. Users can use it as an alias for a template
    variable by utilizing the <code>let-spanIndex="spanIndex"</code> syntax.
  </p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.spanIndexPropertyTemplate"></app-code-snippet>
  <p>
    Users will need this when using the Cell Templating for more than one column with row span. Users can
    find such a scenario in <a [routerLink]="['/feature/data-table/templating/cell-template']" [fragment]="'rowSpan'">Row
    Span</a> example for the usage of span index.
  </p>

  <h4 id="rowSpan">Row Span</h4>

  <p>
    <code>rowSpan: number</code>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>To define the cell template, nest an <code>&lt;ng-template&gt;</code> tag with the <code>ngDataTableCell</code>
    directive inside a <code>&lt;ng-data-table-column&gt;</code> tag.</p>
  <p>
    Row Span of the current row is useful when using row span. Users can use it as an alias for a template variable by
    utilizing the <code>let-rowSpan="rowSpan"</code> syntax.
  </p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.rowSpanPropertyTemplate"></app-code-snippet>

  <p>
    If the user is going to use cell templates for more than one column user has to handel <code>rowspan</code> on that
    cell manually, with involving both <code>rowSpan</code> and <code>spanIndex</code>
  </p>
  <app-example-code [files]="cellTemplateRowSpanUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/experimental/row/span']">Dynamic Row Span</a><br/>
  <a rel="noopener noreferrer" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Cell
    Template</a><br/>
</div>
