<div class="feature-container">
  <h1>Cell Template</h1>

  <p>Cell template will allow users to customize table cells based on their personalized and detailed preference.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-cell-template-usage></app-cell-template-usage>
  <app-example-code [files]="cellTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Initially you can set your own cell template all configuration as follows.</p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.baseTemplate"></app-code-snippet>

  <p>
    Once the template configuring is done, You can apply one or more columns In the above data table, the following
    template is applied values in <b>Retailer Type</b> column.
  </p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.cellTemplate"></app-code-snippet>


  <h2 id="usefulProperties">Useful Properties</h2>
  <p>There are few more configurations available which affects the cell templating behaviours.</p>

  <h4 id="column">Column</h4>
  <code>column: DataTableColumnComponent</code>

  <p>Cell responsible column can be accessed as follows and Data table column component contains all column properties
    that required.</p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.columnPropertyTemplate"></app-code-snippet>

  <h4 id="row">Row</h4>
  <code>row: DataTableRow</code>
  <span class="p-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-template&gt; within &lt;ng-data-table-column&gt;</span>

  <p>Cell responsible specific data table row field can be accessed as follows.</p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.rowPropertyTemplate"></app-code-snippet>

  <h5>Usage of <code>row</code> property</h5>
  <app-cell-template-avatar-usage></app-cell-template-avatar-usage>
  <app-example-code [files]="cellTemplateUsageAvatar"></app-example-code>

  <h4 id="spanIndex">Span Index</h4>
  <code>spanIndex: number</code>
  <br/>
  <p>Cell responsible specific data table row span index can be accessed as follows.</p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.spanIndexPropertyTemplate"></app-code-snippet>

  <h4 id="rowSpan">Row Span</h4>
  <code>rowSpan: number</code>
  <br/>
  <p>Row span count can be accessed as follows.</p>
  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.rowSpanPropertyTemplate"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Cell
    Template</a>
</div>
