<div class="ng-data-table-top-header-container" #header>
  <h4 class="ng-data-table-top-header-title" [textContent]="config.title"></h4>
  <div class="ng-data-table-top-header-button-container">
    <button title="Refresh" type="button" class="ng-data-table-action-button ng-data-table-refresh-button"
            (click)="onReload()" *ngIf="config.showRefreshButton" [disabled]="dataStateService.dataLoading">
    </button>
    <button title="Select Column" type="button" class="ng-data-table-action-button ng-data-table-column-selector-button"
            (click)="toggleColumnSelector(header)" (ngClickOutside)="closeColumnSelector()" *ngIf="config.showColumnSelector">
    </button>
  </div>
</div>
