@import '../../../styles/variables';
@import '../../../styles/mixins';

$refresh-icon-url: '../../../styles/images/refresh.svg';
$list-view-icon-url: '../../../styles/images/list-view.svg';

:host-context {

  %table-header-icon {
    content: '';
    cursor: pointer;
    height: 1.7em;
    position: absolute;
    top: .7em;
    width: 1.7em;
  }

  .ng-data-table-top-header {
    @include display-flex;
    @include justify-content(space-between);
    @include font-size(.8, 1.4);
    border-bottom: .05rem solid $data-table-header-border;
    min-height: 2rem;
    padding: 0 .5rem 0 1rem;

    .ng-data-table-title {
      @include font-size(1, 1.8);
      font-weight: 700;
      margin: .4rem 0 0;
    }

    .ng-data-table-action-button-container {
      position: relative;

      .ng-data-table-action-button {
        border: 0;

        &.ng-data-table-refresh-button {
          @extend %table-header-icon;
          background: transparent url($refresh-icon-url) no-repeat;
          background-size: contain;
          height: 1.4em;
          right: 0;
        }

        &.ng-data-table-column-selector-button {
          @extend %table-header-icon;
          background: transparent url($list-view-icon-url) no-repeat;
          background-size: contain;
          height: 1.4em;
          right: 2.5em;
        }

        &:focus,
        &:visited {
          outline: none;
        }

      }
    }
  }

  .ng-data-table-column-selector-fixed-column {
    font-style: italic;
    font-weight: 600;
  }
}
