<div class="feature-container">
  <h1>Loading Spinner</h1>

  <p>
    Loading Spinner is responsible to display a spinner on data table body while on data fetch operation, once after the success data retrieval
    process it will disappear and data will be displayed on the table body.
  </p>

  <p>
    Loading spinner is very useful when on
    <a rel="noopener" target="_blank" href="feature/data-table/server-side-data-binding">Server Side Data Binding</a> and
    <a rel="noopener" target="_blank" href="feature/data-table/real-time-data-binding">Real Time Data Binding</a> operations. from enabling data
    loading spinner ornamentum will keep updates the end user that the data retrieval process is still going on and preventing affect to user
    experience negatively.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-loading-spinner-usage></app-loading-spinner-usage>
  <app-example-code [files]="loadingSpinnerUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Loading spinner can be enable by binding <b>true</b> to <code>showLoadingSpinner</code> property in global level of data table configuration
    (ng-data-table).
  </p>

  <pre class="prettyprint lang-html">{{ demoSnippet.loadingSpinner }}</pre>

  <p>
    Please note to display the loading spinner it is <b>mandatory</b> to enabling <code>showLoadingSpinner</code> property and after enabling, you can
    bind a custom template into the data loading scenario if you want. for loading spinner templates please refer
    <a rel="noopener" target="_blank" href="feature/data-table/templates/loading-spinner-template">Loading Spinner Template</a> section.
  </p>

  <!--<p>Loading spinner property can be override in module level. for more details about Module level property overriding-->
  <!--please refer <a rel="noopener" target="_blank" href="#">Module Level Property Override</a> section.</p>-->

  <h2 id="usefulProperties">Useful Properties</h2>

  <p>As explain in the above, there is a property that affect to the behaviour of table loading spinner.</p>

  <h4 id="showLoadingSpinner">Show Loading Spinner</h4>
  <code>showLoadingSpinner: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>
    Show Loading Spinner is responsible to continuously display default spinner on data table body until the data fetch operation is complete.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>

  <a rel="noopener" target="_blank" href="feature/data-table/templates/no-records-template">No Records Template</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#showLoadingSpinner">API Doc for Data Table Loading Spinner</a>
</div>
