<h1>Data Table Loading Spinner</h1>

<p>The feature enables showing a loading spinner when loading data into the data table. To see spinner it is necessary
  to enable the following configuration.</p>

<h6><b>[showLoadingSpinner]="true or false"</b></h6>

<p>If this enabled a spinner will be displayed until the completion of the table data loading.</p>

<app-loading-spinner-usage></app-loading-spinner-usage>

<app-example-code [files]="loadingSpinnerUsage"></app-example-code>

<p>Please note that this loading spinner functionality can be overridden by any external party by providing a custom
  spinner template. Refer <b>Loading Spinner Template</b> under <b>Data Table Templates</b> section for more details.
</p>

<h2>Suggested Links</h2>
<a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#showLoadingSpinner">API Doc for Data Table Loading Spinner</a>
