<div class="feature-container">
  <h1>Column Binding</h1>

  <p>The column binding section consists of set of basic properties which will describe how the users can use them for
    data table column, data binding and manipulate data inside the column. The grid can facilitate a column for every
    item of the data array.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-column-binding-usage></app-column-binding-usage>
  <app-example-code [files]="columnBindingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>field: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>
    The following code snippet will depicts the basic usage of column data binding. To use all it's associated
    properties it is <b>mandatory</b> to define <code>field</code> property that is bound to a column, else the
    functionality may not work as expected.
  </p>

  <p>This property will act as a identifier for access specific data set in your data array. The field name should be a
    valid Javascript identifier.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.resizable"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>

  <p>There are several more properties that support column binding functionality when a <code>field</code> property
    is defined.</p>

  <h4 id="id">ID (Identifier)</h4>

  <p>
    <code>id: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This property is a <b>mandatory</b> property which required a unique and valid Javascript identifier for
    each and every data table in your application. Failed to define this property caused to <b>throw an error</b> and
    halt the execution.
  </p>

  <h4 id="title">Title</h4>

  <p>
    <code>title: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>This property is useful to set a name for the field that the column is bounded. If the property is not provided
    Ornamentum will render the column title as blank.</p>

  <h4 id="indexColumnTitle">Index Column Title</h4>

  <p>
    <code>indexColumnTitle: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: '#'</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showIndexColumn]</span>
  </p>

  <p>
    Index column title can be used to set a custom title for index column when it is <b>enabled</b>. Further details
    about index column refer the <a [routerLink]="'/feature/data-table/functionality/column/binding'"
                                    [fragment]="'showIndexColumn'">Show Index Column</a> section.
  </p>

  <h4 id="cssClass">CSS Class</h4>

  <p>
    <code>cssClass: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>This property is useful if you want to inject a CSS class into your data table column cells. You can
    provide a string or a function that returns a CSS class or classes in which space delimiter separated without a dot
    selector.</p>

  <h4 id="width">Width</h4>

  <p>
    <code>width: number | string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>The width can be used to set a static width for grid column. It accepts number that automatically converts its
    unit to pixels or the user can manually define a string with respective CSS units (px, cm, mm etc).</p>

  <h4 id="visible">Visible</h4>

  <p>
    <code>visible: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>This property is useful if you want to show your column in the data table. If it is set to false, Ornamentum will
    not render the column and its content but include it in <a
      [routerLink]="['/feature/data-table/options/header-details']" [fragment]="'showColumnSelector'">Show Column
      Selector</a> dropdown as not selected.</p>

  <h4 id="showInColumnSelector">Show In Column Selector</h4>

  <p>
    <code>showInColumnSelector: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>If this property is set to true, the column will be displayed on <a
    [routerLink]="['/feature/data-table/options/header-details']" [fragment]="'showColumnSelector'">Show Column
    Selector</a> dropdown with field title and selected state, By enabling this functionality end users will able to
    customize what they want to see.</p>

  <h4 id="showIndexColumn">Show Index Column</h4>

  <p>
    <code>showIndexColumn: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property can be uses to display a additional index column and appears on left side as first column on the data
    table. It will start from 1 and keep incrementing by 1 for each data row to maintain a unique numerical id for all
    over the data table.</p>

  <app-show-index-column-usage></app-show-index-column-usage>
  <app-example-code [files]="showIndexColumnUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/column/sorting']">Sorting</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Filtering</a><br>
  <a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a><br>
  <a [routerLink]="['/feature/data-table/styling/responsive-configuration']">Responsive Configuration</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Column
    Sorting</a>
</div>
