# Node
node_modules
npm-debug.log

# Yarn
yarn-error.log

# JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
.tmp
stats

# Library files
src/
e2e/

# Project resources
.angular-cli.json
.babelrc
.editorconfig
.gitignore
.npmignore
.scss-lint.yml

gulpfile.babel.js
karma.conf.js
protractor.conf.js

tsconfig.doc.json
tsconfig.lib.es5.json
tsconfig.lib.es2015.json
tsconfig.lib.json
tsconfig.json

tslint.json
yarn.lock
