# Node
node_modules
npm-debug.log

# Yarn
yarn-error.log

# JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
.tmp

# Library files
src/

.angular-cli.json
.editorconfig
.scss-lint.yml
gulpfile
karma.conf
protractor.conf
tsconfig.doc.json
tsconfig.esm.json
tsconfig.json
tslint.json
webpack-umd.config
yarn.lock
dist
