<div class="feature-container">
  <h1>Data Table Translations</h1>

  <ul class="main-pane-list">
    <li>Data table translations will allow users to configure the basic settings.</li>
    <li>Those translations are required to passed via the <b>translations</b> attribute as follows.
      <h5>[translations]="DataTableTranslations"</h5>
    </li>
    <li>Going through the following, shows the configurations can be passed via the translations.
      <ul>
        <li>noDataMessageHeader</li>
        <li>noDataMessageBody</li>
        <li>paginationLimit</li>
        <li>paginationRange</li>
      </ul>
    </li>
    <li>Let's see how these can be configured in different scenarios.</li>
  </ul>

  <h2>Data Table Translations for No Data Scenario</h2>
  <p>The default template will be shown when data is not available. In that scenario, users can customized the message
    needs to show using this translations property.</p>

  <ul class="main-pane-list">
    <li><b>noDataMessageBody: "Customized No Data Message Body"</b> => This configuration is used to set the message
      header name on the message to be shown in the table body when there are no data to display. The default value for
      this config is 'No data to display. Added data will appear here.'
    </li>
    <li><b>noDataMessageHeader: "Customized No Data Message Header"</b> => This configuration is used to set the message
      to be shown in the table body when there are no data to display.The default value for this config is 'Whoops!'.
    </li>
  </ul>

  <app-data-table-translations-no-data-usage></app-data-table-translations-no-data-usage>

  <app-example-code [files]="dataTableTranslationsNoDataUsage"></app-example-code>

  <h2>Data Table Translations for Pagination</h2>
  <p>Also this translations property can be used to customize the pagination naming. The following properties shows what
    are those.</p>

  <ul class="main-pane-list">
    <li><b>paginationLimit: "This is the message for paginationLimit"</b> => This is used to customize the pagination
      limit naming. The default value for this config is 'Limit'.
    </li>
    <li><b>paginationRange: "This is the message for paginationRange"</b> => This is used to customize the pagination
      range naming. The default value for this config is 'Results'.
    </li>
  </ul>

  <app-data-table-translations-pagination-usage></app-data-table-translations-pagination-usage>

  <app-example-code [files]="dataTableTranslationsPaginationUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#translations">API Doc for Data
    Table Translations</a>
</div>
