.copy-content {
  background: url('../../../../assets/images/copy.svg') no-repeat;
  background-size: 100% 100%;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 1.2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 1.2rem;

  &:hover {
    opacity: 0.6;
  }
}
