@import '../../../styles/variables';
@import '../../../styles/mixins';
:host-context {
  ::ng-deep {
    .page-wrapper-inner-content{
      @include display-flex;
      @include justify-content(space-between);
      font-family: $primary-font;

      .side-menu {
        background: $side-menu-background;
        height: 100vh;
        overflow-y: auto;
        padding: 1rem 1rem 5rem;
        position: fixed;
        width: 25vw;

        h4 {
          margin-bottom: 0;
        }

        label {
          @include font-size(1, 1.4);
          color: $side-menu-label-text;
        }

        ul {
          li {
            @include font-size(1, 1);
            list-style-type: none;

            a {
              @include font-size(.9, 1);
              color: $side-menu-link-color;
              position: relative;

              &::before {
                color: $side-menu-label-text;
                content: "\f2f5 ";
                font-family: 'Material-Design-Iconic-Font';
                height: 1rem;
                left: -.3rem;
                pointer-events: none;
                position: absolute;
                width: 1rem;
              }
            }
          }
        }
      }

      .main-pane {
        padding: 1rem 1rem 1rem 28vw;

        h1 {
          @include font-size(1.6, 1.4);
        }

        h2 {
          @include font-size(1.3, 1.4);
          color: $side-menu-label-text;
        }
      }
    }
  }
}


