<div class="feature-container" #parent>
  <h1>DropDown Disabling</h1>

  <ul class="main-pane-list">
    <li>Disabling lets users to disable the dropdown when it is necessary.</li>
    <li>To disable dropdown, it is required to set value as <b>true</b> for the <b>disabled</b> attribute. The default
      value for this config is false.
    </li>
  </ul>

  <app-disabling-usage></app-disabling-usage>

  <app-example-code [files]="disablingUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#disabled">API Doc for Dropdown
    Disabling</a>
</div>