<ng-data-table
  [id]="'sales_products_demo_01'"
  [title]="'Sales Products'"
  [dataSource]="dataSource"
  [limit]="14"
  [minContentHeight]="400"
  [minContentWidth]="1080"
  [showHeader]="true"
  [pageable]="true"
  [showRefreshButton]="true"
  [showRowSelectCheckbox]="true"
  [showRowSelectAllCheckbox]="true"
  [rowSelectable]="true"
  [selectOnRowClick]="true"
  [showSubstituteRows]="true"
  [persistTableState]="false"
  [expandableRows]="false"
  [showRowExpandLoadingSpinner]="false"
  [selectMode]="'multi'">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [showInColumnSelector]="false"
    [sortable]="true"
    [filterable]="true"
    [width]="90">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span>{{ row.item.id }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="140">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span [class]="orderMethodType(row)">{{ row.item.orderMethodType }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [sortable]="true"
    [filterable]="true"
    [width]="150">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span [class.low-margin]="!isHighMargin(row)" [class.high-margin]="isHighMargin(row)">{{ row.item.grossMargin.toFixed(5) }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [sortable]="true"
    [filterable]="true"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="160">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span>{{ row.item.productType.toUpperCase() }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [sortable]="true"
    [filterable]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [sortable]="true"
    [filterable]="true"
    [width]="90">
  </ng-data-table-column>
</ng-data-table>
