<h1>Data Table Responsive Configuration</h1>

<p> The following configuration are available when setting data table responsiveness.</p>

<h6><b>
  [minWidth]="650",
  [minHeight]="200",
  [contentHeight]="400",
  [width]="800"
</b></h6>

<ul>
  <li>Specifying minWidth & minHeight will enable horizontal & vertical scroll bars if the container width and height
    met with the specified values.
  </li>
  <li>width configuration is used to specify the table width.</li>
  <li>contentHeight configuration is used to specify the table content height.</li>
</ul>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [minWidth]="650"
  [minHeight]="200"
  [contentHeight]="400"
  [width]="800"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>

<p>
  [minWidth]="650",
  [minHeight]="200"
</p>

<ul>
  <li>if width is not specified data table will take the parent container width.</li>
  <li>if contentHeight is not specified data table will take the parent container height.</li>
</ul>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [minWidth]="650"
  [minHeight]="200"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>

<h2>Suggested Links</h2>
<a [href]="''" target="_blank">API Doc for Data Table Responsive Configuration</a>
