<div class="feature-container">
  <h1>Sorting</h1>

  <p>
    Data table sorting feature allows the user to order data on initial load and as well as by clicking on the sortable
    column headers (with sort indicator icon). This feature can be used with all types of data binding technique
    described in data binding section.
  </p>

  <p>
    Ornamentum data table also supports powerful Multi-Column Sorting and Sorting Expressions, which are demonstrated
    below in detail.
  </p>

  <p>Three sorting directions are supported:</p>
  <ol class="main-pane-list">
    <li>
      <b>Ascending</b>: Data rows will be sorted by target column ascending order.
    </li>
    <li>
      <b>Descending</b>: Data will be sorted by target column descending order.
    </li>
    <li>
      <b>None</b> (default order): Data represented in natural order without sorting.
    </li>
  </ol>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-sorting-usage></app-sorting-usage>
  <app-example-code [files]="sortingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Sorting is disabled by default. It can be enable by setting the <code>[sortable]</code> input property
    <code>true</code> in any target <code>&lt;ng-data-table-column&gt;</code> component.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.sorting"></app-code-snippet>

  <p>
    There are additional input properties which can be used with <code>[sortable]</code> input property to override
    default behaviors. Ornamentum sorting behavior persist the natural order of data source while ordering data rows
    with equal target field values.
  </p>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>
    Below listed properties can be used to change the default behaviours of the sorting functionality.
  </p>

  <h4 id="sortOrder">Sort Order</h4>
  <code>sortOrder: 'asc' | 'desc' | ''</code>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-warning">Default Value: ''</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-secondary">Depends On: [sortable]</span>

  <p>
    The initial sort direction can be overridden via this input property.
  </p>

  <app-sort-order-usage></app-sort-order-usage>
  <app-example-code [files]="sortOrderUsage"></app-example-code>

  <h4 id="sortField">Sort Field</h4>
  <code>sortField: string</code>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-warning">Default Value: 'same column bound field name'</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-secondary">Depends On: [sortable]</span>

  <p>
    The sort field path is used to order the table bound data set upon sort order change. The column bound field path is
    considered as the default sort field path. The sort Field can be overridden by providing a different field path
    available in data source. Override this value only when it is required to use a different field path instead of default
    column field path.
  </p>

  <app-sort-field-usage></app-sort-field-usage>
  <app-example-code [files]="sortFieldUsage"></app-example-code>

  <h2 id="multiColumnSortable">Multi Column Sorting</h2>

  <p>
    Multi column sorting is disabled by default. It can be enabled by setting <code>[multiColumnSortable]</code>
    input property true in <code>&lt;ng-data-table&gt;</code> component.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.multiColumnSorting"></app-code-snippet>

  <p>
    This will change the default sort behavior by allowing the user to sort data based on multiple columns at once
    depending on the sort priority. The sort priority will appear on the column when data table is sorted by more than
    one column.
  </p>

  <p>
    The sort priority can be explicitly configured for sortable columns when multi column sorting mode is enabled. This
    can be configured via <code>[sortPriority]</code> input property which accepts a positive column sort index integer.
    Sort priority define the order which shorting should be applied and value of sort priority will appear on table
    column header when configured. Sort priority is only applicable for sortable columns with an explicit sort order
    of <code>'asc'</code> or <code>'desc'</code>. Descriptive errors will be thrown when sort priority is miss configured.
  </p>

  <app-multi-column-sortable-usage></app-multi-column-sortable-usage>
  <app-example-code [files]="multiColumnSortableUsage"></app-example-code>

  <h2 id="serverSideColumnSorting">Server-side Column Sorting</h2>

  <p>
    This feature enables to perform column data sorting in the server side. Also all the attributes mentioned in the
    <a [routerLink]="['/feature/data-table/functionality/column/sorting']" [fragment]="'usefulProperties'"> Useful Properties</a>
    section can be used in this nature as well.
  </p>

  <h4 id="serverSideSingleColumnSorting">Server-side Single Column Sorting</h4>

  <p>
    Server-side single sorting can be enabled by simply setting <code>sortable</code> property in to value <b>true</b>,
    when <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server-side Data Binding</a> technique is used.
  </p>

  <app-server-side-single-column-sorting></app-server-side-single-column-sorting>
  <app-example-code [files]="serverSideSingleColumnSortableUsage"></app-example-code>

  <h4 id="serverSideMultiColumnSorting">Server-side Multi Column Sorting</h4>

  <p>
     This feature will enable to perform the same behaviour mentioned in the <a [routerLink]="['/feature/data-table/functionality/column/sorting']" [fragment]="'multiColumnSortable'">Multi Column Sortable</a>, in the server-side.
  </p>

  <app-server-side-multi-column-sorting></app-server-side-multi-column-sorting>
  <app-example-code [files]="serverSideMultiColumnSortableUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/experimental/column/resizing']">Column Resizing</a><br/>
  <a [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a><br/>
  <a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Sorting</a>
</div>
