<div class="feature-container">
  <h1>Loading Spinner Template</h1>

  <p>
    Loading Spinner Template will allows to customize the data loading spinner as desired. to enable this option it is
    mandatory to enable the <code>showLoadingSpinner</code> property in grid table level configuration. Further
    information can be found upon this topic in <a [routerLink]="['/feature/data-table/options/data-loading-spinner']">Data
    Loading Spinner</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>
  <app-loading-spinner-template-usage></app-loading-spinner-template-usage>

  <app-example-code [files]="loadingSpinnerTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same as the all other templates, we can bind a specific property <code>#ngDataTableLoadingSpinner</code> into
    ng-template to indicates we are going to define a template by overriding <a
    [routerLink]="['/feature/data-table/options/data-loading-spinner']">Data Loading Spinner</a> for indicates the
    on-going data fetch operation.
  </p>

  <p>
    The following example code block demonstrate the way of data table loading spinner template can be using. In here we
    uses simple text to override the native loading functionality.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.template"></app-code-snippet>

  <p>Apart from the predefined format, users are facilitated with to define their own template as desired as below. </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.stylishTemplate"></app-code-snippet>

  <h2>Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a><br/>
  <a [routerLink]="['/feature/data-table/templating/cell-template']">Cell Template</a><br/>
  <a [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#loadingSpinnerTemplate">API Doc for Data Table Loading Spinner Template</a>
</div>
