@import '~compass-mixins/lib/_compass.scss';

$checkbox-outer-border: #ccc !default;
$checkbox-background: #fff !default;
$checkbox-check-color: #ccc !default;

.ng-dropdown-checkbox-input,
.ng-data-table-checkbox-input {
  cursor: pointer;
  margin: 0 .5rem 0 0;
  position: relative;

  &::before {
    @include transition(transform .4s cubic-bezier(.45, 1.8, .5, .75));
    @include transform(rotate(-45deg) scale(0, 0));
    border: .1rem solid;
    border-color: $checkbox-check-color;
    border-right-style: none;
    border-top-style: none;
    content: '';
    height: .3rem;
    left: .1rem;
    position: absolute;
    top: .2rem;
    width: .55rem;
    z-index: 1;

  }

  &:checked {
    &::before {
      @include transform(rotate(-45deg) scale(1, 1));
    }
  }

  &::after {

    background: $checkbox-background;
    border: .1rem solid;
    border-color: $checkbox-outer-border;
    content: '';
    cursor: pointer;
    height: 1.05rem;
    left: -.1rem;
    position: absolute;
    top: -.1rem;
    width: 1.05rem;
  }
}
