$checkbox-outer-border: #ccc !default;
$checkbox-background: #fff !default;
$checkbox-check-color: #ccc !default;

.ng-dropdown-checkbox-input,
.ng-data-table-checkbox-input {
  cursor: pointer;
  margin: 0 0.5rem 0 0;
  position: relative;

  &::before {
    border: 0.1rem solid;
    border-color: $checkbox-check-color;
    border-right-style: none;
    border-top-style: none;
    content: '';
    height: 0.3rem;
    left: 0.1rem;
    position: absolute;
    top: 0.2rem;
    transform: rotate(-45deg) scale(0, 0);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    width: 0.55rem;
    z-index: 1;
  }

  &:checked {
    &::before {
      transform: rotate(-45deg) scale(1, 1);
    }
  }

  &::after {
    background: $checkbox-background;
    border: 0.1rem solid;
    border-color: $checkbox-outer-border;
    content: '';
    cursor: pointer;
    height: 1.05rem;
    left: -0.1rem;
    position: absolute;
    top: -0.1rem;
    width: 1.05rem;
  }
}
