@import '../../../styles/variables';
@import '../../../styles/mixins';

.home-container {

  %header-background {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: 80vh;
    overflow: hidden;
    padding: 2rem;
    position: absolute;
    width: 100%;

  }

  header {
    min-height: 100vh;

    .background-overlay-sub {
      @extend %header-background;
      @include transform(skewY(-15deg));
      @include transform-origin(-5%);
      @include box-shadow(2px 2px 10px $primary-background);
      background: linear-gradient(-120deg, $background-overlay-gradient-3, $background-overlay-gradient-4);
      border-bottom: 20px solid $background-overlay-gradient-1;
      min-height: 100vh;
    }


    .intro {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(center);
      left: 5%;
      max-width: 600px;
      position: absolute;
      top: 25%;
      z-index: 3;

      @include breakpoint(max991) {
        top: 13%;
      }

      @include breakpoint(max767) {
        top: 13%;
      }

      @include breakpoint(max640) {
        top: 25%;
      }

      @include breakpoint(max480) {
        top: 50px;
      }

      @include breakpoint(max360) {
        @include transform(scale(.8));
        top: 40px;
      }

      @include breakpoint(max812) {
        @include transform(scale(.7));
        top: 20px;
      }

      .ornamentum-logo {
        background: url('../../../../assets/images/ornamentum.svg') no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        height: 10rem;
        left: 0;
        position: absolute;
        width: 50rem;

        @include breakpoint(max991) {
          width: 30rem;
        }

        @include breakpoint(max640) {
          width: 28rem;
        }

        @include breakpoint(max480) {
          width: 20rem;
        }

      }

      .intro-description {
        @include font-size(1.2, 1.8);
        @include text-shadow(0 0 1px $background-overlay-gradient-4);
        color: $main-nav-bar-active-text;
        font-weight: 300;
        left: 13.5rem;
        letter-spacing: .05rem;
        position: absolute;
        top: 8rem;
        width: 40rem;

        @include breakpoint(max991) {
          left: 8rem;
          width: 30rem;
        }

        @include breakpoint(max767) {
          left: 8rem;
          width: 27rem;
        }

        @include breakpoint(max640) {
          left: 4.5rem;
          width: 22rem;
        }

        @include breakpoint(max480) {
          left: 4.5rem;
          width: 15rem;
        }

      }

      .button-container {
        left: 13.5rem;
        position: absolute;
        top: 13rem;
        width: 40rem;

        @include breakpoint(max991) {
          left: 8rem;
          top: 15rem;
          width: 30rem;
        }

        @include breakpoint(max767) {
          left: 8rem;
          width: 27rem;
        }

        @include breakpoint(max640) {
          @include transform(scale(.9));
          left: 2rem;
          top: 18rem;
          width: 25rem;
        }

        @include breakpoint(max480) {
          @include transform(scale(.7));
          left: 0;
          top: 20rem;
          width: 25rem;
        }

        .get-started-button {
          @include font-size(1.2, 1.6);
          @include border-radius(25px);
          @include box-shadow(2px 2px 5px $background-overlay-gradient-4);
          @include transition(all 1s ease);
          @include text-shadow(0 0 3px $background-overlay-gradient-4);
          background: $background-overlay-gradient-1;
          border:  1px solid $background-overlay-gradient-1;
          color: $primary-text-color;
          cursor: pointer;
          font-weight: 300;
          letter-spacing: .05rem;
          outline: 0;
          padding: .4rem 3rem;
          text-decoration: none;

          &:hover {
            @include box-shadow(4px 4px 8px $background-overlay-gradient-4);
            background: $background-overlay-gradient-2;

          }
        }

        .git-hub-button {
          @include font-size(1.2, 1.6);
          @include border-radius(25px);
          @include box-shadow(2px 2px 5px $background-overlay-gradient-4);
          @include transition(all 1s ease);
          @include text-shadow(0 0 1px $side-menu-background);
          background: $primary-text-color;
          border:  1px solid $primary-text-color;
          color: $background-overlay-gradient-4;
          cursor: pointer;
          font-weight: 300;
          letter-spacing: .05rem;
          margin-left: 1rem;
          outline: 0;
          padding: .4rem 3rem;
          text-decoration: none;

          &:hover {
            @include box-shadow(4px 4px 8px $background-overlay-gradient-4);
            background: darken($primary-text-color, 30%);
          }
        }
      }
    }
  }

  .data-table-container {
    padding: 1rem 4rem;
    position: absolute;
    top: 70vh;
    width: 100%;
    z-index: 1000;

    @include breakpoint(max640) {
      padding: 1rem;
    }

    .data-table-inner-container {
      @include box-shadow(2px 2px 30px $primary-background);
      @include border-radius(2px);
      background: $background-overlay-gradient-3;
      padding: 1rem;

      ::ng-deep {

        .ng-data-table-container {
          .ng-data-table-content-container {
            padding: 0;

            &::-webkit-scrollbar-track {
              background-color: $scroll-bar-track-color;
            }

            &::-webkit-scrollbar {
              background-color: $nav-bar-background;
              height: 5px;
              width: 5px;
            }

            &::-webkit-scrollbar-thumb {
              @include border-radius(0);
              background-color: $nav-bar-background;
              opacity: .5;
            }
          }
        }
      }
    }
  }

  section {
    @include display-flex;
    @include flex-direction(row);
    @include flex-grow(1);
    border-bottom: 1px solid $side-menu-link-color;
    padding: 1rem 5rem;
    position: relative;
    z-index: 3;

    &:first-of-type {
      padding-top: 25rem;

      @include breakpoint(max480) {
        padding-top: 25rem;
      }

      @include breakpoint(max360) {
        padding-top: 27rem;
      }

      @include breakpoint(max812) {
        padding-top: 30rem;
      }
    }

    &:nth-of-type(even) {
      background: $secondary-background;
    }

    @include breakpoint(max767) {
      @include flex-wrap(wrap);
      display: table;
      padding: 1rem 2rem;
    }

    h1 {
      @include font-size(2, 2.4);
      @include text-shadow(0 0 1px $background-overlay-gradient-4);
      color: $background-overlay-gradient-2;
      font-weight: 400;
      margin-bottom: 0;
    }

    h2 {
      @include font-size(1.2, 1.6);
      @include text-shadow(0 0 1px $background-overlay-gradient-4);
      color: $main-nav-bar-active-text;
      font-weight: 300;
    }

    .description-container {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
    }

    .section-image-container,
    .description-container {
      @include font-size(1, 1.6);
      letter-spacing: .05rem;
      width: 50%;

      @include breakpoint(max767) {
        width: 100%;
      }

      .section-description {
        color: $secondary-text-color;
        font-weight: 300;
        padding-right: 1rem;

        a {
          color: $background-overlay-gradient-5;
        }
      }
    }

    .section-image-container {
      padding: 1rem 0;

      @include breakpoint(max767) {
        display: table-header-group;
      }
    }

    %smaller-window-image {
      @include breakpoint(max767) {
        background-position: 50%;
        margin-bottom: 20px;
        min-height: 200px;
      }
    }

    %section-images {
      margin-right: 1rem;
      max-width: 1000px;
      min-height: 300px;


      @include breakpoint(max480) {
        min-height: 200px;
      }
    }

    .section-image {


      &.rich-data-table {
        @extend %section-images;
        @extend %smaller-window-image;
        background: url('../../../../assets/images/rich-table.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.open-source {
        @extend %section-images;
        background: url('../../../../assets/images/open-source.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.ui-framework {
        @extend %section-images;
        background: url('../../../../assets/images/ui-framework-agnostic.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.configurable {
        @extend %section-images;
        background: url('../../../../assets/images/configurable.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.minimal {
        @extend %section-images;
        background: url('../../../../assets/images/minimal.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.reactive {
        @extend %section-images;
        background: url('../../../../assets/images/reactive.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.universal-angular {
        @extend %section-images;
        background: url('../../../../assets/images/universal-angular.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.no-jquery {
        @extend %section-images;
        background: url('../../../../assets/images/no-jquery.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

      &.responsive {
        @extend %section-images;
        background: url('../../../../assets/images/responsive.png') no-repeat;
        background-position: 50%;
        background-size: contain;
      }

    }

    .icon-list {
      @include font-size(1, 1.6);
      @include text-shadow(0 0 1px $background-overlay-gradient-4);
      background: linear-gradient(10deg, $nav-tabs-border-color, $side-menu-link-color);
      border: 1px solid $primary-background;
      color: $main-nav-bar-active-text;
      font-weight: 300;

      @include breakpoint(max575) {
        margin-bottom: .2rem;
      }


      .icon-box {
        padding: 1rem;

        @include breakpoint(max575) {
          @include display-flex;
        }

        .icon-description {
          margin-left: .5rem;
        }
      }

      %icon-placement {
        padding-bottom: .5rem;
      }

      .data-icon {
        @include text-shadow(0 0 1px $background-overlay-gradient-4);

        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/data.svg');
        }
      }

      .sort-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/sort.svg');
        }
      }

      .filter-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/filter.svg');
        }
      }

      .layout-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/layout.svg');
        }
      }

      .persist-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/persist.svg');
        }
      }

      .paging-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/paging.svg');
        }
      }

      .select-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/select.svg');
        }
      }

      .resize-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/resize.svg');
        }
      }

      .group-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/group.svg');
        }
      }

      .translation-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/translate.svg');
        }
      }

      .theme-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/palette.svg');
        }
      }

      .column-filter-icon {
        &::before {
          @extend %icon-placement;
          content: url('../../../../assets/images/column-filter.svg');
        }
      }
    }


    &.last-section {
      border-bottom: 0;

      .background-overlay-sub-3 {
        @extend %header-background;
        @include transform(skewY(-15deg));
        @include transform-origin(-1%);
        background: linear-gradient(120deg, $background-overlay-gradient-5, $background-overlay-gradient-6);
        left: 0;
        max-height: 875px;
        min-height: 750px;
        top: 90%;
        z-index: -1;
      }
    }
  }
}
