<div class="home-container om-dark-theme">
  <header>
    <div class="background-overlay-sub"></div>
    <div class="intro">
      <div class="ornamentum-logo"></div>
      <div class="intro-description">
        Lightweight, feature rich, highly configurable, UI framework agnostic, full responsive Angular data table with minimal dependencies.
      </div>
      <div class="button-container">
        <a class="get-started-button" [routerLink]="'/feature/data-table'">Get Started</a>
        <a class="git-hub-button" rel="noopener" target="_blank" href="https://github.com/yohangz/ornamentum">Git Hub</a>
      </div>
    </div>
  </header>

  <div class="data-table-container">
    <div class="data-table-inner-container">
      <app-data-table-demo></app-data-table-demo>
    </div>
  </div>


  <section>
    <div class="row">
      <div class="col-12">
        <h1>Feature Rich Data Table</h1>
        <h2>Ornamentum data table is a powerful widget which allows you to visualize via its table representation</h2>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="data-icon"></div>
          <div class="icon-description">Client, server and realtime data binding support with observables</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="sort-icon"></div>
          <div class="icon-description">Single and multi column sorting</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="filter-icon"></div>
          <div class="icon-description">Single and multi value filtering</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="layout-icon"></div>
          <div class="icon-description">Custom layout templating support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="persist-icon"></div>
          <div class="icon-description">Data table state persistence with session/local storage modes</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="paging-icon"></div>
          <div class="icon-description">Client and server side pagination</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="select-icon"></div>
          <div class="icon-description">Single, multi and single toggle row selection modes</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="theme-icon"></div>
          <div class="icon-description">UI theme support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="column-filter-icon"></div>
          <div class="icon-description">Column filter support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="resize-icon"></div>
          <div class="icon-description">Experimental column resizing</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="group-icon"></div>
          <div class="icon-description">Experimental row grouping support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="translation-icon"></div>
          <div class="icon-description">Translation support and much more</div>
        </div>
      </div>
    </div>
  </section>

  <section>
      <div class="description-container">
        <h1>Highly Configurable</h1>
        <h2>Comprehensive configuration support</h2>
        <div class="section-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum massa at maximus porta. Aenean in mi sed dolor blandit auctor. Morbi facilisis magna elit, at condimentum enim elementum vitae. Suspendisse sit amet aliquet orci, ut malesuada ligula. Cras accumsan imperdiet lobortis. Nulla sapien augue, volutpat sit amet nibh sed, viverra feugiat nibh
        </div>
      </div>
      <div class="section-image-container">
        <div class="section-image configurable">
        </div>
      </div>
  </section>

  <section>
      <div class="section-image-container">
        <div class="section-image ui-framework">
        </div>
      </div>
      <div class="description-container">
        <h1>UI Framework Agnostic</h1>
        <h2>Easily integrate with any of the UI frameworks</h2>
        <div class="section-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum massa at maximus porta. Aenean in mi sed dolor blandit auctor. Morbi facilisis magna elit, at condimentum enim elementum vitae. Suspendisse sit amet aliquet orci, ut malesuada ligula. Cras accumsan imperdiet lobortis. Nulla sapien augue, volutpat sit amet nibh sed, viverra feugiat nibh
        </div>
      </div>
  </section>

  <section>
    <div class="description-container">
      <h1>Full Responsive ( Mobile Friendly )</h1>
      <h2>Full Responsive ( Mobile Friendly )</h2>
      <div class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum massa at maximus porta. Aenean in mi sed dolor blandit auctor. Morbi facilisis magna elit, at condimentum enim elementum vitae. Suspendisse sit amet aliquet orci, ut malesuada ligula. Cras accumsan imperdiet lobortis. Nulla sapien augue, volutpat sit amet nibh sed, viverra feugiat nibh
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image responsive">
      </div>
    </div>
  </section>

  <section>
    <div class="section-image-container">
      <div class="section-image no-jquery">
      </div>
    </div>
    <div class="description-container">
      <h1>Built with pure angular ( No JQuery )</h1>
      <h2>Built with pure angular components ( No JQuery )</h2>
      <div class="section-description">
        Ornamentum source code is available to anyone, who is interested in to view, inspect, add modifications, enhance or even share it :)
      </div>
    </div>
  </section>

  <section>
    <div class="description-container">
      <h1>Angular universal ready </h1>
      <h2>Angular universal ready </h2>
      <div class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum massa at maximus porta. Aenean in mi sed dolor blandit auctor. Morbi facilisis magna elit, at condimentum enim elementum vitae. Suspendisse sit amet aliquet orci, ut malesuada ligula. Cras accumsan imperdiet lobortis. Nulla sapien augue, volutpat sit amet nibh sed, viverra feugiat nibh
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image universal-angular">
      </div>
    </div>
  </section>

  <section class="last-section">
    <div class="section-image-container">
      <div class="section-image reactive">
      </div>
    </div>
    <div class="description-container">
      <h1>Reactive</h1>
      <h2>Reactive</h2>
      <div class="section-description">
        Ornamentum source code is available to anyone, who is interested in to view, inspect, add modifications, enhance or even share it :)
      </div>
    </div>
  </section>

  <section >
    <div class="description-container">
      <h1>Minimal Peer Dependencies</h1>
      <h2>This data table peer-depend on very less amount of dependencies</h2>
      <div class="section-description">
        Ornamentum is exposed with the following peer dependency set which are expected to be used in the user consuming code
        <ul>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/common">@angular/common</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/core">@angular/core</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/forms">@angular/forms</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/lodash-es">lodash-es</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://rxjs-dev.firebaseapp.com/">rxjs</a></li>
        </ul>
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image minimal">
      </div>
    </div>
  </section>

  <section>
    <div class="section-image-container">
      <div class="section-image open-source">
      </div>
    </div>
    <div class="description-container">
      <h1>Open Source</h1>
      <h2>This is an open source library which works in all most all the well-known browsers</h2>
      <div class="section-description">
        Ornamentum source code is available to anyone, who is interested in to view, inspect, add modifications, enhance or even share it :)
      </div>
    </div>
  </section>
</div>

