<div class="home-container om-dark-theme">
  <header>
    <div class="background-overlay-sub"></div>
    <div class="intro">
      <div class="ornamentum-logo"></div>
      <div class="intro-description">
        Lightweight, feature rich, highly configurable, UI framework agnostic, full responsive Angular data table with minimal dependencies.
      </div>
      <div class="button-container">
        <a class="get-started-button" [routerLink]="'/feature/data-table'">Get Started</a>
        <a class="git-hub-button" rel="noopener" target="_blank" href="https://github.com/yohangz/ornamentum">Git Hub</a>
      </div>
    </div>
  </header>

  <div class="data-table-container">
    <div class="data-table-inner-container">
      <app-data-table-demo></app-data-table-demo>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="col-12">
        <h1>Feature Rich Data Table</h1>
        <h2>Ornamentum data table is a powerful widget which allows you to visualize via its table representation</h2>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="data-client-icon"></div>
          <div class="icon-description">Client side data binding support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="data-server-icon"></div>
          <div class="icon-description">Server side data binding support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="data-realtime-icon"></div>
          <div class="icon-description">Realtime data source support with observables</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="sort-icon"></div>
          <div class="icon-description">Single and multi column sorting</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="filter-icon"></div>
          <div class="icon-description">Single and multi value filtering</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="layout-icon"></div>
          <div class="icon-description">Custom layout templating support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="persist-icon"></div>
          <div class="icon-description">Data table state persistence with session/local storage modes</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="paging-icon"></div>
          <div class="icon-description">Client and server side pagination</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="select-icon"></div>
          <div class="icon-description">Single, multi and single toggle row selection modes</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="theme-icon"></div>
          <div class="icon-description">UI theme support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="column-filter-icon"></div>
          <div class="icon-description">Column filter support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="row-expand-icon"></div>
          <div class="icon-description">Detail row expand support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="resize-icon"></div>
          <div class="icon-description">Experimental column resizing</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="group-icon"></div>
          <div class="icon-description">Experimental row grouping support</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="translation-icon"></div>
          <div class="icon-description">Translation support and much more</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 icon-list">
        <div class="icon-box">
          <div class="event-bind-icon"></div>
          <div class="icon-description">Global configuration overriding capability</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="description-container">
      <h1>Highly Configurable</h1>
      <div class="section-description">
        Ornamentum is designed with a lot of flexibility in terms of configuring elements to the smallest detail level.
        It's a library designed by developers in the aim of building "A GREAT API"
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image configurable"></div>
    </div>
  </section>

  <section>
    <div class="section-image-container">
      <div class="section-image ui-framework"></div>
    </div>
    <div class="description-container">
      <h1>UI Framework Agnostic</h1>
      <div class="section-description">
        Ornamentum is UI framework (Bootstrap, Foundation, Material Design, etc.) agnostic hence it doesn't matter
        which UI framework you use. The fully configurable theme style sheets bundle provides several UI/UX flavors
        and extensive customizability out of the box.
      </div>
    </div>
  </section>

  <section>
    <div class="description-container">
      <h1>Full Responsive ( Mobile Friendly )</h1>
      <div class="section-description">
        Ornamentum is Mobile-friendly with all major device platforms. From Desktop to Tablet and Mobile devices,
        Ornamentum is fully responsive for any viewport resolution. Dynamic behavior of width calculation works hand
        in hand along with static column sizes to provide the best user experience.
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image responsive"></div>
    </div>
  </section>

  <section>
    <div class="section-image-container">
      <div class="section-image no-jquery"></div>
    </div>
    <div class="description-container">
      <h1>Built with Angular</h1>
      <div class="section-description">
        Ornamentum is built purely with Angular components by adhering to best practices thereby improve performance.
        No more JQuery to avoid explicit DOM manipulation complications.
      </div>
    </div>
  </section>

  <section>
    <div class="description-container">
      <h1>Angular universal ready</h1>
      <div class="section-description">
        Ornamentum supports server-side rendering with angular universal out of the box. This documentation site itself
        is built with Angular universal.
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image universal-angular"></div>
    </div>
  </section>

  <section class="last-section">
    <div class="section-image-container">
      <div class="section-image reactive"></div>
    </div>
    <div class="description-container">
      <h1>We are Reactive</h1>
      <div class="section-description">
        Ornamentum is Reactive programming ready with asynchronous data streams. Data binding is fully handled via
        <a href="https://rxjs-dev.firebaseapp.com" rel="noopener" target="_blank">RxJS</a>
        observable streams which accepts reactive data sources and use them under the hood for paginating, grouping,
        filtering and sorting data operations.
      </div>
    </div>
  </section>

  <section>
    <div class="description-container">
      <h1>Minimal Peer Dependencies</h1>
      <div class="section-description">
        Ornamentum is lightweight with minimal external dependencies. It only uses
        <a href="https://lodash.com/docs/4.17.15#get" rel="noopener" target="_blank">loadash/get</a> and
        <a href="https://lodash.com/docs/4.17.15#groupBy" rel="noopener" target="_blank">loadash/groupby</a>
        external dependencies apart from angular builtin modules and RxJS.
        <ul>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/common">@angular/common</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/core">@angular/core</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/forms">@angular/forms</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/lodash">lodash</a></li>
          <li class=""><a rel="noopener" target="_blank" href="https://rxjs-dev.firebaseapp.com/">rxjs</a></li>
        </ul>
      </div>
    </div>
    <div class="section-image-container">
      <div class="section-image minimal"></div>
    </div>
  </section>

  <section>
    <div class="section-image-container">
      <div class="section-image open-source"></div>
    </div>
    <div class="description-container">
      <h1>Open Source</h1>
      <div class="section-description">
        We truly believe in open-source software. Ornamentum source code is available for anyone to understand, inspect,
        modify, enhance, and distribute within the terms of MIT license.
      </div>
    </div>
  </section>
</div>
