<ng-data-table
  [id]="'sales_products_styling_05'"
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="1280"
  [contentHeight]="300"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [showIndexColumn]="true"
  [indexColumnWidth]="35"
  [rowSelectable]="true"
  [selectMode]="'multi'"
  [showRowSelectCheckbox]="true"
  [showRowSelectAllCheckbox]="true"
  [selectionColumnWidth]="35"
  [expandableRows]="true"
  [expanderColumnWidth]="35"
  [width]="900">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="150">
  </ng-data-table-column>
  <ng-template #ngDataTableRowExpand let-row="row">
    <app-responsive-conf-detail-view *ngIf="row.expanded || row.dataLoaded"
                                         [row]="row"></app-responsive-conf-detail-view>
  </ng-template>
</ng-data-table>
