$primary-text-color: #444;
$secondary-text-color: #fff;
$primary-background-color: #3b78e7;
$alert-error-color: #f00;
$secondary-background-color: #d32f2f;
$success-color: #40b30d;
$info-color: #47c5ff;
$warning-color: #ffc107;

$box-shadow-color: rgba(0, 0, 0, .2);

$multi-select-dropdown-toggle-background: lighten($primary-background-color, 100%);
$multi-select-dropdown-toggle-border: lighten($primary-text-color, 60%);
$multi-select-dropdown-toggle-color: $primary-text-color;
$multi-select-dropdown-link-color: $primary-background-color;
$multi-select-dropdown-link-color-hover: lighten($primary-text-color, 20%);
$multi-select-dropdown-icon-background: $primary-background-color;
$multi-select-dropdown-icon-color: lighten($primary-background-color, 100%);

$generated-context-background:  lighten($primary-background-color, 40%);
$generated-context-color:  $primary-text-color;


//Data Table Style
$data-table-border: lighten($primary-text-color, 60%);
$data-table-dropdown-background: lighten($primary-text-color, 90%);
$data-table-header-background: lighten($primary-text-color, 80%);
$data-table-header-secondary-background: lighten($primary-text-color, 68%);
$data-table-selected-row-background:  lighten($primary-text-color, 65%);
$data-table-odd-row-background: lighten($primary-text-color, 90%);
$data-table-even-row-background: lighten($primary-text-color, 70%);
$data-table-hover-background:  lighten($primary-background-color, 40%);
$data-table-header-text: $primary-text-color;
$data-table-header-border: lighten($primary-text-color, 60%);
$data-table-pagination-results: $primary-background-color;
$data-table-pagination-inputs: $primary-background-color;

$state-active-color: $success-color;
$state-expired-color:  lighten($primary-text-color, 50%);
$state-deactivated-color: $secondary-background-color;
$state-upcoming-color: $info-color;

$data-table-row-background: #808080;

$toggle-active-button-background: $primary-background-color;
$action-text: $primary-background-color;
