@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {
  .ng-data-table-top-header {
    @include display-flex;
    @include justify-content(space-between);
    @include font-size(.8, 1.4);
    border-bottom: .05rem solid $data-table-header-border;
    min-height: 2rem;
    padding: 0 .5rem 0 1rem;

    .ng-data-table-title {
      @include font-size(1, 1.8);
      font-weight: 700;
      margin: .4rem 0 0;
    }

    .ng-data-table-action-button-container {
      margin: .2rem;

      .ng-data-table-action-button {
        @include border-radius(0);
        background: none;
        border: 0;
        cursor: pointer;
        margin-right: 0;
        outline: none;
        padding: .2rem .5rem;

        i {
          @include font-size(1.1, 1.5);
        }
      }
    }
  }

  .ng-data-table-column-selector-fixed-column {
    font-style: italic;
    font-weight: 600;
  }
}
