<ng-data-table
  [title]="'Github Global Repositories'"
  [id]="'git_repositories_data_binding_01'"
  [limit]="5"
  [showHeader]="true"
  [showColumnSelector]="true"
  [pageable]="true"
  [minContentWidth]="1280"
  [onDataBind]="onDataBind">
  <ng-data-table-column
    [displayTrackBy]="'id'"
    [title]="'ID'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
  [displayTrackBy]="'name'"
  [title]="'Name'"
  [width]="200">
  <ng-template #ngDataTableCell let-row="row">
    <td style="vertical-align: middle">
      <span [ngClass]="{'highlight': row.item.score > 100}">{{row.item.name}}</span>
    </td>
  </ng-template>
</ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'login'"
    [title]="'Avatar'"
    [width]="200">
    <ng-template #ngDataTableCell let-row="row">
      <td style="vertical-align: middle">
        <img style="width: 48px; height: 48px; border-radius: 50%; margin-right: 10px;" [src]="row.item.owner.avatar_url"/>
        <span>{{row.item.owner.login}}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'html_url'"
    [title]="'Git Repository URL'"
    [width]="200">
    <ng-template #ngDataTableCell let-row="row">
      <td style="vertical-align: middle">
        <a class="link" [href]="row.item.html_url">{{row.item.html_url}}</a>
      </td>
    </ng-template>
  </ng-data-table-column>

</ng-data-table>
