<ng-data-table
  [title]="'Git Repositories'"
  [limit]="5"
  [showHeader]="true"
  [showColumnSelector]="true"
  [pageable]="true"
  [minContentWidth]="900"
  [onDataBind]="onDataBind">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
  [field]="'name'"
  [title]="'Name'">
  <ng-template #ngDataTableCell let-row="row">
    <td style="vertical-align: middle">
      <span [ngClass]="{'highlight': row.item.score > 100}">{{row.item.name}}</span>
    </td>
  </ng-template>
</ng-data-table-column>
  <ng-data-table-column
    [field]="'login'"
    [title]="'Avatar'">
    <ng-template #ngDataTableCell let-row="row">
      <td style="vertical-align: middle">
        <img style="width: 48px; height: 48px; border-radius: 50%; margin-right: 50px;" [src]="row.item.owner.avatar_url"/>
        <span>{{row.item.owner.login}}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'html_url'"
    [title]="'Git Profile'">
    <ng-template #ngDataTableCell let-row="row">
      <td style="vertical-align: middle">
        <a class="link" [href]="row.item.html_url">{{row.item.html_url}}</a>
      </td>
    </ng-template>
  </ng-data-table-column>

</ng-data-table>
