<ng-data-table
  [title]="'Contributor Details'"
  [limit]="10"
  [showHeader]="true"
  [showColumnSelector]="true"
  [pageable]="true"
  [minContentWidth]="900"
  [onDataBind]="onDataBind">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [sortable]="true"
    [filterable]="true"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'avatar_url'"
    [title]="'Contributor'"
    [sortable]="true"
    [filterable]="true"
    [width]="180">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <img style="width: 48px; height: 48px; border-radius: 50%" [src]="row.item.avatar_url"/> &nbsp;
        <span>{{row.item.login}}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'html_url'"
    [title]="'Profile URL'"
    [sortable]="true"
    [filterable]="true"
    [width]="240">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <a [href]="row.item.html_url">{{row.item.html_url}}</a>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'contributions'"
    [title]="'Contributions Count'"
    [sortable]="true"
    [filterable]="true"
    [width]="120">
  </ng-data-table-column>
</ng-data-table>
