$refresh-url: '/styles/images/refresh.svg';
$list-view-url: '/styles/images/list-view.svg';

$sort-reset-url: '/styles/images/sort-reset.svg';
$sort-asc-url: '/styles/images/sort-asc.svg';
$sort-dsc-url: '/styles/images/sort-dsc.svg';

$collapsed-url: '/styles/images/collapsed-icon.svg';
$expanded-url: '/styles/images/expanded-icon.svg';

$close-url: '/styles/images/close.svg';

$dropdown-arrow-url: '/styles/images/dropdown-arrow.svg';
$search-url: '/styles/images/search.svg';
