<div class="feature-container">
  <h1>Menu Width and Height</h1>

  <p>This will allow users to configure the dropdown menu width and height by overriding default dropdown
    properties.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-menu-width-height-usage></app-menu-width-height-usage>
  <app-example-code [files]="menuWidthHeightUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    User allow to define dropdown view height and width by manually. for that simply bind <code>menuHeight</code> or
    <code>menuWidth</code> properties together or individually.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.menuResize"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>

  <h4 id="menuHeight">Menu Height</h4>
  <code>menuHeight: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 250</h5>

  <p>Resize the height of dropdown.</p>

  <app-menu-height-usage></app-menu-height-usage>
  <app-example-code [files]="menuHeightUsage"></app-example-code>

  <h4 id="menuWidth">Menu Width</h4>
  <code>menuWidth: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 320</h5>

  <p>Resize the width of dropdown view.</p>

  <app-menu-width-usage></app-menu-width-usage>
  <app-example-code [files]="menuWidthUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/styling/menu-position']">Menu Position</a><br/>
  <a [routerLink]="['/feature/dropdown/features//item/filtering']">Filtering</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html">API Doc for Dropdown Menu Width and Height</a>
</div>
