<div class="feature-container">
  <h1>Data Table Overview</h1>
  <p>
    Ornamentum Data Table is a highly configurable <a rel="noopener" target="_blank"
                                                      href="https://angular.io">Angular</a> component which supports
    table view data representation. Ornamentum supports client/server/real-time data binding along with data
    filtering, sorting, grouping, pagination, selection, templating, state persistence, theming and much more.
  </p>

  <p>
    Ornamentum can be integrated with any of the UI frameworks that are currently available.
    The fully responsive, dynamic and mobile friendly design of the user interface will deliver the best user experience in any device resolution.
    The grid is built with pure angular components and minimal peer dependencies to minimize overall bundle size.
    Seamless integration via developer friendly API along with a rich sample code based documentation.
    The grid supports all angular supported browsers out of the box.
  </p>

  <h2 id="advancedUsage">Usage Demo</h2>
  <p>
    Following example depicts the outer appearance of the Ornamentum Data Table. Try out yourself in <a rel="noopener" target="_blank" href="https://stackblitz.com/edit/ornametum-basic-usage-data-table">Stack Blitz Demo</a>.
  </p>

  <app-advanced-usage></app-advanced-usage>

  <h2 id="basicInstallation">Basic Installation</h2>
  <p>
    <a rel="noopener" target="_blank" href="https://angular.io">Angular 8</a> or higher version is required to use the
    latest version ({{packageVersion}}) of Ornamentum.
  </p>

  <ol class="main-pane-list">
    <li>
      <p>
        Install Ornamentum packages and it's peer dependencies using either of following command depending on your
        package manager.
      </p>
      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.npm" [showLineNumbers]="false"></app-code-snippet>
      <p>or</p>
      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.yarn"
                        [showLineNumbers]="false"></app-code-snippet>
    </li>
    <li>
      <p>Once the installation is successful, add the Ornamentum Data Table component to your application Root Module as
        depicted below.
      </p>
      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.moduleImport"></app-code-snippet>
    </li>
    <li>
      <p>
        Import the Ornamentum theme style sheet reference to apply theming of your preference. Refer
        <a [routerLink]="['/feature/data-table/styling/themes']">Themes</a> section for more details.
      </p>
      <ul class="main-pane-list">
        <li>
          <p>
            <b>SCSS</b> (recommended approach): Include Ornamentum theme SCSS style sheets in
            <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
          </p>
          <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.scssImport"></app-code-snippet>

          <p>
            You must install <a rel="noopener" target="_blank" href="https://www.npmjs.com/package/compass-mixins">compass mixins</a> if you are using scss style sheets. Install using either
            of following command depending on your package manager.
          </p>

          <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.npmCompassImport"
                            [showLineNumbers]="false"></app-code-snippet>
          <p>or</p>
          <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.yarnCompassImport"
                            [showLineNumbers]="false"></app-code-snippet>
        </li>
        <li>
          <p>
            <b>CSS</b>: Include Ornamentum prebuilt CSS theme style sheets in
            <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
          </p>
          <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.cssImport"></app-code-snippet>
        </li>
      </ul>
    </li>
    <li>
      <p>Finally, use Ornamentum data table component.</p>
      <b>Example usage component controller class</b>
      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.componentController"></app-code-snippet>
      <b>Example usage component markup file</b>
      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.componentMarkup"></app-code-snippet>
    </li>
  </ol>

  <h2 id="peerDependencies">Peer Dependencies</h2>
  <p>Following dependencies are required to be installed along with Ornamentum.</p>

  <ul class="main-pane-list">
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/common">@angular/common</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/core">@angular/core</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/forms">@angular/forms</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/lodash">lodash</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/rxjs">rxjs</a></li>
  </ul>

  <h2 id="functionality">Functionality</h2>
  <p>Refer below sections for available feature/functionality usage in detail.</p>

  <ul class="main-pane-list">
    <li><b>Data Binding</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client-side Basic Data binding</a></li>
      <li><a [routerLink]="['/feature/data-table/data-binding/client-side/stream']">Client-side Stream Data binding</a></li>
      <li><a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server-side Basic Data binding</a></li>
      <li><a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server-side Web Socket Data binding</a></li>
    </ul>

    <li><b>Functionality</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a></li>
      <li><a [routerLink]="['/feature/data-table/functionality/column/sorting']">Sorting</a></li>
      <li><a [routerLink]="['/feature/data-table/functionality/column/filtering']">Filtering</a></li>
      <li><a [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a></li>
      <li><a [routerLink]="['/feature/data-table/functionality/row/grouping']">Dynamic Row Spanning</a></li>
    </ul>

    <li><b>Templating</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/templating/cell-template']">Cell Template</a></li>
      <li><a [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a></li>
      <li><a [routerLink]="['/feature/data-table/templating/loading-spinner-template']">Loading Spinner Template</a></li>
      <li><a [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a></li>
    </ul>

    <li><b>Options</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/options/data-loading-spinner']">Data Loading Spinner</a></li>
      <li><a [routerLink]="['/feature/data-table/options/substitute-rows']">Substitute Rows</a></li>
      <li><a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a></li>
    </ul>

    <li><b>Styling</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/styling/responsive-configuration']">Responsive Configuration</a></li>
      <li><a [routerLink]="['/feature/data-table/styling/themes']">Themes</a></li>
      <li><a [routerLink]="['/feature/data-table/styling/custom-theming']">Custom Theming</a></li>
    </ul>

    <li><b>Advanced</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/advanced/events']">Events</a></li>
      <li><a [routerLink]="['/feature/data-table/advanced/state-persistence']">State Persistence</a></li>
      <li><a [routerLink]="['/feature/data-table/advanced/translations']">Translations</a></li>
      <li><a [routerLink]="['/feature/data-table/advanced/config-overriding']">Configuration Overriding</a></li>
    </ul>

    <li><b>Experimental</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/data-table/experimental/column/resizing']">Column Resizing</a></li>
    </ul>
  </ul>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/overview/basic-usage']">Dropdown Basic Usage</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/modules/DataTableModule.html">API Doc for DataTable Module</a>
</div>
