<ng-dropdown
  [id]="'products_advanced_10'"
  [selectTrackBy]="'id'"
  [displayTrackBy]="'productType'"
  [options]="options"
  [selectMode]="'multi'"
  (selectChange)="onSelectChange($event)">
</ng-dropdown>

<br/>
<p class="event-output" *ngIf="selectChangeEventData.length; else noDataAvailable">
  <span *ngFor="let option of selectChangeEventData.slice().reverse()">{{ option }}<br/></span>
</p>
<ng-template #noDataAvailable>
  <p class="event-output">Select on any dropdown option to see the output</p>
</ng-template>
