<ng-dropdown
  [id]="'products_advanced_10'"
  [selectTrackBy]="'id'"
  [displayTrackBy]="'productType'"
  [items]="items"
  [selectMode]="'multi'"
  (selectChange)="onSelectChange($event)">
</ng-dropdown>

<br/>
<p class="event-output" *ngIf="selectChangeEventData.length; else noDataAvailable">
  <span *ngFor="let item of selectChangeEventData.slice().reverse()">{{ item }}<br/></span>
</p>
<ng-template #noDataAvailable>
  <p class="event-output">Select on any dropdown item to see the output</p>
</ng-template>
