<div class="feature-container">
  <h1>DropDown Item Disabling</h1>

  <ul class="main-pane-list">
    <li>Disabling lets users to disable the dropdown items when it is necessary.</li>
    <li>To disable dropdown item(s), it is required to provide the boolean valued (to indicate whether an item needs to
      be
      disable or not) key name for <b>disabledTrackBy</b> attribute.
    </li>
    <li>According to following example above property is set as follows.</li>
    <ul>
      <li>[disabledTrackBy]="'disabled'" => This 'disabled' key contains boolean value which is used to control the
        disable state of an item.
      </li>
    </ul>
  </ul>

  <app-item-disabling-usage></app-item-disabling-usage>

  <app-example-code [files]="itemDisablingUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#disabledTrackBy">API Doc for
    Dropdown Item Disabling</a>
</div>
