<div class="feature-container">
  <h1>Substitute Rows</h1>
  <p>
    Substitute rows are used to show empty rows when there is a lesser amount of data is available than the declared <a
    [routerLink]="['/feature/data-table/functionality/pagination']" [fragment]="'limit'">limit</a>.
    In such cases, ornamentum will leave the rest of the data rows empty instead of showing a blank area. If the data
    set is equally divided by the declared limit the substitute rows will not be displayed even though the substitute
    rows are <b>enabled</b>.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-substitute-rows-usage></app-substitute-rows-usage>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>showSubstituteRows: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <ol class="main-pane-list">
    <li>
      <h6 id="substituteRowsEnabled"><b>Substitute Rows Enabled</b></h6>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.showSubstituteRowsEnabled"></app-code-snippet>

      <p>To enable substitute rows, set <code>showSubstituteRows</code> to <b>true</b>, and by default, the property
        is in <b>false</b> state. In the example in <a [routerLink]="['/feature/data-table/options/substitute-rows']"
                                                       [fragment]="'whatYouWillSee'">What You Will See</a> section, the
        data <code>limit</code> is declared as 10 items. Still, due to the lack of data availability the table shows 05
        data rows with additional 05 empty rows to fill the gap of data table limit.</p>

      <app-example-code [files]="substituteRowsUsage"></app-example-code>

    </li>

    <li>
      <h6 id="substituteRowsDisabled"><b>Substitute Rows Disabled</b></h6>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.showSubstituteRowsDisabled"></app-code-snippet>

      <p>
        In the following example <code>limit</code> is specified as 10 items, But due to the lack of data availability
        table is showing 05 data rows and instead of showing additional empty data rows it shows an empty area. That is
        because the substitute rows are not defined.
      </p>

      <app-substitute-rows-disabled-usage></app-substitute-rows-disabled-usage>
      <app-example-code [files]="withoutSubstituteRowsUsage"></app-example-code>
    </li>
  </ol>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#showSubstituteRows">API Doc for
    Data Table Substitute Rows</a>
</div>
