@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  .ng-data-table-wrapper {
    background: $data-table-header-secondary-background;
    border: .07rem solid $data-table-header-border;
    overflow: hidden;

    &.scrollable {
      .ng-data-table-header-wrapper {
        padding-right: 15px;
        position: relative;
      }

      .ng-data-table-content {
        overflow: auto;
      }

      > .ng-data-table-inner-wrapper {
        > .ng-data-table-content {
          overflow-y: scroll;
        }
      }
    }

    ::ng-deep {
      .ng-dropdown {
        .ng-dropdown-toggle {
          @include font-size(.7, 1.1);
          margin: .2rem 0;
          padding: .26rem .5rem;
          text-align: left;
          width: 100%;

          .ng-dropdown-selected-value {
            background: none;
          }

          &::after {
            position: absolute;
            right: .5rem;
            top: .7rem;
          }
        }
      }
    }
  }

  .ng-data-table-inner-wrapper {
    background: $data-table-header-secondary-background;
    border-color: $data-table-header-border;
    overflow-y: auto;
  }

  .ng-data-table-header-wrapper {
    background: $data-table-header-secondary-background;
    border: 0;

    .ng-data-table-header {
      border-right: .05rem solid $data-table-header-border;
      overflow: hidden;
      position: relative;
      width: 100%;

      .ng-data-table {
        border: 0;
      }
    }
  }

  .ng-data-table-content {
    border-top: .05rem solid $data-table-border;
    overflow: initial;
    position: relative;
    width: 100%;

    .ng-data-table {
      border-bottom: 0;
      border-top: 0;
      border-right: .05rem solid transparent;
      overflow: hidden;
    }

    .ng-data-table-loading-cover {
      background: $data-table-header-background;
      border-color: $data-table-header-border;
      border-top: .05rem solid transparent;
      height: 100%;
      left: 0;
      opacity: .8;
      pointer-events: none;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;

      .ng-data-table-loading-animation {
        animation: loader 1s infinite ease-in-out;
        background-color: $toggle-active-button-background;
        border-radius: 100%;
        content: '';
        display: block;
        height: 40px;
        left: 50%;
        margin: 0 auto;
        position: absolute;
        top: 45%;
        transform: translate(-50%, -50%);
        width: 40px;
      }
    }
  }

  .ng-data-table {
    border: .05rem solid $data-table-border;
    border-collapse: collapse;
    border-left: 0;
    margin-bottom: 0;
    max-width: 100%;
    table-layout: fixed;
    width: 100%;

    thead {
      //display: block;
      > tr {
        > th {
          @include font-size(.7, 1.6);
          background: $data-table-header-secondary-background;
          border: .05rem solid $data-table-header-border;
          border-right: 0;
          border-top: 0;
          color: $data-table-header-text;
          padding: 0 .5rem;
          position: relative;
          vertical-align: bottom;
          word-break: break-all;

          .ng-data-table-checkbox-input {
            margin: 0;
          }


          .ng-data-table-column-resize-handle {
            bottom: 0;
            cursor: col-resize;
            display: block;
            height: 100%;
            position: absolute;
            right: -.5rem;
            width: 1rem;
            z-index: 10001;

          }

          .ng-data-table-column-sort-icon {
            float: right;
            cursor: pointer;
          }

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }
        }

        [hidden] {
          animation: rotating 1s ease;
        }


        &:last-child {
          th {
            background: $data-table-header-secondary-background;
            border: 0;
            border-right: .05rem solid $data-table-header-border;

            input {
              border: .05rem solid $data-table-header-border;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              line-height: inherit;
              margin: .2rem 0;
              outline: 0;
              padding: 0 .5rem;
              width: 100%;
            }

            &:last-child {
              border-right: 0;
            }
          }
        }
      }
    }

    ::ng-deep {

      tbody {

        .ng-data-table-loading-spinner {
          &::before {
            background: $data-table-row-background;
            bottom: 0;
            height: 100%;
            opacity: .3;
            position: absolute;
            width: 100%;
          }
        }

        > tr {

          cursor: pointer;

          > td {
            @include font-size(.7, 1.4);
            background: $data-table-row-background;
            border-left: 0;
            border-right: .05rem solid  $data-table-border;
            border-top: .05rem solid $data-table-border;
            color: $data-table-header-text;
            font-weight: 400;
            padding: .2rem .5rem;
            vertical-align: top;
            word-break: break-all;

            .checkbox-input {
              margin: 0;
            }


            &:last-child {
              border-right: 0;
            }

            .ng-data-table-button-container {
              .ng-data-table-action-button {
                cursor: pointer;
                display: inline-block;
                padding: 0 .5rem;

                i {
                  @include font-size(.9, 1);
                  padding-right: 0;
                }
              }
            }

            .state-active {
              color: $state-active-color;
            }

            .state-expired {
              color: $state-expired-color;
            }

            .state-deactivated {
              color: $state-deactivated-color;
            }

            .state-upcoming {
              color: $state-upcoming-color;
            }

          }

          &.row-odd {
            td {
              background: $data-table-odd-row-background;
            }

            &:hover {
              td {
                background: $data-table-hover-background;
              }

              + .row-odd {

                td {
                  background: $data-table-hover-background;
                }
              }
            }
          }

          &.row-even {
            td {
              background: $data-table-even-row-background;
            }

            &:hover {
              td {
                background: $data-table-hover-background;
              }

              + .row-even {

                td {
                  background: $data-table-hover-background;
                }
              }
            }
          }

          &.selected {
            td {
              background: $data-table-selected-row-background;
            }
          }

          &.disabled {
            opacity: .3;
            pointer-events: none;
          }

          &:first-child {
            td {
              border-top: 0;
            }
          }
        }

        [hidden] {
          animation: rotating 2s linear infinite;
        }

        + tbody {
          border-top: .05rem solid $data-table-border;
        }
      }
    }
  }
}
@keyframes loader {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
