<ng-data-table [title]="'Sales Products'" [minHeight]="200" [minWidth]="900" [limit]="10" [pageable]="true" [onDataBind]="onDataBind">
  <ng-data-table-column [field]="'id'" [title]="'ID'" [filterable]="true" [filterPlaceholder]="'Search'" [width]="80"> </ng-data-table-column>
  <ng-data-table-column [field]="'orderMethodType'" [title]="'Order Method Type'" [filterPlaceholder]="'Search'" [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column [field]="'retailerType'" [title]="'Retailer Type'" [filterPlaceholder]="'Search'" [filterable]="true"> </ng-data-table-column>
  <ng-data-table-column [field]="'productLine'" [title]="'Product Line'" [filterPlaceholder]="'Search'" [filterable]="true"> </ng-data-table-column>
  <ng-data-table-column [field]="'productType'" [title]="'Product Type'" [filterPlaceholder]="'Search'" [filterable]="true"> </ng-data-table-column>
  <ng-data-table-column [field]="'revenue'" [title]="'Revenue'" [filterPlaceholder]="'Search'" [filterable]="true" [width]="120">
  </ng-data-table-column>
  <ng-data-table-column [field]="'quantity'" [title]="'Quantity'" [filterPlaceholder]="'Search'" [filterable]="true" [width]="80">
  </ng-data-table-column>
  <ng-data-table-column [field]="'grossMargin'" [title]="'Gross Margin'" [filterPlaceholder]="'Search'" [filterable]="true" [width]="100">
  </ng-data-table-column>
</ng-data-table>
