<div class="feature-container">
  <h1>No Records Template</h1>

  <p>
    This feature enables users to customize the table body by providing their own template to show when the data is not available, by providing
    respective mandatory fields for no records template end-user can be notify in a preferred manner in no data scenario.
  </p>

  <p>
    No records template can be integrate into expandable rows as well. for more details about expandable row configurations please refer
    <a [routerLink]="['/feature/data-table/templates/expand-template']"> Row Expand Template</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-no-records-template-usage></app-no-records-template-usage>

  <p>
    The below demo snippet will demonstrate a sample no data scenario. until a success data response, we have enabled
    <a [routerLink]="['/feature/data-table/data-loading-spinner']">Data Loading Spinner</a> for purpose of visible the process of data retrieval and
    make the data table more attractive.
  </p>

  <app-example-code [files]="noRecordsTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same as the all other templates, we can bind a specific property <code>#ngDataTableNoRecords</code> into <b>ng-template</b> to indicates we are
    going to define a template to show when no data is retrieved on data fetch call.
  </p>

  <pre class="prettyprint lang-html">{{ demoSnippet.template }}</pre>

  <p>Or else you can provide your own custom templates with any custom styles as you preferred within the ng-template scope.</p>

  <pre class="prettyprint lang-html">{{ demoSnippet.stylishTemplate }}</pre>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templates/loading-spinner-template']">Loading Spinner Template</a><br />
  <a [routerLink]="['/feature/data-table/header-details']">Header Details</a><br />
  <a [routerLink]="['/feature/data-table/translations']">Translations</a><br />
  <a [routerLink]="['/feature/data-table/client-side-data-binding']">Client Side Data Binding</a><br />
  <a [routerLink]="['/feature/data-table/server-side-data-binding']">Server Side Data Binding</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#noRecordsTemplate"
    >API Doc for Data Table No Records Template</a
  >
</div>
