<div class="feature-container">
  <h1>Data Table No Records Template</h1>
  <p>This feature enables users to customize the table body by providing their own template where data is not
    available.</p>

  <label>The following code block example shows the way of no records template using.
    <pre class="prettyprint lang-html">{{demoSnippet.template}}</pre>
  </label>

  <p>Here is the table output after applying the above no records template.</p>

  <app-no-records-template-usage></app-no-records-template-usage>

  <app-example-code [files]="noRecordsTemplateUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#noRecordsTemplate">API Doc for
    Data Table No Records Template</a>
</div>
