<div class="feature-container" #parent>
  <h1>Data Table Overview</h1>
  <p>Full fledged data table component with extensive configuration support.</p>

  <h1 id="featureOverview">Feature Overview</h1>
  <ul class="main-pane-list">
    <li>Client/Server data binding</li>
    <li>Live/real-time data binding</li>
    <li>Pagination</li>
    <li>Multi/Single column sorting</li>
    <li>Row grouping</li>
    <li>Multi/Single value filtering</li>
    <li>Row selection</li>
    <li>Expandable rows</li>
    <li>Column resizing</li>
    <li>Cell/Header templating</li>
    <li>Translations</li>
  </ul>
  <h1 id="basicUsage">Basic Usage</h1>
  <p>The following example demonstrates the Data Table basic usage.</p>


  <app-basic-usage [parentElement]="parent"></app-basic-usage>


  <app-example-code [files]="basicUsage">
  </app-example-code>

  <h2 id="dependencies">Dependencies</h2>
  <ul class="main-pane-list">
    <li>@angular/common</li>
    <li>@angular/core</li>
    <li>@angular/forms</li>
    <li>lodash-es</li>
    <li>rxjs</li>
  </ul>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DataTableModule.html">API Doc for DataTableModule</a>
</div>
