<div class="feature-container">
  <h1>Data Loading Template</h1>

  <p>
    This feature enables users to customize native template of Data loading spinner by providing their own template when
    data loading is in progress. for it's basic usages and example please refer
    <a [routerLink]="['/feature/dropdown/templating/data-loading-template']" [fragment]="'basicUsage'">Basic Usage</a>
    section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-data-loading-template-usage></app-data-loading-template-usage>
  <app-example-code [files]="dataLoadingTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same as the all other templates, we can bind a specific property <code>#ngDropdownLoadingSpinner</code> into <b>ng-template</b>
    to indicates customize data loading spinner is need to be applied.
  </p>

  <p>
    The following code block example shows the way of dropdown data loading template usages. In here we used simple
    text to override the native loading functionality. You can provide your own custom templates with any custom styles as you want.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.template"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/advanced/events']">Events</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">Server-side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/stream']">Client-side Stream Data Binding</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#loadingSpinnerTemplate">API Doc for Dropdown Data Loading Template</a>
</div>
