<h1>Data Table Data Persistence</h1>

<ul>
  <li>[id]="state saving key name in the browser storage"</li>
  <li>[persistTableState]="true or false"</li>
</ul>

<ng-data-table
  [id]="'station_detail_summery'"
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [persistTableState]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
</ng-data-table>
