<div class="feature-container">
  <h1>Column Sorting</h1>

  <p>
    This feature enables column data sorting according to the selected sorting order in specified column fields. Following configuration types are
    available when working with data table column sorting.
  </p>

  <p>There are 03 types of sorting orders, which are:</p>
  <ol class="main-pane-list">
    <li><b>Ascending</b> : column data will be sort according to ascending order.</li>
    <li><b>Descending</b> : column data will be sort according to descending order.</li>
    <li><b>None</b> (Default Sorting Order) : column data will be displayed as it is.</li>
  </ol>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-column-sorting-usage></app-column-sorting-usage>
  <app-example-code [files]="columnSortingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Column sorting can be enabled in any data table column by declaring <code>sortable</code> to <b>true</b> otherwise it will be <b>false</b> by
    default.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.sorting"></app-code-snippet>

  <p>
    By default the table does not sort it’s contents. Also there are set of additional properties can be uses with
    <code>sortable</code> property and those will be explain in next section.
  </p>

  <p>
    After enabling the <code>sortable</code> users can simply change the sorting order to any above mention 3 types, by clicking on icon that appears
    on data table column top right side corner.
  </p>

  <h2 id="usefulProperties">Useful properties</h2>

  <p>
    There are few more properties that affects to the behaviour of column sorting. All the available properties can be applied to each table column by
    independently excepts <a href="/feature/data-table/column/sorting#multiColumnSortable">Multi Column Sortable</a> property.
  </p>

  <h4 id="sortOrder">Sort Order</h4>
  <code>sortOrder: string = 'asc' | 'desc' | ''</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>

  <p>
    This property allow users to order the data that already fetched or fetching from a data source. If sorting order is not mentioned by the user,
    then the default sorting mechanism will be applied for those <code>sortable</code> enabled columns.
  </p>

  <app-column-sorting-sort-order-usage></app-column-sorting-sort-order-usage>
  <app-example-code [files]="columnSortingUsageWithSortOrder"></app-example-code>

  <h4 id="sortField">Sort Field</h4>
  <code>sortField: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 'same column field name'</h5>

  <p>
    Sort Field can be override by providing a different column field name, by default sort field value is same to it's column name. providing a
    different column name to the sort field, ornamentum will start sorting according to the provided column's data.
  </p>

  <app-column-sorting-sort-field-usage></app-column-sorting-sort-field-usage>
  <app-example-code [files]="columnSortingUsageWithSortField"></app-example-code>

  <h4 id="multiColumnSortable">Multi Column Sortable</h4>
  <code>multiColumnSortable: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>
    Multi column sortable can be only use inside the data table global level configuration. If multi column sortable is enabled, data sorting will be
    process based on previously preserved column sorting order.
  </p>

  <app-column-sorting-multi-column-sortable-usage></app-column-sorting-multi-column-sortable-usage>
  <app-example-code [files]="columnSortingUsageWithMultiColumnSortable"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/column/resizing']" id="columnResizing">Column Resizing</a><br />
  <a [routerLink]="['/feature/data-table/pagination']">Pagination</a><br />
  <a [routerLink]="['/feature/data-table/header-details']">Header Details</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Column Sorting</a>
</div>
