<div class="feature-container">
  <h1 class="d-inline-block">Data Table Pagination</h1>
  <p>
    Pagination feature allows you to bind render large data sets without a performance impact while reducing the
    unnecessarily
    long scrollbars. This feature can be used with all types of data binding technique described in data binding
    section.
    The pagination controls are displayed in the table footer section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-pagination-usage></app-pagination-usage>
  <app-example-code [files]="paginationUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>pageable: boolean</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    Pagination is disabled by default. It can be enable by setting the <code>[pageable]</code> input property
    <code>true</code> in <code>&lt;ng-data-table&gt;</code> component. Pagination functionality depends on
    <code>[page]</code> and <code>[limit]</code> input property values described later in this section.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.pagination"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>
    Below listed properties can be used to change the default behaviours of the pagination functionality. These property
    values are applicable only when pagination is enabled.
  </p>

  <h4 id="page">Page</h4>
  <p>
    <code>page: number</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: 1</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    Page input property can be used to declare default the page to be rendered on init.
  </p>

  <app-page-usage></app-page-usage>
  <app-example-code [files]="pageUsage"></app-example-code>

  <h4 id="limit">Limit</h4>
  <p>
    <code>limit: number</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: 10</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    Limit input property can be used to declare how many rows should be displayed per page.
  </p>

  <app-limit-usage></app-limit-usage>
  <app-example-code [files]="limitUsage"></app-example-code>

  <h4 id="serverSidePagination">Server Side Pagination</h4>

  <p>
    Pagination functionality is fully supported by server side date binding approaches out of the box. Please refer
    <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a>
    and <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side WebSocket</a> Data
    Binding documentations for more information.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>

  <a [routerLink]="['/feature/data-table/advanced/translations']">Translations</a><br/>
  <a [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a><br/>
  <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Column Filtering</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#pageable">API Doc for Data Table
    Pagination</a>
</div>
