@import '../../../styles/variables';
@import '../../../styles/mixins';

%pretty-icons {
  background-size: 100% 100%;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 1.2rem;
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
  width: 1.2rem;
}

.ts-icon {
  @extend %pretty-icons;
  background: url('../../../../assets/images/typescript.svg') no-repeat;
}

.html-icon {
  @extend %pretty-icons;
  background: url('../../../../assets/images/html-5.svg') no-repeat;
}

.json-icon {
  @extend %pretty-icons;
  background: url('../../../../assets/images/json.svg') no-repeat;
}

.css-icon {
  @extend %pretty-icons;
  background: url('../../../../assets/images/css-3.svg') no-repeat;
}

.prettyprint {
  background: $nav-tabs-border-color;
  color: $primary-text-color;
  white-space: pre-wrap;

  ol {
    padding-left: 3.5rem;

    li {
      background-color: $nav-tabs-border-color;
    }
  }
}
