<app-tab-set [ngSwitch]="">
  <ng-container *ngFor="let file of files; index as i">
    <app-tab [ngSwitch]="file.type" [id]="'tab-' + i" [title]="file.name">
      <ng-template #tabTitle>
        <i *ngSwitchCase="FileType.TS" class="ts-icon"></i>
        <i *ngSwitchCase="FileType.CSS" class="css-icon"></i>
        <i *ngSwitchCase="FileType.HTML" class="html-icon"></i>
        <i *ngSwitchCase="FileType.JSON" class="json-icon"></i>
        <span>{{ file.name }}</span>
      </ng-template>
      <ng-template #tabContent>
       <app-code-snippet [type]="file.type" [content]="file.content"></app-code-snippet>
      </ng-template>
    </app-tab>
  </ng-container>
</app-tab-set>
