<h1>Data Table Column Sorting</h1>
<p>This feature enables users to sort the column data according to their requirement. Following configurations are
  available when dealing with data table column sorting.</p>

<ul>
  <li>[sortable]="true or false" => Enables/disables column sorting configuration. The default value for this config is
    false.
  </li>
  <li>[sortOrder]="SortOrder.ASC" | "SortOrder.DESC" | "SortOrder.NONE" => There are 3 types of sorting behaviours are
    available. If sorting method is not mentioned by the user, then the default sorting mechanism(SortOrder.NONE) will
    be applied for those columns.
    According to this example this is how sorting is applied.
    <ul>
      <li>ID column: SortOrder.ASC</li>
      <li>Station Name & Status Value columns: SortOrder.ASC</li>
      <li>Available Bikes & Address columns: SortOrder.NONE</li>
    </ul>
  </li>
</ul>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [sortable]="true"
    [sortOrder]="SortOrder.ASC"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'"
    [sortable]="true"
    [sortOrder]="SortOrder.DESC">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'"
    [sortable]="true"
    [sortOrder]="SortOrder.DESC">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'"
    [sortable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'"
    [sortable]="true">
  </ng-data-table-column>
</ng-data-table>

<h2>Suggested Links</h2>
<a [href]="''" target="_blank">API Doc for Data Table Column Sorting</a>
