<div class="feature-container">
  <h1>Dropdown List Overview</h1>

  <p>
    Ornamentum dropdown component is a highly configurable lightweight data dropdown list
    <a rel="noopener" target="_blank" href="https://angular.io">Angular</a>
    component with multi and single selection modes. Additionally, it supports client/server/real-time
    data binding along with data filtering, grouping, load on scroll mode, selection, templating, state persistence,
    theming and much more.
  </p>

  <p>
    Ornamentum dropdown can be integrated with any of the UI frameworks that are currently available.
    The fully responsive, dynamic and mobile friendly design of the user interface will deliver the best user experience
    in any device resolution. It's built with pure angular components and minimal peer dependencies to
    minimize overall bundle size. Seamless integration via developer friendly API along with a rich sample code based
    documentation. Ornamentum works with all angular supported browsers out of the box.
  </p>

  <h2 id="advancedUsage">Usage Demo</h2>
  <p>
    Following example depicts the basic usage of the Ornamentum dropdown list component. Try out yourself in
    <a rel="noopener" target="_blank" href="https://stackblitz.com/edit/ornametum-basic-usage-dropdown">Stack Blitz Demo</a>.
  </p>

  <app-advanced-usage></app-advanced-usage>

  <h2 id="basicInstallation">Basic Installation</h2>
  <p>
    Ornamentum major versions are aligned with Angular Major versions hence, You can <u>ONLY</u> use Ornamentum 8.x.x versions
    with Angular 8.x.x version. Latest Ornamentum version ({{packageVersion}}) require Angular 8.x.x version.
  </p>

  <ol class="main-pane-list">
    <li>
      <p>Install Ornamentum packages and it's peer dependencies using either of following command depending on your
        dependency manager.</p>
      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.npm" [showLineNumbers]="false"></app-code-snippet>
      <p>or</p>
      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.yarn"
                        [showLineNumbers]="false"></app-code-snippet>
    </li>
    <li>
      <p>Once the installation is successful, add the Ornamentum dropdown list component to your application root module as
        shown below.</p>
      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.moduleImport"></app-code-snippet>
    </li>
    <li>
      <p>
        Import the Ornamentum theme style sheet reference to apply theming of your preference. Follow
        <a rel="noopener" target="_blank" href="https://github.com/angular/angular-cli/wiki/stories-global-styles">Angular CLI: Global Styles</a>
        documentation for more information on how to integrate third party style sheets.
        Refer <a [routerLink]="['/feature/dropdown/styling/themes']">Ornamentum Themes</a> documentation for more details
        about theme style sheet references.
      </p>
      <p>
        <b>SCSS</b> (recommended): Include Ornamentum theme source
        <a rel="noopener" target="_blank" href="https://sass-lang.com/">SCSS</a> references.
      </p>

      <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.scssImport"></app-code-snippet>

      <p>or</p>

      <p>
        <b>CSS</b>: Include Ornamentum prebuilt CSS references.
      </p>
      <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.cssImport"></app-code-snippet>
    </li>
    <li>
      <p>Finally, use Ornamentum dropdown list component.</p>
      <b>Example usage component controller class</b>
      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.componentController"></app-code-snippet>
      <b>Example usage component markup file</b>
      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.componentMarkup"></app-code-snippet>
    </li>
  </ol>

  <h2 id="peerDependencies">Peer Dependencies</h2>
  <p>Following dependencies are required to be installed along with Ornamentum.</p>

  <ul class="main-pane-list">
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/common">@angular/common</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/core">@angular/core</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/forms">@angular/forms</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/lodash">lodash</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/rxjs">rxjs</a></li>
  </ul>

  <h2 id="functionality">Functionality</h2>
  <p>Refer below sections for available feature/functionality usage in detail.</p>

  <ul class="main-pane-list">
    <li><b>Data Binding</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic Data binding</a></li>
      <li><a [routerLink]="['/feature/dropdown/data-binding/client-side/stream']">Client Side Stream Data binding</a>
      </li>
      <li><a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">Server Side Basic Data binding</a></li>
      <li><a [routerLink]="['/feature/dropdown/data-binding/server-side/web-socket']">Server Side Web Socket Data
        binding</a></li>
    </ul>

    <li><b>Features</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/dropdown/functionality/data-limit']">Data Limit</a></li>
      <li><a [routerLink]="['/feature/dropdown/functionality/disabling']">Disabling</a></li>
      <li><a [routerLink]="['/feature/dropdown/functionality/option/disabling']">Option Disabling</a></li>
      <li><a [routerLink]="['/feature/dropdown/functionality/option/display']">Option Display</a></li>
      <li><a [routerLink]="['/feature/dropdown/functionality/option/selection']">Option Selection</a></li>
      <li><a [routerLink]="['/feature/dropdown/functionality/option/filtering']">Option Filtering</a></li>
      <li><a [routerLink]="['/feature/dropdown/functionality/option/grouping']">Option Grouping</a></li>
    </ul>

    <li><b>Templating</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/dropdown/templating/option-template']">Option Template</a></li>
      <li>
        <a [routerLink]="['/feature/dropdown/templating/option-group-header-template']">Option Group Header
          Template</a>
      </li>
      <li><a [routerLink]="['/feature/dropdown/templating/data-loading-template']">Data Loading Template</a></li>
    </ul>

    <li><b>Styling</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/dropdown/styling/menu-position']">Menu Position</a></li>
      <li><a [routerLink]="['/feature/dropdown/styling/menu-width-height']">Menu Width & Height</a></li>
      <li><a [routerLink]="['/feature/dropdown/styling/themes']">Themes</a></li>
      <li><a [routerLink]="['/feature/dropdown/styling/custom-theming']">Custom Theming</a></li>
    </ul>

    <li><b>Advanced</b></li>
    <ul class="main-pane-list">
      <li><a [routerLink]="['/feature/dropdown/advanced/load-data-on-init']">Load Data On Init</a></li>
      <li><a [routerLink]="['/feature/dropdown/advanced/events']">Events</a></li>
      <li><a [routerLink]="['/feature/dropdown/advanced/translations']">Translations</a></li>
      <li><a [routerLink]="['/feature/dropdown/advanced/config-overriding']">Configuration Overriding</a></li>
    </ul>
  </ul>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DropdownModule.html">API Doc for Dropdown Module</a><br/>
  <a [routerLink]="['/feature/data-table/overview/basic-usage']">Data Table Basic Usage</a>
</div>
