<ng-data-table
  [id]="'sales_products_functionality_11'"
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="900"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [dropdownFilterMenuPosition]="'bottom-right'"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [filterable]="true"
    [filterPlaceholder]="'PL Filter'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [dropdownFilterMenuPosition]="'bottom-left'"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [filterable]="true"
    [filterPlaceholder]="'R Filter'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [filterPlaceholder]="'Q Filter'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [filterPlaceholder]="'GM Filter'"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>
