<div class="feature-container" #parent>
  <h1>Data Table Loading Spinner Template</h1>
  <p>This feature enables users to customize the table data loading spinner by providing their own template when data
    loading is in progress.</p>

  <label>The following code block example shows the way of data table loading spinner template using. In here we used
    simple text to override the native loading functionality. You can also provide your own custom templates with the
    any
    custom styles as you like.
    <pre class="prettyprint lang-html">{{demoSnippet.template}}</pre>
  </label>

  <p>Here is the table output after applying the above loading spinner template.</p>

  <app-loading-spinner-template-usage></app-loading-spinner-template-usage>

  <app-example-code [files]="loadingSpinnerTemplateUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#loadingSpinnerTemplate">API Doc
    for Data Table Loading Spinner Template</a>
</div>