<div class="feature-container">
  <h1>Configuration Overriding</h1>

  <p>In this section all available data table Level Configuration techniques will be discuss with it's usages.</p>

  <h2 id="overridingHierarchy">Overriding Hierarchy</h2>

  <p>The below hierarchy shows order of data table property overriding and each level of defined properties will be
    replace if same property was uses in next level of hierarchy.</p>

  <pre>
    |__ <a [routerLink]="['/feature/data-table/advanced/config-overriding']" class="hierarchy-main">Data Table Configuration</a>
    |   |
    |   |___ <a [fragment]="'defaultConfiguration'" [routerLink]="['/feature/data-table/advanced/config-overriding']"
                class="config-level">Default Configuration</a>
    |   |___ <a [fragment]="'modulePropertyBinding'" [routerLink]="['/feature/data-table/advanced/config-overriding']"
                class="config-level">Module Level Configuration</a>
    |   |___ <a [fragment]="'templatePropertyBinding'" [routerLink]="['/feature/data-table/advanced/config-overriding']"
                class="config-level">Template Level Configuration</a>
    |
    |__ <a [routerLink]="['/feature/dropdown/advanced/config-overriding']"
           class="hierarchy-main">Dropdown Configuration</a>
    |
    \/
  </pre>
  <h2 id="defaultConfiguration">Default Configuration</h2>

  <p>
    Ornamentum has given default values for all most all configurations. the default values explicitly mention
    on each respective data table property or function documentation.</p>
  <p>
    Default configurations can be override by
    <a [fragment]="'modulePropertyBinding'"[routerLink]="['/feature/data-table/advanced/config-overriding']">Module Level Configuration</a> and
    <a [fragment]="'templatePropertyBinding'" [routerLink]="['/feature/data-table/advanced/config-overriding']">Template Level Configuration</a>.
  </p>
  <div class="p-5">
    <h4 id="multiColumnSortable">Multi Column Sorting</h4>

    <p>
      <code>multiColumnSortable: boolean</code> &nbsp;
      <span class="badge badge-pill badge-warning">Default Value: false</span>
      <span class="pr-1"></span>
      <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    </p>
    <h4 id="sortOrder">Sort Order</h4>
    <p>
      <code>sortOrder: 'asc' | 'desc' | ''</code>
      <span class="pr-1"></span>
      <span class="badge badge-pill badge-warning">Default Value: ''</span>
      <span class="pr-1"></span>
      <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
      <span class="pr-1"></span>
      <span class="badge badge-pill badge-secondary">Depends On: [sortable]</span>
    </p>

  </div>

  <h2 id="modulePropertyBinding">Module Level Configuration</h2>
  <p>Ornamentum supports, configuration overriding in module root configurations. you can provide a object of data table level configurations and some of column level configurations (for all columns) inside <code>forRoot()</code> tag.
  </p>
  <p>
    Module level configuration can be override by
    <a [fragment]="'templatePropertyBinding'" [routerLink]="['/feature/data-table/advanced/config-overriding']">Template Level Configuration</a>.
  </p>
  <app-code-snippet [content]="configOverriding.moduleConfigOverriding" [type]="FileType.TS"></app-code-snippet>


  <h2 id="templatePropertyBinding">Template Level Configuration</h2>
  <p>Template level configuration overrides both
    <a [fragment]="'defaultConfiguration'"[routerLink]="['/feature/data-table/advanced/config-overriding']">Default Configuration</a> and
    <a [fragment]="'modulePropertyBinding'" [routerLink]="['/feature/data-table/advanced/config-overriding']">Module Level Configuration</a>.
    You can simply bind a required type of value to respective configurations on HTML template.</p>
  <app-code-snippet [content]="configOverriding.configOverriding" [type]="FileType.HTML"></app-code-snippet>

<!--  <p>In above example module, ornamentum will enables <a-->
<!--    [routerLink]="['/feature/data-table/functionality/column/sorting']">Sortable</a> and-->
<!--    <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Filterable</a> for all available data-->
<!--    columns.</p>-->

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a href="api-docs/components/DataTableComponent.html" rel="noopener" target="_blank">API Doc for Data Table
    Configuration Overriding</a>
</div>
