<div class="ng-data-table-pagination-container" #paginationContainer>
  <div class="ng-data-table-pagination-range" [hidden]="isMobile">
    {{ config.translations.paginationRange }}: <span [textContent]="startRowIndex"></span>
    -<span [textContent]="endRowIndex"></span>of<span [textContent]="dataStateService.itemCount"></span>
  </div>
  <div class="ng-data-table-pagination-controllers" [class.sm-controllers]="isMobile">
    <div class="ng-data-table-pagination-limit">
      <div class="ng-data-table-pagination-input-container">
        <label class="ng-data-table-pagination-input-label">{{ config.translations.paginationLimit }}:</label>
        <input
          #limitInput
          type="number"
          class="ng-data-table-pagination-input"
          min="1"
          step="1"
          [attr.max]="config.maxLimit"
          [class.ng-data-table-input-error]="isInvalidLimit(limitInput)"
          [ngModel]="config.limit"
          required
          (keypress)="preventInvalidKeyPress($event)"
          (keyup.enter)="onPageSizeChange(limitInput)"
          (keyup.esc)="onPageSizeRevert(limitInput)"
        />
      </div>
    </div>
    <div class="ng-data-table-pagination-pages">
      <button
        [disabled]="hasPrevious"
        (click)="firstPageClick()"
        title="First Page"
        class="ng-data-table-action-button ng-data-table-pagination-firstpage"
      ></button>
      <button
        [disabled]="hasPrevious"
        (click)="previousPageClick()"
        title="Previous Page"
        class="ng-data-table-action-button ng-data-table-pagination-prevpage"
      ></button>
      <div class="ng-data-table-pagination-page">
        <div class="ng-data-table-pagination-input-container">
          <input
            #pageInput
            type="number"
            class="ng-data-table-pagination-input"
            min="1"
            step="1"
            [attr.max]="maxPage"
            [class.ng-data-table-input-error]="isInvalidPageIndex(pageInput)"
            [ngModel]="page"
            required
            (keypress)="preventInvalidKeyPress($event)"
            (keyup.enter)="onPageIndexChange(pageInput)"
            (keyup.esc)="onPageIndexRevert(pageInput)"
          />
          <div class="ng-data-table-pagination-input-label">
            <span>/ </span>
            <span [textContent]="maxPage"></span>
          </div>
        </div>
      </div>
      <button
        [disabled]="hasNext"
        (click)="nextPageClick()"
        title="Next Page"
        class="ng-data-table-action-button ng-data-table-pagination-nextpage"
      ></button>
      <button
        [disabled]="hasNext"
        (click)="lastPageClick()"
        title="Last Page"
        class="ng-data-table-action-button ng-data-table-pagination-lastpage"
      ></button>
    </div>
  </div>
</div>
