<div class="feature-container">
  <h1>Data Table Pagination</h1>
  <p>Most of the time it turns out that the amount of data to be displayed can’t fit on a single page, or the page
    becomes ridiculously long. In such cases, you might want to turn pagination on.
  </p>

  <h2 id="whatYouWillSee">What you will see</h2>
  <app-pagination-usage></app-pagination-usage>
  <br>
  <p>The Pagination controls will be displayed on the bottom of the grid.User can set the number of
    rows displayed on the grid page and navigation controls.</p>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>To enable pagination, simply set [pageable] to true</p>
  <pre class="prettyprint lang-html">{{demoSnippet.pagination}}</pre>
  <p>By default the table doesn’t paginate it’s contents; even if properties like “limit” is set. More on that will be explained
    later.</p>

  <app-example-code [files]="paginationUsage"></app-example-code>

  <h2 id="usefulProperties">Useful properties</h2>
  <p>There are a few properties which effect the behaviour of Pagination controls.</p>
  <h4>Page</h4>
  <pre>[page] = number</pre>
  <p>The [page] property lets you control which page the table starts off showing, notice how this table starts off on
  the second page</p>
  <app-pagination-page-usage></app-pagination-page-usage>

  <app-example-code [files]="paginationUsageWithPage"></app-example-code>
  <h4>Limit</h4>
  <pre>[limit] = number</pre>
  <p>Controls how many rows are shown per page. Further information on this property is available in Data Limit page</p>
  <app-pagination-limit-usage></app-pagination-limit-usage>

  <app-example-code [files]="paginationUsageWithLimit"></app-example-code>
  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="/feature/data-table/translations">Data Table Translations</a>
  <br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#pageable">API Doc for Data Table
    Pagination</a>
</div>
