<div class="feature-container">
  <h1>Data Table Pagination</h1>
  <p>Most of the time it turns out that the amount of data to be displayed can’t fit on a single page, or the page
    becomes ridiculously long. In such cases, you might want to turn pagination on.
  </p>

  <p>The Pagination controls will be displayed on the bottom of the grid. user can set the number of
    rows displayed on the grid page and navigation controls.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>
  <app-pagination-usage></app-pagination-usage>
  <br>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>To enable pagination, simply set <b>pageable</b> to <b>true</b> and by default pageable is <b>false</b>.</p>
  <pre class="prettyprint lang-html">{{demoSnippet.pagination}}</pre>

  <p>In default the table doesn't paginate it’s contents, even if pageable depended properties are set. those properties
    will be discuss on <a href="feature/data-table/pagination#usefulProperties">Useful Properties</a> section.</p>

  <app-example-code [files]="paginationUsage"></app-example-code>

  <h2 id="usefulProperties">Useful properties</h2>
  <p>There are few more properties which effect the behaviour of pagination controls and those are applicable in
    global level of grid configuration after enabling the pageable.</p>

  <h4 id="page">Page</h4>
  <code>[page]: number = 'page number to view'</code>
  <br>
  <h5 class="badge badge-secondary">Default Value: 1</h5>
  <p>The page property lets you to control which page the table starts off showing, from the declared page users can
    paginate into different data views with in the declared data <a href="feature/data-table/pagination#limit">limit</a>.
  </p>

  <app-pagination-page-usage></app-pagination-page-usage>
  <app-example-code [files]="paginationUsageWithPage"></app-example-code>

  <h4 id="limit">Limit</h4>
  <code>[limit]: number = 'number of data rows'</code>
  <br>
  <h5 class="badge badge-secondary">Default Value: 10</h5>
  <p>Controls how many rows are shown per page and the rest of the data row's will be paginate into
    series of grid pages. if limit is not provided by the configuration the default limit will be applied.</p>

  <app-pagination-limit-usage></app-pagination-limit-usage>
  <app-example-code [files]="paginationUsageWithLimit"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="/feature/data-table/translations">Data Table Translations</a><br>
  <a rel="noopener" target="_blank" href="/feature/data-table/templates/no-records-template">No Records Template</a><br>
  <a rel="noopener" target="_blank" href="/feature/data-table/column/filtering">Filtering</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#pageable">API Doc for Data Table
    Pagination</a>
</div>
