<h1>Data Table Pagination</h1>

<ul class="main-pane-list">
  <li>This help users to show pagination options in the data table.</li>
  <li>To enable pagination it is required to set the <b>pageable</b> property into <b>true</b>.</li>
  <li>If the value if not specified for the above property pagination will not be shown to the user.</li>
  <li>When the pagination is enabled users can specify the number of items to be shown in a specific page, by using the
    limit text box.
  </li>
  <li>Users can use the navigation arrows in the pagination bar to navigate to the other pages if there are more
    pages.
  </li>
</ul>

<app-pagination-usage></app-pagination-usage>

<app-example-code [files]="paginationUsage"></app-example-code>

<h2>Suggested Links</h2>
<a href="api-docs/components/DataTableComponent.html#pageable" target="_blank">API Doc for Data Table Pagination</a>
