<div class="feature-container">
  <h1>Dropdown List Custom Theming</h1>

  <p>The following <a rel="noopener" target="_blank" href="https://sass-lang.com">SASS</a> variables will describe their
    each responsibility and by overriding those variables, can be generate a new dropdown with different experience to
    match your preferences.</p>

  <table>
    <tr>
      <th>Variable</th>
      <th>Default Value</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><code>$dropdown-icon-color</code></td>
      <td><code>#333</code></td>
      <td>Icon color used in Dropdown arrow</td>
    </tr>
    <tr>
      <td><code>$dropdown-search-icon-color</code></td>
      <td><code>#fff</code></td>
      <td>Icon color of search field</td>
    </tr>
    <tr>
      <td><code>$dropdown-loading-animation-color</code></td>
      <td><code>#333</code></td>
      <td>Icon color of dropdown loading spinner animation</td>
    </tr>
    <tr>
      <td><code>$delete-color</code></td>
      <td><code>#d32f2f</code></td>
      <td>Icon color of remove search criteria in Dropdown search field</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-background</code></td>
      <td><code>#fff</code></td>
      <td>Dropdown selector box background color</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-border</code></td>
      <td><code>#ddd</code></td>
      <td>Dropdown selector box border color</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-border-radius-value</code></td>
      <td><code>0</code></td>
      <td>Specify the radius of the outer-edge of dropdown selector box </td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-text-color</code></td>
      <td><code>#333</code></td>
      <td>Dropdown selector text color</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-selected-background</code></td>
      <td><code>#f1f5f5</code></td>
      <td>Background color of the selected value of dropdown color </td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-selected-color</code></td>
      <td><code>#333</code></td>
      <td>Box shadow value of the data table column selector menu </td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-search-icon-background</code></td>
      <td><code>#3b78e7</code></td>
      <td>Background color of the search icon container</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-search-icon-border-radius</code></td>
      <td><code>0</code></td>
      <td>Specify the radius of the outer-edge of the search icon container  </td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-search-input-background</code></td>
      <td><code>#fff</code></td>
      <td>Background color of the search input field</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-search-input-border</code></td>
      <td><code>#ddd</code></td>
      <td>Border color of the search input field</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-search-input-border-radius</code></td>
      <td><code>0</code></td>
      <td>Specify the radius of the outer-edge of the search input field</td>
    </tr>
    <tr>
      <td><code>$dropdown-selector-search-input-text-color</code></td>
      <td><code>#333</code></td>
      <td>Text color of the search input field</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-wrapper-border-radius-value</code></td>
      <td><code>0</code></td>
      <td>Specify the radius of the outer-edge of dropdown option wrapper</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-wrapper-box-shadow</code></td>
      <td><code>2px 2px 10px rgba(0, 0, 0, .2)</code></td>
      <td>Specify the shadow amount and color of the dropdown option wrapper</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-wrapper-background</code></td>
      <td><code>#fff</code></td>
      <td>Background color of the dropdown option wrapper</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-wrapper-border</code></td>
      <td><code>#ddd</code></td>
      <td>Border color of the dropdown option wrapper </td>
    </tr>
    <tr>
      <td><code>$dropdown-option-wrapper-text-color</code></td>
      <td><code>#333</code></td>
      <td>text color of the dropdown option wrapper </td>
    </tr>
    <tr>
      <td><code>$dropdown-option-wrapper-divider-border</code></td>
      <td><code>#ddd</code></td>
      <td>border color of the divider between the search input field and option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-no-data-message-text-color</code></td>
      <td><code>#3b78e7</code></td>
      <td>Text color of the no results available message</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-border-radius-value</code></td>
      <td><code>0</code></td>
      <td>Specify the radius of the outer-edge of dropdown option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-wrapper-border</code></td>
      <td><code>#ddd</code></td>
      <td>Border color of the dropdown option container </td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-option-background</code></td>
      <td><code>#fff</code></td>
      <td>Background color of the searched options in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-option-text-color</code></td>
      <td><code>#333</code></td>
      <td>Text color of the searched options in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-option-border</code></td>
      <td><code>transparent</code></td>
      <td>Border color of the searched options in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-option-hover-background</code></td>
      <td><code>#ddd</code></td>
      <td>Mouse over background color of the searched options in the option container </td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-option-hover-text-color</code></td>
      <td><code>#333</code></td>
      <td>Mouse over text color of the searched options in the option container </td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-selected-option-background</code></td>
      <td><code>#3b78e7</code></td>
      <td>Background color of the selected searched options in the option container </td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-selected-option-text-color</code></td>
      <td><code>#fff</code></td>
      <td>Text color of the selected searched options in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-selected-option-hover-text-color</code></td>
      <td><code>#fff</code></td>
      <td>Mouse over text color of the selected searched options in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-selected-option-hover-background</code></td>
      <td><code>#333</code></td>
      <td>Mouse over background color of the selected searched options in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-group-heading-background</code></td>
      <td><code>#fff</code></td>
      <td>Background color of the group heading in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-group-heading-border</code></td>
      <td><code>#ddd</code></td>
      <td>Background color of the group heading in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-group-heading-color</code></td>
      <td><code>#333</code></td>
      <td>Text color of the group heading in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-group-heading-hover-background</code></td>
      <td><code>#ddd</code></td>
      <td>Mouse over background color of the group heading in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-group-heading-hover-border</code></td>
      <td><code>#ddd</code></td>
      <td>Mouse over border color of the group heading in the option container</td>
    </tr>
    <tr>
      <td><code>$dropdown-option-container-group-heading-hover-color</code></td>
      <td><code>#333</code></td>
      <td>Mouse over text color of the group heading in the option container</td>
    </tr>
  </table>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/styling/themes']">Themes</a><br>
  <a rel="noopener" target="_blank" href="api-docs/modules/DropdownModule.html">API Doc for Dropdown Custom Theming</a>
</div>
