<h1>Data Limit</h1>

<p>
  Limit will allow users to define a number of items to shown in the dropdown at once. If limit is not specified by the user, default value will be
  set as the dropdown data limit.
</p>

<h2 id="whatYouWillSee">What You Will See</h2>

<app-data-limit-usage></app-data-limit-usage>
<app-example-code [files]="dataLimitUsage"></app-example-code>

<h2 id="basicUsage">Basic Usage</h2>

<pre class="prettyprint lang-html">{{ demoSnippet.limit }}</pre>

<h2>Suggested Links</h2>
<a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#limit">API Doc for Data Limit</a>
