<h1>Dropdown Limit</h1>
<ul class="main-pane-list">
  <li><b>Limit</b> will allows users to configure the number of items to be displayed in dropdown.</li>
  <li>The default value for this config is 30. If limit is not specified by the the user, this value will be set as the
    data limit.
  </li>
</ul>

<app-data-limit-usage></app-data-limit-usage>

<app-example-code [files]="dataLimitUsage"></app-example-code>

<h2>Suggested Links</h2>
<a href="api-docs/components/DropdownComponent.html#limit" target="_blank">API Doc for Data Limit</a>
