<h1>Data Limit</h1>

<p>This property is useful when on request data from external data source. Limit will allow users to define a number of
  items to be fetch on a single load and when on user view all the fetched dropdown display items, again request a data
  set from data source recursively until all the data receives.</p>

<h2 id="whatYouWillSee">What You Will See</h2>

<app-data-limit-usage></app-data-limit-usage>
<app-example-code [files]="dataLimitUsage"></app-example-code>

<h2 id="basicUsage">Basic Usage</h2>

<p>For enable limit in dropdown, it is mandatory to set, <a href="feature/dropdown/load-on-scroll">Load On
  Scroll</a> to <b>true</b>. if limit is not specified by the user, default value (30) will be set as the dropdown
  data limit.</p>

<pre class="prettyprint lang-html">{{demoSnippet.limit}}</pre>

<h2>Suggested Links</h2>
<a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#limit">API Doc for Data Limit</a>
