<div class="feature-container">
  <h1>Row Selection</h1>

  <p>Row selection will add a additional column which contains check box(es) when users need to select specific data or
    data set from the data table to perform their operations. In these type of situations you might want to turn on the
    row selectable check box(es).</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-row-selection-usage></app-row-selection-usage>
  <app-example-code [files]="rowSelectionUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>To enable row selectable option, simply set <code>rowSelectable</code> to <b>true</b> and by default rowSelectable
    is <b>false</b>.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.row_selectable"></app-code-snippet>

  <p>
    In default the table does not displays to selectable rows. But if you enabled selection row(s), there
    are some additional configurations available to do the row selection more easily. Those properties will be discuss
    on next section.
  </p>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>As mention in earlier, there are some additional configurations which helps users to control the row selection.</p>

  <h4 id="selectMode">Row Selection Mode</h4>

  <code>selectMode: string = 'single' | 'single_toggle' | 'multi'</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 'single'</h5>

  <p>
    This control allows you to configure the row selection type. There are 3 types of row selections are
    available in the data table. available types are,
  </p>

  <ol class="main-pane-list">
    <li>
      <h6><b>Single Row Selection: "single"</b></h6>
    </li>

    <p>
      User will be allowed to select only one row at a time. If the second row also been selected, firstly selected row
      will be automatically deselected.
    </p>

    <app-single-row-selection-usage></app-single-row-selection-usage>
    <app-example-code [files]="singleRowSelectionUsage"></app-example-code>

    <li>
      <h6><b>Single Toggle Row Selection: "single_toggle"</b></h6>
    </li>

    <p>
      User will be allowed to select only one row at a time. If the second row also been selected, firstly selected row
      will be automatically deselected. Additionally, user will be facilitated to remove the selection once its been
      selected.
    </p>

    <app-single-toggle-row-selection-usage></app-single-toggle-row-selection-usage>
    <app-example-code [files]="singleToggleRowSelectionUsage"></app-example-code>

    <li>
      <h6><b>Multi Row Selection: "multi"</b></h6>
    </li>

    <p>User will be allowed to select multiple rows and user is facilitated to remove the selection once its been
      selected.</p>

    <app-multi-row-selection-usage></app-multi-row-selection-usage>
    <app-example-code [files]="multiRowSelectionUsage"></app-example-code>
  </ol>

  <h4 id="showRowSelectCheckbox">Show Row Select Check Box</h4>

  <code>showRowSelectCheckbox: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>
    This property lets the user to enable/disable the row selection checkbox to be shown/hidden.
  </p>

  <h4 id="selectOnRowClick">Select On Row Click</h4>

  <code>selectOnRowClick: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>
    This property lets the user to select the raw by clicking on anywhere on the row.
  </p>

  <h4 id="selectTrackBy">Select Track By</h4>

  <code>selectTrackBy: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 'id'</h5>

  <p>
    This property let the users to identify selected row(s) uniquely. When selecting row(s), data table will emit the
    value of the column specified by the user. Please refer Data Table <a [routerLink]="['/feature/data-table/events']">Events</a>
    section for more details. All the examples shown in <a
    [routerLink]="['/feature/data-table/row-selection']" fragment="selectMode">Row Selection Mode</a> section have set
    <code>selectTrackBy</code> property as <b>id</b>.
  </p>

  <h4 id="selectedRow">Set Selected Row</h4>

  <code>selectedRow: any</code>

  <p>
    This property let user to set a specific selected row in the data table by automatically right after the
    data table <a [routerLink]="['/feature/data-table/events']" fragment="init">Initialization</a>. This can only be
    used with the <b>single</b>
    and <b>single_toggle</b> selection modes as mentioned in the <a [routerLink]="['/feature/data-table/row-selection']"
                                                                    fragment="selectMode">Row Selection Mode</a>
    section.
  </p>

  <app-selected-row-usage></app-selected-row-usage>
  <app-example-code [files]="selectedRowUsage"></app-example-code>

  <h4 id="selectedRows">Set Selected Rows</h4>

  <code>selectedRows: any[]</code>

  <p>
    This property let user to set specific rows to be selected in the data table by automatically right after the data
    table <a [routerLink]="['/feature/data-table/events']" fragment="init">Initialization</a>. This can only be used
    with the multi selection mode.
  </p>

  <app-selected-rows-usage></app-selected-rows-usage>
  <app-example-code [files]="selectedRowsUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Row Selection</a>
</div>
