<h1>DropDown On Data Bind</h1>

<ul class="main-pane-list">
  <li><b>onDataBind</b> => This property is used to bind data with the on data bind callback.</li>
  <li>Users can provide their own way of data binding inside this callback. Refer following example to see how this is
    implemented.
  </li>
</ul>

<app-on-data-bind-usage></app-on-data-bind-usage>

<app-example-code [files]="onDataBindUsage"></app-example-code>

<h2>Suggested Links</h2>
<a href="api-docs/components/DropdownComponent.html#onDataBind" target="_blank">API Doc for Dropdown On Data Bind</a>
