<ng-data-table
  [title]="'Sales Products'"
  [items]="items"
  [minHeight]="200"
  [minWidth]="900"
  [pageable]="true"
  [showHeader]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [filterable]="true"
    [width]="70">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [filterable]="true"
    [filterPlaceholder]="'RT Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [filterable]="true"
    [filterPlaceholder]="'PL Filter'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [filterable]="true"
    [filterPlaceholder]="'PT Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [filterable]="true"
    [filterPlaceholder]="'R Filter'"
    [showFilterClearButton]="true"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [filterable]="true"
    [filterPlaceholder]="'Q Filter'"
    [showFilterClearButton]="true"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [filterable]="true"
    [filterPlaceholder]="'GM Filter'"
    [showFilterClearButton]="true"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>
