<ng-data-table
  [title]="'Business Details'"
  [items]="items"
  [minHeight]="200"
  [minWidth]="1000"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [filterable]="true"
    [filterPlaceholder]="'ID Filter'"
    [showFilterClearButton]="true"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'symbol'"
    [title]="'Symbol'"
    [filterable]="true"
    [filterPlaceholder]="'Symbol Filter'"
    [showFilterClearButton]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'business_class'"
    [title]="'Business Class'"
    [filterable]="true"
    [filterPlaceholder]="'Business Class Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'time_stamp'"
    [title]="'Timestamp'"
    [filterable]="true"
    [filterPlaceholder]="'Timestamp Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'confirmation_type'"
    [title]="'Confirmation Type'"
    [filterable]="true"
    [filterPlaceholder]="'Confirmation Type Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'side'"
    [title]="'Side'"
    [filterable]="true"
    [filterPlaceholder]="'Side Filter'"
    [showFilterClearButton]="true"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'volume'"
    [title]="'Volume'"
    [filterable]="true"
    [filterPlaceholder]="'Volume Filter'"
    [showFilterClearButton]="true"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'price'"
    [title]="'Price'"
    [filterable]="true"
    [filterPlaceholder]="'Price Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
</ng-data-table>
