<h2>Features and Functionalities</h2>

<label>Data Table Configuration</label>
<ul>
  <li *ngFor="let conf of tableConf">
    <a class="nav-link" routerLink="{{conf.routePath}}">
            <span class="main-nav-label">
              <span class="menu-title">{{conf.title}}</span>
            </span>
    </a></li>
</ul>

<label>Data Table Column Configuration</label>
<ul>
  <li *ngFor="let conf of columnConf">
    <a class="nav-link" routerLink="{{conf.routePath}}">
            <span class="main-nav-label">
              <span class="menu-title">{{conf.title}}</span>
            </span>
    </a></li>
</ul>

<div>
  <router-outlet></router-outlet>
</div>
