<div class="feature-container">
  <h1>Data Table State Persistence</h1>

  <p>
    Assume that you are navigating from one page to another, and you want to be back in the previous page where you
    were, with the same filtering options you had applied. In such scenarios, you might want to save the previous state
    of the table.
  </p>

  <p>
    Therefore, the data table allows users to save the state in scenarios such as filtering, sorting, pagination etc.
    using state persistence functionality.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-state-persistence-usage></app-state-persistence-usage>
  <app-example-code [files]="statePersistenceUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>persistTableState: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>To enable the state persistence, set <code>persistTableState</code> to <b>true</b> and by default
    persistTableState is <b>false</b>.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.persistTableState"></app-code-snippet>

  <p>
    The updated state of the data table will be stored in the users browser storage. In default the table store data
    in the <b>session storage</b>.
  </p>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>There are some additional properties which are dependent on this state persistence control.</p>

  <h4 id="storageMode">Storage Mode</h4>

  <p>
    <code>storageMode: string = 'session' or 'local'</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'session'</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This property let the user to control the browser storage type that requires to save the data table state. There are
    two types of storage modes are available.
  </p>

  <ul class="main-pane-list">
    <li><b>local</b> - Browser Local Storage</li>
    <li><b>session</b> - Browser Session Storage</li>
  </ul>

  <p>The following example shows storing data in the local storage.</p>

  <app-storage-mode-usage></app-storage-mode-usage>
  <app-example-code [files]="storageModeUsage"></app-example-code>

  <h4 id="stateId">State Saving ID</h4>

  <p>
    <code>id: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: ''</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This property lets the user to assign a name for the state that the user is saving in the browser storage. Please
    note
    that, the provided id value will be added with the prefix of <b>'grid_state_'</b>. Assume that you provided <a
    [routerLink]="'/feature/data-table/functionality/column/binding'" [fragment]="'id'">ID (Identifier)</a> as
    <b>'table_details'</b>. Then the state will be saved with the key name of <b>'grid_state_table_details'</b>.
  </p>

  <p>
    In the previous example, ID was named as <b>'sales_products_advanced_02'</b>. So that will be saved in the
    storage as <b>'grid_state_sales_products_advanced_02'</b>.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="'/feature/data-table/functionality/column/binding'">Column Binding</a><br>
  <a rel="noopener noreferrer" target="_blank" href="api-docs/components/DataTableComponent.html#persistTableState">API Doc for
    State Persistence</a>
</div>
