<div class="feature-container">
  <h1>DropDown Load Data On Init</h1>

  <ul class="main-pane-list">
    <li>Dropdown load data on init feature is used when users want to load data in the component initializing.</li>
    <li><b>[loadDataOnInit]="true or false"</b> => Enable/Disable getting data on init event. The default value for
      this config is true.
    <li>When this configuration is false, data won't be loaded as expected and users must provide their own way of data
      loading.
    </li>
  </ul>

  <app-load-on-init-usage></app-load-on-init-usage>

  <app-example-code [files]="loadOnInitUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#loadDataOnInit">API Doc for
    Dropdown Load Data On Init</a>
</div>
