<ng-data-table
  [id]="'sales_products_functionality_10'"
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="1280"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [rowSelectable]="true">
  <ng-data-table-column
    [displayTrackBy]="'id'"
    [title]="'ID'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productLine'"
    [title]="'Product Line'"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productType'"
    [title]="'Product Type'"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'revenue'"
    [title]="'Revenue'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'quantity'"
    [title]="'Quantity'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="150">
  </ng-data-table-column>
</ng-data-table>
