<div class="feature-container">
  <h1>Themes</h1>

  <p>Ornamentum data table now comes with several themes which can be used depending on your application UI/UX requirements.</p>

  <p>Without using the available data table themes you can create your own theme by overriding SCSS variables exposed.
    Refer <a [routerLink]="['/feature/data-table/styling/custom-theming']">Custom Theming</a> section to custom theme building guidelines.</p>

  <h2 id="includingThemeSupport">Including Theme Support</h2>

  <p>
    Ornamentum support including styles via SCSS or prebuilt CSS depending on your requirement. You can simply include
    library style sheets within Angular CLI configuration style sheet array or import directly to stylesheet if you are using SCSS and planing to customize the theme.
  </p>

  <p>
    Any theme style sheet has it's own optional adon style sheet which can be used to customize the appearance of HTML controls like checkboxes and scroll bars.
  </p>

  <p>
    You can check the user experience with these themes via toggling the default themes through theme selector.
  </p>

  <div class="theme-color-palette"></div>

  <h4 id="baseTheme">Base Theme</h4>

  <p>
    The following image illustrate the Ornamentum Data Table look and feel with Base theme.
  </p>

  <div class="dt-theme-common dt-base-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Base</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Base</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseScssThemeImport"></app-code-snippet>

  <h4 id="darkTheme">Dark Theme</h4>

  <p>The following image illustrate the Ornamentum Data Table look and feel with Dark theme..</p>

  <div class="dt-theme-common dt-dark-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Dark</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Dark</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeScssThemeImport"></app-code-snippet>

  <h4 id="flatTheme">Flat Theme</h4>

  <p>TThe following image illustrate the Ornamentum Data Table look and feel with Flat theme..</p>

  <div class="dt-theme-common dt-flat-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Flat</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Flat</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeScssThemeImport"></app-code-snippet>

  <h4 id="ornamentumTheme">Ornamentum Theme</h4>

  <p>The following image illustrate the Ornamentum Data Table look and feel with Ornamentum theme..</p>

  <div class="dt-theme-common dt-ornamentum-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Ornamentum</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Ornamentum</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeScssThemeImport"></app-code-snippet>

  <h4 id="aegeanTheme">Aegean Theme</h4>

  <p>The following image illustrate the Ornamentum Data Table look and feel with Aegean theme..</p>

  <div class="dt-theme-common dt-aegean-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Aegean</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Aegean</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeScssThemeImport"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DataTableModule.html">API Doc for DataTable Styling & Themes</a>
</div>
