<div class="feature-container">
  <h1>Data Table Themes</h1>

  <p>
    Ornamentum data table list has a variety of predefined themes which you can apply to your application.
    Greater selection of themes are available with different colour variations to chose from.
  </p>
  <p>
    You can check the user experience of these themes via toggling the predefined themes via theme selector as follows.
  </p>

  <div class="theme-color-palette"></div>

  <p>
    <app-advanced-usage></app-advanced-usage>
  </p>

  <h2 id="predefinedThemes">Predefined Themes</h2>

  <p>
    Ornamentum bundles prebuilt CSS and source <a rel="noopener noreferrer" target="_blank" href="https://sass-lang.com/">SCSS</a>
    theme files. However, we recommend you to use the source SCSS files for best browser support with the use of
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/browserslist/browserslist/">browserlist</a> configuration.
  </p>
  <p>
    Import the Ornamentum theme style sheet reference to apply theming of your preference. Follow
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/angular/angular-cli/wiki/stories-global-styles">Angular CLI: Global Styles</a>
    documentation for more information on how to integrate third party style sheets.
  </p>

  <p>
    Below images illustrate the list of available themes and a glimpse of their appearance.
  </p>

  <h4 id="baseTheme">Base Theme</h4>

  <p>Minimalistic theme with white colour based variations.</p>

  <div class="dt-theme-common dt-base-theme"></div>

  <p>
    <b>SCSS</b> (recommended): Include Ornamentum theme source
    <a rel="noopener noreferrer" target="_blank" href="https://sass-lang.com/">SCSS</a> references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseScssThemeImport"></app-code-snippet>
  <p>
    <b>CSS</b>: Include Ornamentum prebuilt CSS references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseCssThemeImport"></app-code-snippet>

  <h4 id="darkTheme">Dark Theme</h4>

  <p>The following image illustrate the ornamentum Data Table look and feel with its <b>Dark theme</b>.</p>

  <div class="dt-theme-common dt-dark-theme"></div>

  <p>
    <b>SCSS</b> (recommended): Include Ornamentum theme source
    <a rel="noopener noreferrer" target="_blank" href="https://sass-lang.com/">SCSS</a> references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeScssThemeImport"></app-code-snippet>
  <p>
    <b>CSS</b>: Include Ornamentum prebuilt CSS references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeCssThemeImport"></app-code-snippet>

  <h4 id="flatTheme">Flat Theme</h4>

  <p>The following image illustrate the ornamentum Data Table look and feel with its <b>Flat theme</b>.</p>

  <div class="dt-theme-common dt-flat-theme"></div>

  <p>
    <b>SCSS</b> (recommended): Include Ornamentum theme source
    <a rel="noopener noreferrer" target="_blank" href="https://sass-lang.com/">SCSS</a> references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeScssThemeImport"></app-code-snippet>
  <p>
    <b>CSS</b>: Include Ornamentum prebuilt CSS references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeCssThemeImport"></app-code-snippet>

  <h4 id="ornamentumTheme">Ornamentum Theme</h4>

  <p>The following image illustrate the ornamentum Data Table look and feel with its <b>Ornamentum theme</b>.</p>

  <div class="dt-theme-common dt-ornamentum-theme"></div>

  <p>
    <b>SCSS</b> (recommended): Include Ornamentum theme source
    <a rel="noopener noreferrer" target="_blank" href="https://sass-lang.com/">SCSS</a> references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeScssThemeImport"></app-code-snippet>
  <p>
    <b>CSS</b>: Include Ornamentum prebuilt CSS references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeCssThemeImport"></app-code-snippet>

  <h4 id="aegeanTheme">Aegean Theme</h4>

  <p>The following image illustrate the ornamentum Data Table look and feel with it's <b>Aegean theme</b>.</p>

  <div class="dt-theme-common dt-aegean-theme"></div>

  <p>
    <b>SCSS</b> (recommended): Include Ornamentum theme source
    <a rel="noopener noreferrer" target="_blank" href="https://sass-lang.com/">SCSS</a> references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeScssThemeImport"></app-code-snippet>
  <p>
    <b>CSS</b>: Include Ornamentum prebuilt CSS references.
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeCssThemeImport"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/styling/custom-theming']">Custom Theming</a><br>
  <a rel="noopener noreferrer" target="_blank" href="api-docs/modules/DataTableModule.html">API Doc for Data Table Themes</a>
</div>
