@import '~compass-mixins/lib/compass';

$primary-font: 'Play', sans-serif;
$nav-bar-background: #2c2c2c;
$primary-text-color: #f5f5f5;
$main-nav-bar-active-background: #555;
$main-nav-bar-active-text: #ccc;
$side-menu-background: #f5f5f5;
$side-menu-label-text: #888;
$side-menu-link-color: #0C87E2;