<div class="feature-container">
  <h1>Themes</h1>

  <p>
    As mentioned in the
    <a [routerLink]="['/feature/data-table/themes']">Data Table Themes</a> section, Ornamentum dropdown also comes with the same
    theming support.
  </p>

  <h2 id="includingThemeSupport">Including Theme Support</h2>

  <p>
    Currently ornamentum has different CSS/SCSS files to represent the available themes. Therefore, in order to include these themes into your project
    you have to import its CSS/SCSS source references into your style files.
  </p>

  <p>
    Also in the page header you can see the user experience of the available themes by clicking on the given color palette as shown in the
    Data Table <a [routerLink]="['/feature/data-table/themes']" [fragment]="'includingThemeSupport'">Including Theme Support</a> section.
  </p>

  <p>Let's see how the user experience changes in the dropdown when different themes are applied.</p>

  <h4 id="baseTheme">Base Theme</h4>

  <p>
    The following image shows how Ornamentum Dropdown looks like with the Base theme. This is the user experience that you can get if you choose to
    stay with the base theme styling provided without using any of the themes available.
  </p>

  <div class="dd-theme-common dd-base-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Base</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Base</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseScssThemeImport"></app-code-snippet>

  <h4 id="darkTheme">Dark Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Dark theme.</p>

  <div class="dd-theme-common dd-dark-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Dark</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Dark</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeScssThemeImport"></app-code-snippet>

  <h4 id="flatTheme">Flat Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Flat theme.</p>

  <div class="dd-theme-common dd-flat-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Flat</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Flat</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeScssThemeImport"></app-code-snippet>

  <h4 id="ornamentumTheme">Ornamentum Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Ornamentum theme.</p>

  <div class="dd-theme-common dd-ornamentum-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Ornamentum</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Ornamentum</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <pre class="prettyprint linenums lang-json">{{ demoSnippet.ornamentumThemeScssThemeImport }}</pre>

  <h4 id="aegeanTheme">Aegean Theme</h4>

  <p>The following image shows how Ornamentum Dropdown looks like with the Aegean theme.</p>

  <div class="dd-theme-common dd-aegean-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum prebuilt CSS <b>Aegean</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Aegean</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeScssThemeImport"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DropdownModule.html">API Doc for Dropdown Styling & Themes</a>
</div>
