<ng-data-table
  [id]="'sales_products_overview_02'"
  [title]="'Sales Products'"
  [items]="data"
  [minContentWidth]="1110"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [showRefreshButton]="true"
  [showRowSelectCheckbox]="true"
  [rowSelectable]="true"
  [selectOnRowClick]="true"
  [showSubstituteRows]="true"
  [persistTableState]="true"
  [expandableRows]="true"
  [selectMode]="'multi'"
  [showRowSelectAllCheckbox]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [showInColumnSelector]="false"
    [sortable]="true"
    [filterable]="true"
    [width]="90">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span><i class="zmdi zmdi-account"></i></span>
        <span>{{ row.item.id }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [sortable]="true"
    [filterable]="true"
    [visible]="false"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="160">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span>{{ row.item.productType.toUpperCase() }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [sortable]="true"
    [filterable]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [sortable]="true"
    [filterable]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [sortable]="true"
    [filterable]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-template #ngDataTableRowExpand let-row="row">
    <app-advanced-usage-expandable-detail-view *ngIf="row.expanded || row.dataLoaded"
                                               [row]="row"></app-advanced-usage-expandable-detail-view>
  </ng-template>
</ng-data-table>
