.dd-theme-common {
  display: inline-block;
  left: 0;
  position: relative;
  height: 18rem;
  width: 56rem;
}

.dd-base-theme {
  background: url('../../../../../assets/images/dd-base-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dd-dark-theme {
  background: url('../../../../../assets/images/dd-dark-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dd-flat-theme {
  background: url('../../../../../assets/images/dd-flat-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dd-ornamentum-theme {
  background: url('../../../../../assets/images/dd-ornamentum-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dd-aegean-theme {
  background: url('../../../../../assets/images/dd-aegean-theme.png') no-repeat;
  background-size: 100% 100%;
}

table {
  border: 1px solid #ddd;
  font-size: 13px;
  tr {
    th {
      background-color: #333;
      color: #fff;
      padding: .5rem;
    }

    td {
      border: 1px solid #ddd;
      padding: .3rem;
    }
  }
}
