<ng-data-table
  [id]="'sales_products_detail_summery'"
  [title]="'Sales Products'"
  [items]="data"
  [minHeight]="200"
  [minWidth]="900"
  [showHeader]="true"
  [pageable]="true"
  [showRefreshButton]="true"
  [showRowSelectCheckbox]="true"
  [rowSelectable]="true"
  [selectOnRowClick]="true"
  [showSubstituteRows]="true"
  [persistTableState]="true"
  [showColumnSelector]="true"
  [expandableRows]="false"
  [showRowExpandLoadingSpinner]="false"
  [selectMode]="'multi'">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [showInColumnSelector]="false"
    [sortable]="true"
    [filterable]="true"
    [filterPlaceholder]="'Search'"
    [width]="80">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span><i class="zmdi zmdi-account"></i></span>
        <span>{{ row.item.id }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [filterPlaceholder]="'Search'"
    [width]="130">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [filterPlaceholder]="'Search'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [sortable]="true"
    [filterable]="true"
    [filterPlaceholder]="'Search'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropdownFilterShowClearSelectionButton]="true"
    [dropdownFilterSearchable]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
    <ng-template #ngDataTableCell let-row="row">
      <td>
        <span>{{ row.item.productType.toUpperCase() }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [sortable]="true"
    [filterable]="true"
    [filterPlaceholder]="'Search'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [sortable]="true"
    [filterable]="true"
    [filterPlaceholder]="'Search'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [sortable]="true"
    [filterable]="true"
    [filterPlaceholder]="'Search'"
    [width]="95">
  </ng-data-table-column>
</ng-data-table>
