<div class="feature-container">
  <h1>Data Table Loading Spinner</h1>

  <p>
    Data Loading Spinner can be used to indicate the data fetch operation and once the data is successfully fetched
    spinner will get disappear from the grid.
  </p>

  <p>
    Loading spinner is very useful, when <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server
    Side Basic</a> or <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server
    Side Web Socket</a> Data Binding operations are being executed. By default loading spinner is <b>enabled</b> and the
    Ornamentum will keep indicating the end user that the data retrieval process in progress.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-data-loading-spinner-usage></app-data-loading-spinner-usage>
  <app-example-code [files]="dataLoadingSpinnerUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>showLoadingSpinner: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    By default the Loading Spinner is <b>enabled</b>. Loading spinner can be displayed by setting <b>true</b> value to
    <code>showLoadingSpinner</code> property in table level in the data table configuration.
  </p>

  <p>Following example depicts how to disable the Data Loading Spinner.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.showLoadingSpinner"></app-code-snippet>

  <p>
    User can bind a custom template into the data loading scenario as desired. For additional Data Loading templates
    please refer <a [routerLink]="['/feature/data-table/templating/data-loading-template']">Data Loading Template</a>
    section.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>

  <a [routerLink]="['/feature/data-table/templating/data-loading-template']">Data Loading Template</a><br/>
  <a [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#showLoadingSpinner">API Doc for
    Data Table Loading Spinner</a>
</div>
