<h1>Data Table Row Expand Template</h1>

<ul>
  <li>[expandableRows]="true or false"</li>
  <li>[expandOnRowClick]="true or false"</li>
  <li>[showRowExpandLoadingSpinner]="true or false"</li>
</ul>

<label>Sample row expand template:
  <pre><code>{{code}}</code></pre>
</label>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [expandableRows]="true"
  [expandOnRowClick]="true"
  [showRowExpandLoadingSpinner]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
  <ng-template #ngDataTableRowExpand let-row="row">
    <span>This is row expand template</span>
  </ng-template>
</ng-data-table>
