.dd-theme-common {
  display: inline-block;
  left: 0;
  position: relative;
  height: 18rem;
  width: 56rem;
}

.dd-base-theme {
  background: url('../../../../../../assets/images/dd-base-theme.png') no-repeat;
}

.dd-dark-theme {
  background: url('../../../../../../assets/images/dd-dark-theme.png') no-repeat;
}

.dd-flat-theme {
  background: url('../../../../../../assets/images/dd-flat-theme.png') no-repeat;
}

.dd-ornamentum-theme {
  background: url('../../../../../../assets/images/dd-ornamentum-theme.png') no-repeat;
}

.dd-aegean-theme {
  background: url('../../../../../../assets/images/dd-aegean-theme.png') no-repeat;
}
