<div class="feature-container">
  <h1>Dropdown Disabling</h1>

  <p>This feature will allow users to disable the dropdown and restrict the access in to dropdown data fields.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-disabling-usage></app-disabling-usage>
  <app-example-code [files]="disablingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    For disable the dropdown, it is required to set value as <b>true</b> for <code>disabled</code> property. by default
    it's value is <b>false</b>.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dropdownDisabling"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/options/item/disabling']">Item Disabling</a><br/>
  <a [routerLink]="['/feature/dropdown/advanced/translations']">Translations</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#disabled">API Doc for Dropdown Disabling</a>
</div>
