.event-output {
  font-weight: bold;
  max-height: 125px;
  overflow-y: auto;
  border-left: 10px solid #7b2222;
  background-color: #2f3640;
  min-height: 30px;
  padding: 10px;
  color: lightgrey;
}

.event-output::first-line {
  color: #2c90e7;
}
