<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [rowSelectable]="true"
  [selectOnRowClick]="true"
  [showRowSelectCheckbox]="true"
  [minHeight]="200"
  [selectMode]="DataTableSelectMode.MULTI"

  (init)="onDataTableInit($event)"
  (allRowSelectChange)="onAllRowSelectChange($event)"
  (rowBind)="onRowBind($event)"
  (rowSelectChange)="onRowSelectChange($event)"
  (cellBind)="onCellBind($event)"
  (cellClick)="onCellClick($event)"
  (columnBind)="onColumnBind($event)"
  (dataBound)="onDataBound()"
  (headerClick)="onHeaderClick($event)"
  (rowClick)="onRowClick($event)"
  (rowDoubleClick)="onRowDoubleClick($event)">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>
