<h1>DropDown Display Tracked By Attribute</h1>

<ul class="main-pane-list">
  <li>Display Tracked By attribute lets users to configure the attribute which has the value to be displayed for the
    item shown in the dropdown.
  </li>
  <li>To set that, users need to provide key name for <b>displayTrackBy</b> attribute.
  </li>
  <li>According to following example above property is set as follows.</li>
  <ul class="main-pane-list">
    <li>[displayTrackBy]="'value'" => This 'value' key contains the item value which needs to show for a dropdown item.
      Refer <b>display-tracked-by-usage.data.ts</b> file to see the data list used in here.
    </li>
  </ul>
</ul>

<app-display-tracked-by-usage></app-display-tracked-by-usage>

<app-example-code [files]="displayTrackedByUsage"></app-example-code>

<h2>Suggested Links</h2>
<a href="api-docs/components/DropdownComponent.html#displayTrackBy" target="_blank">API Doc for Display Tracked By Attribute</a>
