@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

    .ng-dropdown-menu-wrapper {
      background-clip: padding-box;
      background-color: $multi-select-dropdown-toggle-background;
      border: .05rem solid $multi-select-dropdown-toggle-border;
      border-radius: 0;
      color: $multi-select-dropdown-toggle-color;
      display: block;
      font-size: 1rem;
      height: 250px;
      list-style: none;
      margin: .125rem 0 0;
      padding: 1rem;
      position: absolute;
      text-align: left;
      width: 100%;
      z-index: 10001;

      &.ng-dropdown-item-list {
        padding: 0;

        .ng-dropdown-item-container-wrapper {
          border: 0;
        }
      }

      .ng-dropdown-divider {
        border-top: 1px solid $multi-select-dropdown-toggle-border;
        height: 0;
        margin: .5rem 0;
        overflow: hidden;
        padding: 0;
      }

      .ng-dropdown-item-container-wrapper {
        border: .07rem solid $multi-select-dropdown-toggle-border;
        height: 100%;
        overflow-y: auto;

        .ng-dropdown-item-container {
          height: 100%;
          list-style-type: none;
          margin: 0;
          padding: .5rem;

          .ng-dropdown-no-data {
            @include font-size(1.2, 1.6);
            bottom: 0;
            color: $multi-select-dropdown-icon-background;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;

            &:hover {
              background: none;
            }
          }

          li {
            @include font-size(.8, 1);
            cursor: pointer;
            margin-bottom: .1rem;
            overflow: hidden;
            padding: .25rem;
            text-overflow: ellipsis;
            white-space: nowrap;


            a {
              color: $multi-select-dropdown-toggle-color;
            }

            &.ng-item-selected {
              background: darken($generated-context-background, 10%);

              &:hover {
                background: darken($generated-context-background, 10%);
              }
            }

            &.ng-dropdown-group-heading {
              border-bottom: .05rem solid;
              border-color: $generated-context-background;
              cursor: default;
              font-weight: 700;
              margin: .3rem 0;
              padding: .1rem .3rem;

              &:hover {
                background: none;
              }
            }

            &:hover {
              background: $generated-context-background;
            }

            &.disabled {
              opacity: .6;
              pointer-events: none;

            }
          }
        }
      }

      .ng-dropdown-show-more {
        text-align: center;
        width: 100%;

        a {
          @include font-size(.8, 1);
          color: $multi-select-dropdown-link-color;
          cursor: pointer;

          &:hover {
            color: $multi-select-dropdown-link-color-hover;
          }
        }
      }

      .ng-dropdown-filter-wrapper {
        height: 3rem;

        + .ng-dropdown-item-container-wrapper {
          height: calc(100% - 3rem);
        }
      }
    }
  }
}
