<ng-data-table
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="900"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [resizable]="true"
    [width]="70">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [resizable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [resizable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [resizable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [resizable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [resizable]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [resizable]="true"
    [width]="70">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [resizable]="true"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>
