@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

    .ng-dropdown {
      position: relative;

      .ng-dropdown-input-group-btn {
        position: absolute;
        right: 1.5rem;
        top: .1rem;
        z-index: 1;

        .ng-dropdown-delete-button {
          border: 0;
          color: $secondary-background-color;
          cursor: pointer;
          outline: none;
          padding: .3rem .5rem;

          i {
            @include font-size(1.1, 1.4);
            font-weight: 700;
            padding: 0;
          }
        }
      }


      .ng-dropdown-down-arrow {
        @include font-size(1.4, 1.4);
        position: absolute;
        right: .5rem;
        top: .5rem;
        z-index: 1;
      }

      .ng-dropdown-loading {
        @include font-size(1.4, 1.4);
        @include animation(rotating 2s linear infinite);
        background: $multi-select-dropdown-toggle-background;
        position: absolute;
        right: .5rem;
        top: .3rem;
        z-index: 1;
      }

      .ng-dropdown-toggle {
        @include border-radius(0);
        @include display-flex;
        @include flex-wrap(wrap);
        @include font-size(.8, 1.7);
        background: $multi-select-dropdown-toggle-background;
        border: .05rem solid $multi-select-dropdown-toggle-border;
        color: $multi-select-dropdown-toggle-color;
        cursor: pointer;
        outline: 0;
        padding: .2rem 2.7rem .2rem .5rem;
        position: relative;
        text-align: left;
        width: 100%;

        .ng-dropdown-selected-value {
          background: $generated-context-background;
          color: $generated-context-color;
          display: inline-block;
          margin: .1rem .2rem .1rem .1rem;
          padding: 0 .5rem 0 .5rem;
          position: relative;


          i {
            @include font-size(.9, .9);
            background: $generated-context-background;
            color: $alert-error-color;
            cursor: pointer;
            height: auto;
            position: relative;
            right: 0;
            top: .1rem;
            width: .7rem;
          }
        }

      }
    }

    @-webkit-keyframes rotating {
      from{
        -webkit-transform: rotate(0deg);
      }
      to{
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
