@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

    .ng-dropdown {
      position: relative;

      .ng-dropdown-toggle {
        @include border-radius(0);
        @include display-flex;
        @include flex-wrap(wrap);
        @include font-size(.8, 1);
        background: $multi-select-dropdown-toggle-background;
        border: .05rem solid $multi-select-dropdown-toggle-border;
        color: $multi-select-dropdown-toggle-color;
        cursor: pointer;
        outline: 0;
        padding: .5rem;
        position: relative;
        text-align: left;
        width: 100%;

        .ng-dropdown-selected-value {
          background: $generated-context-background;
          color: $generated-context-color;
          display: inline-block;
          margin: .1rem .5rem .1rem 0;
          padding: .2rem 1.5rem .2rem .5rem;
          position: relative;


          i {
            @include font-size(1.1, 1.4);
            background: $generated-context-background;
            color: $alert-error-color;
            cursor: pointer;
            height: 1.3rem;
            position: absolute;
            right: 0;
            top: .05rem;
            width: 1.3rem;
          }
        }

        &::after {
          border-bottom: 0;
          border-left: .3em solid transparent;
          border-right: .3em solid transparent;
          border-top: .3em solid;
          content: '';
          display: inline-block;
          height: 0;
          margin-left: .255em;
          position: absolute;
          right: .5rem;
          top: .8rem;
          vertical-align: .255em;
          width: 0;
        }
      }
    }
  }
}
