<ng-dropdown
  [id]="'products_advanced_08'"
  [selectTrackBy]="'id'"
  [displayTrackBy]="'productType'"
  [options]="options"
  [triggerSelectChangeOnModelUpdate]="true"
  [(ngModel)]="selectChangeOnModelUpdateEventData">
</ng-dropdown>

<br/>
<p class="event-output" *ngIf="selectChangeOnModelUpdateEventData; else noDataAvailable">
  <span>{{ selectChangeOnModelUpdateEventData | json }}</span>
</p>
<ng-template #noDataAvailable>
  <p class="event-output">Click on any dropdown option</p>
</ng-template>
