<div #parentElement style="position: relative;">
  <label>
    <ng-dropdown
      [relativeParentElement]="parentElement"
      [selectTrackBy]="'id'"
      [displayTrackBy]="'productType'"
      [items]="items"
      [limit]="50"
      [triggerSelectChangeOnInit]="true"
      [triggerSelectChangeOnFirstOptionSelect]="false"
      [triggerSelectChangeOnModelUpdate]="true"

      (init)="onDropdownInit($event)"
      (selectChange)="onSelectChange($event)"
      (dataBound)="onDataBound()">
    </ng-dropdown>
  </label>
</div>
