@import '../../../styles/variables';
.code-snippet-container {
  display: block;
  position: relative;

  app-copy-content {
    position: absolute;
    right: -5px;
    top: -5px;
  }
}

.prettyprint {
  background: $nav-tabs-border-color;
  color: $primary-text-color;
  white-space: pre-wrap;

  ol {
    padding-left: 3.5rem;

    li {
      background-color: $nav-tabs-border-color;
    }
  }
}
