@import '../../../styles/variables';

.prettyprint {
  background: $nav-tabs-border-color;
  color: $primary-text-color;
  white-space: pre-wrap;

  ol {
    padding-left: 3.5rem;

    li {
      background-color: $nav-tabs-border-color;
    }
  }
}
