@import '../../../styles/variables';
@import '../../../styles/mixins';

.sw-update-prompt-holder {
  background: #000;
  bottom: 0;
  color: #ddd;
  padding: .5rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-top: #a11111 solid .5rem;
}
