@import '../../../styles/variables';
@import '../../../styles/mixins';

.sw-update-prompt-holder {
  background: $background-overlay;
  border-top: $ornamentum-theme-color solid 0.5rem;
  bottom: 0;
  color: $main-nav-bar-active-text;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
