<h1>Data Table Limit</h1>
<p><b>Limit</b> will allows users to configure the number of items to be displayed in a particular page.</p>

<h2>With limit when pagination is available</h2>
<p>The specified value([limit]="20") will be applied as the limit.</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [limit]="20"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [showSubstituteRows]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>
<br>
<h2>Without limit when pagination is available</h2>
<p>Default value(10) will be applied as the limit.</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [showSubstituteRows]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>
<br>
<h2>With limit when pagination is not available</h2>
<p>The specified value([limit]="20") will be applied as the limit.</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [limit]="20"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [showSubstituteRows]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>
<br>
<h2>Without limit when pagination is not available</h2>
<p>The total item count will be applied as the limit.</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [showSubstituteRows]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>

<h2>Suggested Links</h2>
<a [href]="''" target="_blank">API Doc for Data Table Limit</a>
