<h1>Dropdown Loading Spinner Template</h1>

<p>This feature enables users to customize the dropdown loading spinner view by providing their own template.</p>

<label>The following code block example shows the way of dropdown loading spinner template using. In here we used
  simple text to override the native loading functionality. You can also provide your own custom templates with the any
  custom styles as you like.

  <pre class="prettyprint lang-html">{{demoSnippet.template}}</pre>
</label>

<p>Click dropdown to see the output after applying the above loading spinner template.</p>

<app-loading-spinner-template-usage></app-loading-spinner-template-usage>

<app-example-code [files]="loadingSpinnerTemplateUsage"></app-example-code>

<h2>Suggested Links</h2>
<a href="api-docs/components/DropdownComponent.html#loadingSpinnerTemplate" target="_blank">API Doc for Dropdown Loading Spinner Template</a>
