<div class="feature-container">
  <h1>Loading Spinner Template</h1>

  <p>
    This feature enables users to customize native template of Data loading spinner by providing their own template when data loading is in progress.
    for it's basic usages and example please refer
    <a href="feature/dropdown/templates/loading-spinner-template#basicUsage">Basic Usage</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-loading-spinner-template-usage></app-loading-spinner-template-usage>
  <app-example-code [files]="loadingSpinnerTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same as the all other templates, we can bind a specific property <code>#ngDropdownLoadingSpinner</code> into <b>ng-template</b> to indicates
    customize data loading spinner is need to be applied.
  </p>

  <p>
    The following code block example shows the way of dropdown loading spinner template usages. In here we used simple text to override the native
    loading functionality. You can provide your own custom templates with any custom styles as you want.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.template"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/events']">Events</a><br />
  <a [routerLink]="['/feature/dropdown/server-side-data-binding']">Server-side Data Binding</a><br />
  <a [routerLink]="['/feature/dropdown/real-time-data-binding']">Realtime Data Binding</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#loadingSpinnerTemplate"
    >API Doc for Dropdown Loading Spinner Template</a
  >
</div>
