<h1>Data Table Substitute Rows</h1>
<p>This configuration will allows users give some indication to the users by showing empty rows when the data set is
  less for the specified limit. In the following, it shows how this can be configured.</p>

<h2>With Substitute Rows</h2>
<p>[showSubstituteRows]="true"</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [limit]="20"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false"
  [showSubstituteRows]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>

<h2>Without Substitute Rows</h2>
<p>[showSubstituteRows]="false"</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [limit]="20"
  [pageable]="true"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>

<h2>Suggested Links</h2>
<a [href]="''" target="_blank">API Doc for Data Table Substitute Rows</a>
