<div class="feature-container">
  <h1>Header Details</h1>

  <p>
    Showing header details along with the header menu will help users to get a better understanding about what kind of data is shown and allow to
    customize overall grid table by providing few of rich data table configurations.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-table-header-details-usage></app-table-header-details-usage>
  <app-example-code [files]="tableHeaderDetailsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>
    To show header in the data table users need to set the <code>showHeader</code> property to <b>true</b>. The default value for show header is
    <b>false</b>
  </p>

  <pre class="prettyprint lang-html">{{ demoSnippet.headerDetails }}</pre>

  <p>
    By enabling <code>showHeader</code> the header section will be enabled and there are few additional properties that can be configure after
    enabling the header section. those properties will be explain in-detail in next sections.
  </p>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>
    There are few more properties that affects to the behaviour of table header. All the available properties can be applicable in global level of
    grid configuration.
  </p>

  <h4 id="title">Title</h4>
  <code>title: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>

  <p>
    Title property will allow to define a name for the grid table. by simply binding a string value to the title property will be displays on header
    section. providing a meaningful name is mandatory to get better understanding about the showing data for the users from the first impression.
  </p>

  <app-table-header-details-title-usage></app-table-header-details-title-usage>
  <app-example-code [files]="tableHeaderDetailsTitleUsage"></app-example-code>

  <h4 id="showRefreshButton">Show Refresh Button</h4>
  <code>showRefreshButton: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>
    This configuration can be uses to enable/disable data refresh button. by enabling the refresh button users able to update the grid with latest
    data by clicking on refresh icon that appears in header details bar.
  </p>

  <p>
    When dealing with <a href="feature/data-table/server-side-data-binding">Server Side Data Binding</a> this property is very useful. In here, after
    a users click on refresh button it will trigger the particular event and ornamentum will re-send a request by invoking the respective service call
    and render the data with newly arrived response.
  </p>

  <p>
    Also this property is useful in no data retrieval scenario. for more about no data please refer the
    <a [routerLink]="['/feature/data-table/templates/no-records-template']">No Records Template</a>.
  </p>

  <app-table-header-details-show-refresh-btn-usage></app-table-header-details-show-refresh-btn-usage>
  <app-example-code [files]="tableHeaderDetailsShowRefreshBtnUsage"></app-example-code>

  <h4 id="showColumnSelector">Show Column Selector</h4>
  <code>showColumnSelector: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>
    This property is uses to show or hide the column selector button. by enabling the column selector property, users can select/unselect the
    available columns that need to be shown in grid table. selected columns will be displays with available or default column width.
  </p>

  <app-table-header-details-show-column-selector-usage></app-table-header-details-show-column-selector-usage>
  <app-example-code [files]="tableHeaderDetailsShowColumnSelectorUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/translations']">Translations</a><br />
  <a [routerLink]="['/feature/data-table/loading-spinner']">Data Loading Spinner</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Header</a>
</div>
