<div class="feature-container">
  <h1>Row Spanning </h1>

  <p>
    Row Spanning can be used to show array of data under one specific single cell. in such situations, you can use row
    grouping functionality.
  </p>

  <p>
    As mention in the above, when there is a requirement to group rows, you have to find out how many rows needed to be
    span and how do you structure the data in those rows. by default data table doesn't group any rows and users have to
    set it explicitly.
  </p>

  <p>
    if your going to use cell templating for more than one column you have to handel <code>rospan</code> on that cell manually,
    Please refer to <a [routerLink]="['/feature/data-table/templating/cell-template']" [fragment]="'rowSpan'">Row Span example</a>  in <a [routerLink]="['/feature/data-table/templating/cell-template']" [fragment]="'rowSpan'">Cell Template</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-row-grouping-usage></app-row-grouping-usage>
  <app-example-code [files]="rowGroupingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    The <code>onDynamicRowSpanExtract</code> property let the user to set a call back function to determine the number
    of rows to be grouped or else default value <b>1</b> will be applied.
  </p>

  <p>
    Row Spanning can be enabled by binding a callback function to <code>onDynamicRowSpanExtract</code> event handler. The call back function should be a type of <code><a rel="noopener" target="_blank" href="api-docs/miscellaneous/typealiases.html#DataTableDynamicRowSpanExtractorCallback">DataTableDynamicRowSpanExtractorCallback</a></code>
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.onDynamicRowSpanExtract"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templating/cell-template']" [fragment]="'rowSpan'">Cell Template</a><br>
  <a [routerLink]="['/feature/data-table/experimental/column/resizing']">Column Resizing</a><br>
  <a [routerLink]="['/feature/data-table/styling/responsive-configuration']">Responsive Configuration</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Row Spanning</a><br>
  <a rel="noopener" target="_blank" href="api-docs/miscellaneous/typealiases.html#DataTableDynamicRowSpanExtractorCallback">DataTableDynamicRowSpanExtractorCallback</a>
</div>
