<div class="feature-container">
  <h1>Data Table Data Persistence</h1>

  <p>Assume that you are navigating from one page to another. After sometime due to some other reason you might want to
    come back to the same page which you were initially & want to see some filtered data in the table. But when you come
    back to that previous page you might see that all the changes that you did has gone. So in these type of scenarios,
    you might want to save the previous state of the table.</p>

  <p>Data table allows users to save the state in the scenarios such as filtering, sorting, etc...</p>

  <p>You can tryout the mentioned behaviour by doing sorting, filtering, etc. data and coming back to the same page
    after navigating to other sections.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>
  <app-data-persistence-usage></app-data-persistence-usage>
  <br>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>To enable data persistence, simply set <b>persistTableState</b> to <b>true</b> and by default persistTableState is
    <b>false</b>.</p>
  <pre class="prettyprint lang-html">{{demoSnippet.persistTableState}}</pre>

  <p>The updated state of the data table will be stored in the users's browser storage. In default the table store data
    in the <b>session storage</b>.</p>

  <app-example-code [files]="dataPersistenceUsage"></app-example-code>

  <h2 id="usefulProperties">Useful properties</h2>
  <p>There are some additional properties which are depended with this state persistence control.</p>

  <h4 id="storageMode">Storage Mode</h4>
  <code>storageMode: string = "session" or "local"</code>
  <br>
  <h5 class="badge badge-secondary">Default Value: "session"</h5>
  <p>The page property lets you to control the browser storage type that you want to save the data table state. There
    are two types of storage modes are available.</p>
  <ul class="main-pane-list">
    <li>"local" => Local Storage</li>
    <li>"session" => Session Storage</li>
  </ul>

  <p>The following example shows storing data in the local storage.</p>

  <app-data-persistence-storage-mode-usage></app-data-persistence-storage-mode-usage>
  <app-example-code [files]="dataPersistenceUsageWithStorageMode"></app-example-code>

  <h4 id="stateId">State Saving ID</h4>
  <code>id: string = "state saving key name in the browser storage"</code>
  <br>
  <h5 class="badge badge-secondary">Default Value: ""</h5>
  <p>The page property lets you to assign a name for the state that you are saving in the browser storage. Please note
    that, the provided id value will be added with the prefix of <b>grid_state_</b>. Assume that you provided id as
    "table_details". Then the state will be saved with the key name of "grid_state_<b>table_details</b>".</p>

  <p>In the previous section example has id named "sales_products_detail_summery". So that will be saved in the storage
    "grid_state_sales_products_detail_summery"</p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#persistTableState">API Doc for
    Data Persistence</a>
</div>
