<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand nav-brand-lg app-name-lg">{{appName}}</a>
  <div class="main-navigation navbar-collapse" id="mainnavbar">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let menuItem of menuItems">
        <li class="nav-item"
            [class.active]="menuItem.active">
          <a class="nav-link" (click)="onMenuItemClick(menuItem)">
            <span class="main-nav-label">
              <i></i><span class="menu-title">{{menuItem.title}}</span>
            </span>
          </a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" href="api-docs" target="_blank">
          <span class="main-nav-label">
            <i></i><span class="menu-title">API Docs</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
