<ng-data-table
  [id]="'sales_products_experimental_02'"
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="1280"
  [showColumnSelector]="true"
  [onDynamicRowSpanExtract]="onDynamicRowSpanExtract">
  <ng-data-table-column
    [displayTrackBy]="'id'"
    [title]="'ID'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productLine'"
    [title]="'Product Line'"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productType'"
    [title]="'Product Type'"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'availableStores'"
    [title]="'Available Stores'"
    [width]="120">
    <ng-template #ngDataTableCell let-row="row" let-spanIndex="spanIndex">
      <td>
        <span>{{ getStoreName(row.item, spanIndex, 'storeName') }}</span>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'revenue'"
    [title]="'Revenue'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'quantity'"
    [title]="'Quantity'"
    [width]="120">
  </ng-data-table-column>
</ng-data-table>
