<div class="feature-container">
  <h1>Server Side Web Socket Data Binding</h1>

  <p>
    This data binding technique creates a live connection with the backend and notify when ever data is required.
    Unlike <a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">Server Side Basic Data Binding</a>
    this approach allow you to push data from server to client. This can be used to bind dynamic data streams such as
    traffic, weather, analytics and etc which changes over time. This data binding approach internally use
    <a rel="noopener" target="_blank"
       href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">WebSockets</a> to fetch data from server.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-server-side-web-socket-usage></app-server-side-web-socket-usage>
  <app-example-code [files]="serverSideWebSocketUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>
    <code>onDataBind: DropdownDataBindCallback&lt;any&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-dropdown&gt;</span>
  </p>

  <p>
    Server side data bind functionality can be integrated via <a rel="noopener" target="_blank"
                                                                 href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a>
    callback function input property. Data source associated logic is decoupled from Ornamentum core module to make it
    data source agnostic.
  </p>

  <ol>
    <li>
      <p>
        Import <a rel="noopener" target="_blank"
                  href="https://ornamentum.app/api-docs/modules/DropdownResourceModule.html">DropdownResourceModule</a>
        along with
        <a rel="noopener" target="_blank" href="https://ornamentum.app/api-docs/modules/DropdownModule.html">DropdownModule</a>.
      </p>

      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.webSocketDataBindingModule"></app-code-snippet>
    </li>
    <li>
      <p>
        Within the target component use
        <a rel="noopener" target="_blank"
           href="https://ornamentum.app/api-docs/injectables/DropdownWebsocketResourceFactoryService.html">DropdownWebsocketResourceFactoryService</a>
        to construct an instance of
        <a rel="noopener" target="_blank"
           href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html">DropdownWebsocketDataFetchService&lt;T&gt;</a>
        class.

        Initialize the the newly created instance of
        <a rel="noopener" target="_blank"
           href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html">DropdownWebsocketDataFetchService&lt;T&gt;</a>
        by invoking <a rel="noopener" target="_blank"
                       href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html#init">init</a>
        method and call <a rel="noopener" target="_blank"
                           href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html#onDataBind">onDataBind</a>
        to get the data bind callback function reference within <a rel="noopener" target="_blank"
                                                                   href="https://angular.io/api/core/OnInit">ngOnInit</a>
        lifecycle event handler or component constructor depending on your preference. Cleanup resources and destroy the
        established Web Socket connection by invoking <a rel="noopener" target="_blank"
                                                         href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html#dispose">dispose</a>
        method on <a rel="noopener" target="_blank"
                     href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html">DropdownWebsocketDataFetchService&lt;T&gt;</a>
        instance within <a rel="noopener" target="_blank" href="https://angular.io/api/core/OnDestroy">ngOnDestroy</a>
        lifecycle event handler.
      </p>

      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.webSocketDataBindingComponent"></app-code-snippet>
    </li>
    <li>
      <p>
        Set the callback function reference to
        <a rel="noopener" target="_blank"
           href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a> dropdown
        input property.
      </p>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.WebSocketDataBindingMarkup"></app-code-snippet>
    </li>
  </ol>

  <p>
    <u>WebSocket server (Your backend WebSocket API) should support following:</u>
  </p>

  <ul>
    <li>
      Service will receive data fetch request messages with <a rel="noopener" target="_blank"
                                                               href="https://ornamentum.app/api-docs/interfaces/DropdownRequestParams.html">DropdownRequestParams</a>
      object containing request parameters filtering and any dynamic operation which require data re-fetch.
    </li>
    <li>
      Service should respond follow <a rel="noopener" target="_blank"
                                       href="https://ornamentum.app/api-docs/interfaces/DropdownQueryResult.html">DropdownQueryResult&lt;T&gt;</a>
      schema. However, you can pass a custom response mapper callback function to <a rel="noopener" target="_blank"
                                                                                     href="https://ornamentum.app/api-docs/classes/DropdownWebsocketDataFetchService.html#onDataBind">onDataBind</a>
      and map the response to <a rel="noopener" target="_blank"
                                 href="https://ornamentum.app/api-docs/interfaces/DropdownQueryResult.html">DropdownQueryResult&lt;T&gt;</a>
      schema without making changes in backend API response.
    </li>
  </ul>

  <h2 id="customDataProvider">Custom Data Provider</h2>

  <p>
    Server side and client side data binding can be implemented via a custom data provider as Ornamentum data sources
    are fully decoupled from component logic. Please refer <a
    [routerLink]="['/feature/dropdown/data-binding/server-side/custom-provider']">Custom Data Provider</a> for more
    information.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/stream']">Client Side Stream Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">Server Side Basic Data Binding</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html">API Doc for Server Side Web Socket
    Data Binding</a>
</div>
