<div class="feature-container">
  <h1>Server Side Web Socket Data Binding</h1>

  <p>
    <a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic Data Binding</a> is now
    capable of updating dynamic data without having a manual refresh in the client side. But assume, what happen if
    these dynamic data is available in the server side and time to time that server emitting a new dynamic stream of
    data, can we bind these kind of data to the dropdown? In these type of situations, Server side data binding is
    introduced.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-server-side-web-socket-usage></app-server-side-web-socket-usage>
  <app-example-code [files]="serverSideWebSocketUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Server side data binding is handled via <a rel="noopener" target="_blank"
                                               href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a>
    callback function. It allow users to customize the data binding logic and will be triggers on dropdown
    initialization and on dynamic data dropdown operations. This function will receive <a rel="noopener" target="_blank"
                                                                                          href="https://ornamentum.app/api-docs/interfaces/DropdownRequestParams.html">DropdownRequestParams</a>
    argument and expect to return <a rel="noopener" target="_blank"
                                     href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html">RxJS
    Observable</a> query result <a rel="noopener" target="_blank"
                                   href="https://ornamentum.app/api-docs/interfaces/DropdownQueryResult.html">DropdownQueryResult&lt;T&gt;</a>
    object stream. Data returned from this callback function will be directly bound to dropdown assuming that it matches
    the on demand request context.
  </p>

  <p>For use of Server side web socket data binding operations it is mandatory to import
    <a rel="noopener" target="_blank" href="https://ornamentum.app/api-docs/modules/DropdownResourceModule.html">DropdownResourceModule</a>
    to your application module.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.basicUsage"></app-code-snippet>

  <p>
    Let's see how it uses a simple socket connection to emit data in an time interval and how it could listened from the
    client side in step by step.
  </p>


  <p>In the very first of component initialization, you can creates a web socket connection for browser environment.
    refer the below code snippet for Global Ref Service <a rel="noopener" target="_blank"
                                                           href="https://ornamentum.app/api-docs/injectables/GlobalRefService.html#isBrowser">isBrowser</a>
    method.</p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.isBrowser"></app-code-snippet>

  <p>Then, if window is not <code>undefined</code>, Dropdown Web Socket Data Fetch Service <a rel="noopener"
                                                                                              target="_blank"
                                                                                              href="https://ornamentum.app/api-docs/injectables/DropdownWebsocketDataFetchService.html#init">init</a>
    method will triggers with web socket endpoint. refer the below code snippet.</p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.initMethod"></app-code-snippet>

  <p>Then <code>DropdownDataBindCallback</code> data can be bind into <a rel="noopener" target="_blank"
                                                                         href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a>
    property.</p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.onDataBindMethod"></app-code-snippet>

  <p>After all socket connection will keep alive with a <a rel="noopener" target="_blank"
                                                           href="https://rxjs-dev.firebaseapp.com/api/index/function/interval">RxJS
    Interval</a> and it will emit a data set for Dropdown Web Socket Data Fetch Service <a rel="noopener"
                                                                                           target="_blank"
                                                                                           href="https://ornamentum.app/api-docs/injectables/DropdownWebsocketDataFetchService.html#socketStream">socketStream</a>
    method with a object which contains <code>keep-alive</code> tag in every defined interval.</p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.socketStream"></app-code-snippet>

  <p>After all done, <a rel="noopener" target="_blank" href="https://angular.io/api/core/OnDestroy">OnDestroy</a>
    Angular life cycle hook automatically triggers and invoke Dropdown Web Socket Data Fetch Service
    <a rel="noopener" target="_blank"
       href="https://ornamentum.app/api-docs/injectables/DropdownWebsocketDataFetchService.html#dispose">dispose</a>
    method and unsubscribe all the subscriptions and complete the web socket connection operations.
  </p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.dispose"></app-code-snippet>

  <p>
    The complete set of code snippet for the server side web socket data binding via <a rel="noopener" target="_blank"
                                                                                        href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a>
    call back function can be seen in <a [routerLink]="['/feature/dropdown/data-binding/server-side/web-socket']"
                                         [fragment]="'whatYouWillSee'">What You Will See</a> section example.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/stream']">Client Side Stream Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">Server Side Basic Data Binding</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html">API Doc for Server Side Web Socket Data Binding</a>
</div>
