<div class="feature-container">
  <h1>Client Side Stream Data Binding</h1>

  <p>
    Using client-side real-time data binding feature users can bind data stream to
    represent dynamic data such as traffic, weather, analytics and etc which changes in time. Ornamentum is capable of
    handing live data sources with all available features such as <a
    [routerLink]="['/feature/dropdown/features/item/filtering']">Filtering</a>, <a
    [routerLink]="['/feature/dropdown/features/item/selection']">Item Selection</a> and other functionalities.
  </p>

  <p>
    You can use client side stream data binding technique to bind data sources which changes rapidly.
    Data changes notified by data source will automatically get reflected while persisting the current dropdown state
    without having to manually trigger refresh.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-client-side-stream-usage></app-client-side-stream-usage>
  <app-example-code [files]="clientSideStreamUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Client side stream data binding can be configured by using either of the approaches described below. Note that it
      will always re-render dropdown with last emitted data set.</p>

  <h5>Bind via dataSource</h5>

  <p>
    This can be configure via setting an array of data objects to <code>items</code> input property or through setting a
    <a rel="noopener" target="_blank" href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html">RxJS
      Observable</a> stream to <code>dataSource</code> input property as the same way discussed in the <a
    [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client-side Basic Data Binding</a> section.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dataSource"></app-code-snippet>

  <p>
    The complete set of code snippet for the client side real time data binding via <code>dataSource</code> input
    property can be seen in the example shown in the <a
    [routerLink]="['/feature/dropdown/data-binding/client-side/stream']" [fragment]="'whatYouWillSee'">What You Will
    See</a> section above.
  </p>

  <h5>Bind via items</h5>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.items"></app-code-snippet>

  <p>
    Let's modify the sample code segment shown above (<b>client-side-stream-usage.component.ts</b>) to use
    <code>items</code> property instead of <code>dataSource</code>.
  </p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.dataBindingWithItems"></app-code-snippet>

  <p>
    Dropdown <code>items</code> input property setter will capture and re-render dropdown when ever new data
    collection is set to <code>items</code>. We highly recommend the usage of <code>dataSource</code> over
    <code>items</code> binding. However, you can proceed with this approach if you prefer using data arrays over streams.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client-side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/web-socket']">Server-side Web Socket Data Binding</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html">API Doc for Client Side Stream Data Binding</a>
</div>
