<div class="feature-container">
  <h1>Dropdown List Client Side Stream Data Binding</h1>

  <p>
    This data binding technique can be used to bind data stream to represent dynamic data such as traffic, weather,
    analytics and etc which changes over time. Ornamentum is capable of handling live data sources with all available
    features such as <a
    [routerLink]="['/feature/dropdown/functionality/option/filtering']">Filtering</a>, <a
    [routerLink]="['/feature/dropdown/functionality/option/selection']">Option Selection</a> etc.
  </p>

  <p>
    You can use client side stream data binding technique to bind data sources which changes rapidly.
    Data changes notified by data source will automatically get reflected while persisting the current dropdown state.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-client-side-stream-usage></app-client-side-stream-usage>
  <app-example-code [files]="clientSideStreamUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Client side stream data binding can be configured by using either of the approaches described below. Note that it
    will always re-render dropdown with last emitted data set.</p>

  <ol class="main-pane-list">
    <li>
      <h5 id="bindViaDataSource">Bind via Data Source</h5>

      <p>
        <code>dataSource: Observable&lt;any[]&gt;</code> &nbsp;
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-warning">Default Value: undefined</span>
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-info">Target Component: &lt;ng-dropdown&gt;</span>
      </p>

      <p>Setting an <a rel="noopener" target="_blank"
                       href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html">RxJS Observable</a>
        stream to <code>dataSource</code> input property with the same approach discussed in the <a
          [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic</a> Data Binding
        section. The data table reflect the changes accordingly when data source stream emits data.</p>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dataSource"></app-code-snippet>

      <p>
        The complete set of code snippet for the client side stream data binding via <code>dataSource</code> input
        property can be seen in the example shown in the <a
        [routerLink]="['/feature/dropdown/data-binding/client-side/stream']" [fragment]="'whatYouWillSee'">What You Will
        See</a> section example.
      </p>
    </li>

    <li>
      <h5 id="bindViaOptions">Bind via options</h5>
      <p>
        <code>options: any[]</code> &nbsp;
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-warning">Default Value: undefined</span>
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-info">Target Component: &lt;ng-dropdown&gt;</span>
      </p>

      <p>The <code>options</code> input property also can be used to implement the same behaviour instead of using an <a
        rel="noopener" target="_blank"
        href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html">RxJS Observable</a> stream to bind real
        time data.</p>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.options"></app-code-snippet>

      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.dataBindingWithOptions"></app-code-snippet>

      <p>
        Let's modify the controller code snippet in above example (<b>client-side-stream-usage.component.ts</b>) to use
        <code>options</code> property instead of <code>dataSource</code>.
      </p>
    </li>
  </ol>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client-side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/web-socket']">Server-side Web Socket Data
    Binding</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html">API Doc for Client Side Stream
    Data Binding</a>
</div>
