<div class="feature-container">
  <h1>Filtering</h1>

  <p>
    Filtering option facilitates the users to filter out data on a data grid based on a specific criteria. Filtering
    data would help the users to view and analyse data within a short period of time.
  </p>

  <p>
    In order to filter data in Data Table, <a [routerLink]="['/feature/data-table/column/filtering']"
                                              fragment="filterDropdown">Dropdown</a> or <a
    [routerLink]="['/feature/data-table/column/filtering']" fragment="filterTextBox">Text Box</a> can be used.
    Those filtering controls will be displayed on the header level of the data table.
  </p>

  <div class="filtering-types"></div>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-filtering-usage></app-filtering-usage>
  <app-example-code [files]="filteringUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    To enable the filtering option user should make the <code>filterable</code> property <b>true</b>. However the
    default status of the property is <b>false</b>.
  </p>

  <p>
    This property is used to configure and filter the data in the table column level. The default form of data tables
    does not filter it’s content however users can enhance the filtering capabilities with the use of multiple
    properties.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.filterable"></app-code-snippet>

  <h2 id="filterTextBox">Filter Text Box</h2>

  <p>
    There are few more properties which affect the behaviour of filter text box and those are applicable in column level
    of table configuration after enabling the filtering.
  </p>

  <app-filter-text-box-usage></app-filter-text-box-usage>
  <app-example-code [files]="filterTextBoxUsage"></app-example-code>

  <h4 id="filterPlaceholder">Filter Place Holder</h4>
  <code>filterPlaceholder: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>

  <p>
    The filter place holder property facilitates the user to specify the placeholder name for the column filtering text
    box. As depicted in the above data table filter place holder names are configured only for Retailer Type, Product
    Line, Product Type, Revenue, Quantity and Gross Margin columns.
  </p>

  <h4 id="showFilterClearButton">Show Filter Clear Button</h4>
  <code>showFilterClearButton: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: true</h5>

  <p>
    Show filter clear button property facilitates the user to show/hide the column filtering text box clear button.
  </p>

  <h2 id="filterDropdown">Filter Dropdown</h2>

  <p>
    Apart from the filter text box the users are facilitated to use a dropdown filtration option to filter out data
    from a data table. In order to enable the filter dropdown the users required to make <code>showDropdownFilter</code>
    property <b>true</b>.
  </p>

  <app-filter-dropdown-usage></app-filter-dropdown-usage>
  <app-example-code [files]="filterDropdownUsage"></app-example-code>

  <h4 id="dropdownFilterMenuPosition">Dropdown Filter Menu Position</h4>
  <code>dropdownFilterMenuPosition: string = 'bottom-right' | 'bottom-left' | 'top-left' | 'top-right'</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 'bottom-left'</h5>

  <p>
    Enables users to configure the dropdown filter position. Note that, there are 4 positions users can configure to
    align the dropdown. According to the following example,
  </p>

  <ul class="sub-ul">
    <li>Order Method Type column filter has the position of bottom right</li>
    <li>Retailer Type column filter has the position of bottom left</li>
    <li>Product Line column filter has the position of top right</li>
    <li>Product Type column filter has the position of top left</li>
  </ul>

  <h4 id="dropdownFilterShowOptionSelectCheckbox">Dropdown Filter Show Option Select Check Box</h4>
  <code>dropDownFilterShowOptionSelectCheckbox: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>

  <p>Enabled users to controls the visibility of dropdown filter's option selection check boxes.</p>

  <h4 id="dropdownFilterCloseMenuOnSelect">Dropdown Filter Close Menu OnSelect</h4>
  <code>dropdownFilterCloseMenuOnSelect: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: true</h5>

  <p>Enable/disable dropdown filter close after an option is selected.</p>

  <h4 id="dropdownFilterSelectMode">Dropdown Filter Select Mode</h4>

  <code>dropdownFilterSelectMode: string = 'multi' | 'single' | 'single-toggle'</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 'multi'</h5>

  <p>
    Enables users to configure the dropdown filter option selection type. There are 3 types of selection types available
    in ornamentum data table dropdown filter.
  </p>

  <h4 id="dropdownFilterWrapDisplaySelectLimit">Dropdown Filter Wrap Display Select Limit</h4>
  <code>dropdownFilterWrapDisplaySelectLimit: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 1</h5>

  <p>Used to configure the number of options to be shown in the dropdown at a time.</p>

  <h4 id="dropdownFilterShowSelectedOptionRemoveButton">Dropdown Filter Show Selected Option Remove Button</h4>
  <code>dropdownFilterShowSelectedOptionRemoveButton: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">
    Default Value: false
  </h5>

  <p>Used to show/hide the filtered option removal from the dropdown.</p>

  <h4 id="dropdownFilterGroupByField">Dropdown Filter Group By Field</h4>

  <code>dropdownFilterGroupByField: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>

  <p>
    Enable dropdown filter options grouping under a specified name. If the group name is not specified all the values
    are shown as a single group.
  </p>

  <h4 id="dropdownFilterMenuHeight">Dropdown Filter Menu Height</h4>

  <code>dropdownFilterMenuHeight: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 250</h5>

  <p>Used to specify the column dropdown filter menu height.</p>

  <h4 id="dropdownFilterMenuWidth">Dropdown Filter Menu Width</h4>
  <code>dropdownFilterMenuWidth: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 320</h5>

  <p>Used to specify the column dropdown filter menu width.</p>

  <h4 id="dropdownFilterMultiSelectOptionMaxWidth">Dropdown Filter Multi Select Option Max Width</h4>
  <code>dropdownFilterMultiSelectOptionMaxWidth: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 135</h5>

  <p>Used to specify the multiple option selection dropdown option max width.</p>

  <h4 id="dropdownFilterSearchable">Dropdown Filter Searchable</h4>
  <code>dropdownFilterSearchable: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: true</h5>

  <p>Used to show/hide dropdown filter search box.</p>

  <h4 id="dropdownFilterSearchDebounce">Dropdown Filter Search Debounce</h4>
  <code>dropdownFilterSearchDebounce: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: true</h5>

  <p>Used to enable/disable dropdown filter debounce.</p>

  <h4 id="dropdownFilterSearchDebounceTime">Dropdown Filter Search Debounce Time</h4>
  <code>dropdownFilterSearchDebounceTime: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 500</h5>

  <h4 id="dropdownFilterShowClearSelectionButton">Dropdown Filter Show Clear Selection Button</h4>
  <code>dropdownFilterShowClearSelectionButton: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: true</h5>

  <p>Used to show/hide drop down filter selection clear button.</p>

  <h4 id="filter">Column Value Filter</h4>
  <code>filter: any</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>

  <p>Used to provide a filter to see the values matched for specified criteria.</p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/events']">Events</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Filtering (refer filtering associated configurations)</a>
</div>
