@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  .ng-data-table-column-sort-icon {
    bottom: .5em;
    content: '';
    cursor: pointer;
    height: 1.2em;
    position: absolute;
    right: .5em;
    width: 1.2em;

    &.sort-asc {
     background: transparent url(../../../styles/images/sort-asc.svg) no-repeat;
     background-size: contain;
    }

    &.sort-dsc {
     background: transparent url(../../../styles/images/sort-dsc.svg) no-repeat;
     background-size: contain;
    }

    &.sort-reset {
     background: transparent url(../../../styles/images/sort-reset.svg) no-repeat;
     background-size: contain;
    }
  }
}
