<div class="feature-container">
  <h1>Server-side Data Binding</h1>

  <p>Server side data binding allow users to bind a data set that are not available in client side as a static data set
    but available in external data source with dynamic features. in these type of situations server side data binding
    technique is come to the action.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-server-side-data-binding></app-server-side-data-binding>
  <app-example-code [files]="serverSideDataBindingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>Server side data binding can be configure by providing a any object collecting of observable. bind a available
    specific data source into <code>dataSource</code> property.</p>

  <pre class="prettyprint lang-html">{{demoSnippet.dataSource}}</pre>

  <p>Following code snippet will be represent the implementation of the <code>fetchDataFromServer</code> method that used to
    call the example data api.</p>

  <pre class="prettyprint lang-js">{{demoSnippet.dataFetchMethod}}</pre>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="feature/data-table/client-side-data-binding">Client-side Data Binding</a><br>
  <a rel="noopener" target="_blank" href="feature/data-table/real-time-data-binding">Realtime Data Binding</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#dataSource">API Doc for Server
    Side Data Binding</a>
</div>
