<ng-data-table
  [title]="'Business Details'"
  [items]="items"
  [minHeight]="200"
  [minWidth]="1000"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showColumnSelector]="false"
  [relativeParentElement]="parentElement">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'symbol'"
    [title]="'Symbol'"
    [dropdownFilterMenuPosition]="DropdownMenuPosition.BOTTOM_RIGHT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'business_class'"
    [title]="'Business Class'"
    [dropdownFilterMenuPosition]="DropdownMenuPosition.BOTTOM_LEFT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'time_stamp'"
    [title]="'Timestamp'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'confirmation_type'"
    [title]="'Confirmation Type'"
    [dropdownFilterMenuPosition]="DropdownMenuPosition.TOP_RIGHT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'side'"
    [title]="'Side'"
    [dropdownFilterMenuPosition]="DropdownMenuPosition.TOP_RIGHT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'volume'"
    [title]="'Volume'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'price'"
    [title]="'Price'">
  </ng-data-table-column>
</ng-data-table>
