<div class="feature-container">
  <h1>Server Side Basic Data Binding</h1>

  <p>
    Server side data binding allow users to bind large data sets that are not directly accessible as a full collection
    in client side due to various reasons. Server side data binding can improve performance drastically for large data
    sets but integration is fairly complex compared to <a
    [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic Data Binding</a> and <a
    [routerLink]="['/feature/dropdown/data-binding/client-side/stream']">Client Side Stream Data Binding</a>
    techniques.
  </p>

  <p>
    Unlike in <a [routerLink]="['/feature/dropdown/data-binding/client-side/basic']">Client Side Basic Data
    Binding</a>, server side rendering will request for data on dropdown initialization and whenever user performs
    <a [routerLink]="['/feature/dropdown/features/item/filtering']" [fragment]="'serverSideFiltering'">Server Side
      Filtering</a> operation. Ornamentum has provided an optional opinionated service to integrate external data
    sources. Also, you can build a custom data provider depending on your requirement.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-server-side-basic-usage></app-server-side-basic-usage>
  <app-example-code [files]="serverSideBasicUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Server side data binding is handled via <a rel="noopener" target="_blank"
                                               href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a>
    callback function. Use this callback reference to hook into data bind workflow and provide custom data source. This
    callback function will get triggered on dropdown initialization and on dynamic dropdown operations. It
    receives <a rel="noopener" target="_blank"
                href="https://ornamentum.app/api-docs/interfaces/DropdownRequestParams.html">DropdownRequestParams</a>
    argument and expect to return <a rel="noopener" target="_blank"
                                     href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html">RxJS
    Observable</a> query result <a rel="noopener" target="_blank"
                                   href="https://ornamentum.app/api-docs/interfaces/DropdownQueryResult.html">DropdownQueryResult&lt;T&gt;</a>
    object stream. Data returned from this callback function will be directly bound to dropdown assuming that it matches
    the on demand request context.
  </p>

  <p>For use of Server side basic data binding operations it is mandatory to import <a rel="noopener" target="_blank"
                                                                                       href="https://ornamentum.app/api-docs/modules/DropdownResourceModule.html">DropdownResourceModule</a>
    to your application module.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.serverSideDataBinding"></app-code-snippet>

  <p>
    Following code snippet represent an example implementation of <a rel="noopener" target="_blank"
                                                                     href="https://ornamentum.app/api-docs/components/DropdownComponent.html#onDataBind">onDataBind</a>
    callback.
  </p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.onDataBindMethod"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#dataSource">API Doc for Server Side Basic Data Binding</a>
</div>
