<div class="left-navigation" [style.height.px]="height" [hidden]="!expanded"
     [style.position]="mobileMode? 'absolute': 'relative'">
  <div class="form-group search-place-holder" #searchBox>
    <input class="form-control" type="text" placeholder="Search Feature"/>
  </div>
  <div class="side-menu" [style.height.px]="menuHeight">
    <div class="side-menu-navigation">
      <nav *ngFor="let group of menuGroups">
     <span class="main-nav-label">
        <span class="menu-title">{{group.name}}</span>
        <ul>
           <li *ngFor="let menuItem of group.menuItems" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="menuItem.routePath">
              <span class="main-nav-label">
                <span class="menu-title">{{menuItem.title}}</span>
              </span>
            </a>
            </li>
          </ul>
      </span>
      </nav>
    </div>
  </div>
  <div class="side-menu-overlay"></div>
</div>

