<div class="left-navigation" [style.height.px]="containerHeight" [class.nav-expanded]="expanded">
  <div class="left-navigation-container" (ngClickOutside)="closeMenu()">
    <div class="side-menu" [style.height.px]="menuHeight">
      <div class="side-menu-navigation">
        <nav *ngFor="let group of menuGroups">
          <span class="main-nav-label">
            <span class="menu-title main-menu-title">{{group.name}}</span>
            <ul>
               <li *ngFor="let menuItem of group.menuItems" [routerLinkActive]="'active'" (click)="closeMenu()">
                <a class="nav-link" [routerLink]="menuItem.routePath">
                  <span class="main-nav-label">
                    <span class="menu-title">{{menuItem.title}}</span>
                  </span>
                </a>
                </li>
              </ul>
          </span>
        </nav>
      </div>
    </div>
  </div>
  <div class="side-menu-overlay" [class.show-overlay]="expanded"></div>
</div>

