<div class="left-navigation" [style.height.px]="height" [@slide]="expanded? 'expand': 'collapsed'"
     [style.position]="mobileMode? 'absolute': 'relative'">
  <div (ngClickOutside)="closeMenu()">
    <div class="form-group search-place-holder" #searchBox>
      <input class="form-control" type="text" placeholder="Search Feature" #searchInput (keyup)="onSearchKeyUp(searchInput)"/>
    </div>
    <div class="side-menu" [style.height.px]="menuHeight">
      <div class="side-menu-navigation">
        <nav *ngFor="let group of displayMenuGroups">
     <span class="main-nav-label">
        <span class="menu-title">{{group.name}}</span>
        <ul>
           <li *ngFor="let menuItem of group.menuItems" [routerLinkActive]="'active'" (click)="closeMenu()">
            <a class="nav-link" [routerLink]="menuItem.routePath">
              <span class="main-nav-label">
                <span class="menu-title">{{menuItem.title}}</span>
              </span>
            </a>
            </li>
          </ul>
      </span>
        </nav>
      </div>
    </div>
  </div>
  <div class="side-menu-overlay" [style.visibility]="mobileMode && expanded? 'visible':'hidden'"></div>
</div>

