@import '../../../styles/variables';
@import '../../../styles/mixins';

.left-navigation {
  padding: 0;
  position: sticky;
  z-index: 2;
  width: 250px;
  left: 0;
  top: 0;
  visibility: visible;

  @include breakpoint(max991) {
    position: fixed;
    box-shadow: none;
    left: -250px;
    visibility: hidden;

    &.nav-expanded {
      left: 0;
      visibility: visible;
      top: inherit;
      transition: left 200ms ease-in;
    }

    .side-menu-overlay {
      top: 0;
      left: 0;
      background: #000;
      opacity: 0;
      height: 100%;
      position: fixed;
      width: 100%;

      &.show-overlay {
        opacity: .5;
      }
    }
  }

  .left-navigation-container {
    background: white;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }

  .side-menu {
    background: $side-menu-background;
    border: 1px solid $main-nav-bar-active-text;
    overflow-y: auto;
    padding: 0;
    position: relative;
    left: 0;
    z-index: 2;
    height: calc(100vh - 88px);

    &::-webkit-scrollbar-track {
      background-color: #eee;
    }

    &::-webkit-scrollbar {
      background-color: #ccc;
      height: 5px;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      @include border-radius(0);
      background-color: #ccc;
      opacity: .5;
    }

    .side-menu-navigation {
      background: $side-menu-background;
      height: 100%;

      .main-nav-label {

        .main-menu-title {
          background: $side-menu-dark-background;
          display: block;
          font-weight: 700;
          padding: .5rem 1rem;
        }
      }
    }

    h4 {
      @include font-size(1.2, 1.2);
      margin-bottom: 0;
    }

    label {
      @include font-size(1, 1.4);
      color: $side-menu-label-text;
    }

    ul {
      margin-bottom: 0;
      padding: .5rem 0;


      li {
        @include font-size(1, 1);
        list-style-type: none;

        a {
          @include font-size(.8, 1);
          color: $side-menu-link-color;
          padding: .4rem 1rem;
          position: relative;

          &:hover {
            background: $primary-text-color;
          }

        }

        &.active {
          a {
            span {
              color: $side-menu-link-active-color;;
            }
          }
        }
      }
    }
  }
}
