<ng-data-table
  [id]="'sales_products_overview_01'"
  [title]="'Available Stores'"
  [items]="stores"
  [showHeader]="true"
  [showIndexColumn]="true"
  [showLoadingSpinner]="true">
  <ng-data-table-column
    [field]="'storeName'"
    [title]="'Store Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'website'"
    [title]="'Website'">
  </ng-data-table-column>
  <ng-template #ngDataTableNoRecords>
    <h1 style="font-family: 'Helvetica Neue'; color: #8f893f;">{{row.item.product}} was currently out of stock...</h1>
  </ng-template>
</ng-data-table>
