<div class="main-wrapper" [ngClass]="themeCssClass">
  <div class="page-wrapper">
    <header>
      <app-main-menu (themeChange)="onThemeChange($event)" [selectedTheme]="themeCssClass"></app-main-menu>
    </header>
    <div class="page-wrapper-content" #pageWrapper>
      <div class="page-wrapper-inner-content">
        <app-left-navigation [menuGroups]="menuGroups" (routeChange)="onRouteChange()"></app-left-navigation>
        <div class="main-pane">
          <router-outlet></router-outlet>
        </div>
        <app-right-navigation [menuItem]="activeMenuItem" [parent]="pageWrapper"></app-right-navigation>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
