@import '../../../styles/variables';
@import '../../../styles/mixins';

.main-wrapper {
  overflow: hidden;

  .page-wrapper {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 56px;

    header {
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;
    }

    .page-wrapper-content {
      -webkit-overflow-scrolling: touch;
      display: block;
      overflow: auto;
      position: relative;
      width: 100%;

      .page-wrapper-inner-content {
        background: $side-menu-background-light;
        display: flex;
        font-family: $primary-font;
        padding-bottom: 0.2rem;
        position: relative;

        .main-pane {
          @include font-size(0.9, 1.4);
          padding: 1rem;
          position: relative;
          width: calc(100% - 450px);

          @include breakpoint(max991) {
            width: 100%;
          }

          .main-pane-list {

            .badge-pill {
              padding-right: 1.25rem;
            }
          }
        }
      }
    }
  }
}
