@import '../../../styles/variables';
@import '../../../styles/mixins';

.main-wrapper {
  overflow: hidden;

  .page-wrapper {
    @include display-flex;
    @include flex-direction(column);
    bottom:  0;
    left:  0;
    position:  fixed;
    right:  0;
    top: 56px;

    header {
      left:  0;
      position:  fixed;
      right:  0;
      top:  0;
      z-index: 3;
    }

    .page-wrapper-content {
      -webkit-overflow-scrolling: touch;
      display: block;
      overflow:  auto;
      position:  relative;
      width: 100%;

      .page-wrapper-inner-content {
        @include display-flex;
        background: $side-menu-background-light;
        font-family: $primary-font;
        position: relative;
        height: 100%;
      }
    }
  }
}
