.event-output {
  display: block;
  font-weight: bold;
  max-height: 125px;
  min-height: 30px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  border-left: 10px solid #7b2222;
  background-color: #2f3640;
  padding: 10px;
  color: lightgrey;
}

.event-output::first-line {
  color: #e7c12c;
}

.hierarchy-main {
  color: #7b2222;
  font-weight: bold;
}

.event-types {
  color: #1c797b;
  font-weight: bold;
}

