<div class="feature-container" #parent>
  <h1>Data Table Events</h1>

  <ul class="main-pane-list">
    <li>There are several events types are available in this data table as follows.</li>
    <ul class="main-pane-list">
      <li>
        <label class="event-item">init: </label>
        <ul class="main-pane-list">
          <li>Triggers when initializing the data table.</li>
        </ul>
      </li>
      <li><label class="event-item">allRowSelectChange:</label>
        <ul class="main-pane-list">
          <li>This will trigger when row select change happen for all rows.</li>
        </ul>
      </li>
      <li><label class="event-item">rowBind: </label>
        <ul class="main-pane-list">
          <li>For each table row this will trigger when binding row data.</li>
        </ul>
      </li>
      <li><label class="event-item">rowSelectChange: </label>
        <ul class="main-pane-list">
          <li>Triggers when row select state changes. To identify selected
            rows uniquely it is necessary to specify <b>[selectTrackBy]"</b> property. Therefore, a unique value column
            name should be set as the value for this attribute. According to this example it is <b>'id'.</b>
          </li>
        </ul>
      </li>
      <li><label class="event-item">cellBind: </label>
        <ul class="main-pane-list">
          <li>For each table row cell this will trigger when binding cell data.</li>
        </ul>
      </li>
      <li><label class="event-item">cellClick: </label>
        <ul class="main-pane-list">
          <li>Triggers when clicks on table cell.</li>
        </ul>
      </li>
      <li><label class="event-item">columnBind: </label>
        <ul class="main-pane-list">
          <li>Triggers for each column before all the other events to set column configurations.</li>
        </ul>
      </li>
      <li><label class="event-item">dataBound: </label>
        <ul class="main-pane-list">
          <li>This will trigger after completion of data binding.</li>
        </ul>
      </li>
      <li><label class="event-item">headerClick: </label>
        <ul class="main-pane-list">
          <li>Triggers when clicking table column header row.</li>
        </ul>
      </li>
      <li><label class="event-item">rowClick: </label>
        <ul class="main-pane-list">
          <li>Triggers when user clicks on table row.</li>
        </ul>
      </li>
      <li><label class="event-item">rowDoubleClick: </label>
        <ul class="main-pane-list">
          <li>Triggers when user double clicks on table row.</li>
        </ul>
      </li>
    </ul>
    <li>Please refer following example to see, how this event can be used and what types of data is passed to these
      events.
    </li>
  </ul>

  <app-events-usage></app-events-usage>

  <app-example-code [files]="eventsUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Events
    (refer outputs section)</a>
</div>