<ng-data-table
  [id]="'sales_products_advanced_10'"
  [title]="'Sales Products'"
  [selectTrackBy]="'id'"
  [minContentWidth]="1280"
  [items]="items"
  [limit]="5"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [rowSelectable]="true"
  [showRowSelectCheckbox]="true"
  [showRowSelectAllCheckbox]="true"
  [selectMode]="'multi'"
  (init)="onDataTableInit($event)">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="150">
  </ng-data-table-column>
</ng-data-table>

<br/>
<p class="event-output">
  <span>{{ dataTableInitData }}</span>
</p>
