<ng-data-table
  [id]="'sales_products_functionality_18'"
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="1280"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [filterable]="true"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [showFilterClearButton]="false"
    [filterPlaceholder]="'OMT Filter'"
    [filterable]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [filterable]="true"
    [filterPlaceholder]="'RT Filter'"
    [showFilterClearButton]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [filterable]="true"
    [filterPlaceholder]="'PL Filter'"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [filterable]="true"
    [filterPlaceholder]="'PT Filter'"
    [showFilterClearButton]="true"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [filterable]="true"
    [filterPlaceholder]="'R Filter'"
    [showFilterClearButton]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [filterable]="true"
    [filterPlaceholder]="'Q Filter'"
    [showFilterClearButton]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [filterable]="true"
    [filterPlaceholder]="'GM Filter'"
    [showFilterClearButton]="true"
    [width]="150">
  </ng-data-table-column>
</ng-data-table>
