<ng-data-table
  [title]="'Sales Products'"
  [selectTrackBy]="'id'"
  [minContentWidth]="900"
  [items]="items"
  [limit]="5"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [rowSelectable]="true"
  [showRowSelectCheckbox]="true"
  [showRowSelectAllCheckbox]="true"
  [selectMode]="'multi'"
  (cellBind)="onCellBind($event)">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="50">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [width]="70">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>

<br/>
<p class="event-output" *ngIf="cellBindEventData.length; else noDataAvailable">
  <span *ngFor="let item of cellBindEventData.slice().reverse()">{{ item }}<br/></span>
</p>
<ng-template #noDataAvailable>
  <p class="event-output">Please wait... cell binding is in progress</p>
</ng-template>
