<div class="feature-container">
  <h1>Dropdown Overview</h1>

  <p>Ornamentum dropdown is an simple dropdown with extended features that a conventional dropdown not supports. as same
    as the <a rel="noopener" target="_blank" href="feature/data-table/overview">Data
      Table</a> it was built for focusing on deliver a feature rich, highly configurable,UI framework agnostic, fully
    responsive and minimal peer dependency support dropdown in top of the
    <a rel="noopener" target="_blank" href="https://angular.io/docs">Angular</a> Framework.
  </p>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>The following example shows how Ornamentum Dropdown looks like and responsible code segment for the dropdown
    is shown down below.</p>

  <app-basic-usage></app-basic-usage>
  <app-example-code [files]="basicUsage"></app-example-code>

  <h2 id="installation">Installation</h2>
  <ol class="main-pane-list">
    <li>Note that, as a prerequisite it necessary to have <b><a href="https://v6.angular.io/docs">Angular 6</a></b>
      or higher version to be run.
    </li>

    <li>Download & Install the Ornamentum package and its dependencies using the following command.</li>

    <ul class="main-pane-list">
      <li> Via <b>Yarn</b></li>
      <pre class="prettyprint lang-html">{{demoSnippet.yarn}}</pre>
      <li> Via <b>NPM</b></li>
      <pre class="prettyprint lang-html">{{demoSnippet.npm}}</pre>
    </ul>

    <li>After success installation, you can add Dropdown to your application <b>root module</b> as shown in the below.
    </li>
    <pre class="prettyprint lang-html">{{demoSnippet.import}}</pre>
    <li>As the final step you have to import the ornamentum base style reference to your project as follows.</li>

    <pre class="prettyprint lang-html">{{demoSnippet.stylesImport}}</pre>
  </ol>

  <h2 id="peerDependencies">Peer Dependencies</h2>
  <p>Ornamentum data table was depend of set of peer dependencies. before library usage, those dependencies need to
    pre-installed before use. which are,</p>
  <ul class="main-pane-list">
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/common">@angular/common</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/@angular/core">@angular/core</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/lodash-es">Lodash-ES</a></li>
    <li><a rel="noopener" target="_blank" href="https://www.npmjs.com/package/rxjs">RxJS</a></li>
  </ul>

  <h2 id="functionality">Functionality</h2>
  <p>Below structure shows the available features and functionalities that user allows to configure on dropdown. in each
    section explain and describes particular feature or functionality in depth with examples.</p>

  <ul class="main-pane-list">
    <li><b>Data Binding & Events</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/client-side-data-binding">Client-side Data
        binding</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/server-side-data-binding">Server-side Data
        binding</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/real-time-data-binding">Realtime Data binding</a>
      </li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/on-data-bind">On Data Bind</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/events">Events</a></li>
    </ul>

    <li><b>Disabling</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/disable">Dropdown Disabling</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/item-disabling">Item Disabling</a></li>
    </ul>

    <li><b>Responsive Configurations</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/menu-position">Menu Position</a></li>
      <li><a href="feature/dropdown/menu-width-height">Menu Width & Height</a></li>
    </ul>

    <li><b>Data Ordering</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/filtering">Filtering</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/grouping">Grouping</a></li>
    </ul>

    <li><b>Data Loading</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/load-on-scroll">Load Data On Scroll</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/load-data-on-init">Load Data On Init</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/display-tracked-by">Display Track By Attribute</a>
      </li>
    </ul>

    <li><b>Customizations</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/item-selection">Item Selection</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/limit">Data Limit</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/translations">Translations</a></li>
    </ul>

    <li><b>Templates</b></li>
    <ul class="main-pane-list">
      <li><a rel="noopener" target="_blank" href="feature/dropdown/templates/dropdown-option-template">Option
        Template</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/templates/dropdown-option-group-header-template">Group
        Header Template</a></li>
      <li><a rel="noopener" target="_blank" href="feature/dropdown/templates/loading-spinner-template">Loading
        Template</a></li>
    </ul>
  </ul>
  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="feature/data-table/overview">Data Table Overview</a><br>
  <a rel="noopener" target="_blank" href="api-docs/modules/DropdownModule.html">API Doc for Dropdown Module</a>
</div>
