<h1>Dropdown Overview</h1>
<br/>
<h2>Basic Usage</h2>
<p>The following example demonstrates the Dropdown in action.</p>

<app-basic-usage></app-basic-usage>

<app-example-code [files]="basicUsage">
</app-example-code>

<h2>Dependencies</h2>
<ul class="main-pane-list">
  <li>@angular/common</li>
  <li>@angular/core</li>
  <li>@angular/forms</li>
  <li>lodash-es</li>
  <li>rxjs</li>
</ul>

<h2>Suggested Links</h2>
<a rel="noopener" target="_blank" href="api-docs/modules/DropdownModule.html">API Doc for DropdownModule</a>
