<h1>Dropdown Overview</h1>
<br/>
<h2>Basic Usage</h2>
<p>The following example demonstrates the Dropdown in action.</p>

<ng-dropdown
  [groupByField]="'group'"
  [selectMode]="DropdownSelectMode.SINGLE"
  [filterable]="true"
  [showClearSelectionButton]="false"
  [items]="selected"
  [loadViewDistance]="0"
  [showSelectedOptionRemoveButton]="true"
  [setFirstOptionSelected]="true"
  [disabled]="true"

  (selectChange)="onSelectChange($event)">
  <ng-template #ngDropdownOptionGroupHeader>
    Group
  </ng-template>
  <ng-template #ngDropdownOption let-option="option">
    {{option.text}} -- Template
  </ng-template>
</ng-dropdown>

<h2>Installation</h2>
<ol>
  <li>Install the package
    <pre><code>{{install_code}}</code></pre>
  </li>

  <li>As the second step, import DropdownModule into your application root module
    <pre><code>{{import_code}}</code></pre>
  </li>
</ol>

<h2>Dependencies</h2>
<ul>
  <li>@angular/common</li>
  <li>@angular/core</li>
  <li>@angular/forms</li>
  <li>lodash-es</li>
  <li>rxjs</li>
</ul>

<h2>Suggested Links</h2>
<a [href]="'src/docs/api-docs/modules/DropdownModule.html'" target="_blank">API Doc for DropdownModule</a>
