<ng-dropdown
  [selectTrackBy]="'id'"
  [displayTrackBy]="'productType'"
  [selectMode]="'multi'"
  [items]="items"
  [selectedOptions]="selectedOptions"
  [multiSelectOptionMaxWidth]="200"
  [showOptionSelectCheckbox]="true"
  [showSelectedOptionRemoveButton]="true"
  [showClearSelectionButton]="true"
  [triggerSelectChangeOnInit]="true"
  (selectChange)="onSelectChange($event)">
</ng-dropdown>

<!-- selected item ids view on Bootstrap labels. -->
<br>
<div *ngIf="selectedItems.length">
  <h5>Selected Item(s)</h5>
  <p class="event-output">
    <span *ngFor="let selectedItem of selectedItems.reverse()">{{selectedItem}}<br></span>
  </p>
</div>
