<h1>Data Table Filtering</h1>

<h2>Filter Dropdown</h2>
<ul>
  <li>[filterable]="true or false"</li>
  <li>[showDropdownFilter]="true or false""</li>
  <li>[dropdownFilterMenuPosition]="MenuPosition.BOTTOM_RIGHT" | "MenuPosition.BOTTOM_LEFT" | "MenuPosition.TOP_LEFT" |
    "MenuPosition.TOP_RIGHT"
  </li>
  <li>[dropDownFilterShowOptionSelectCheckbox]="true or false"</li>
  <li>[dropdownFilterCloseMenuOnSelect]="true or false"</li>
  <li>[dropdownFilterShowSelectAll]="true or false"</li>
  <li>[dropdownFilterSelectMode]="DropdownSelectMode.MULTI" | DropdownSelectMode.SINGLE" | DropdownSelectMode.SINGLE_TOGGLE"</li>
  <li>[dropdownFilterWrapDisplaySelectLimit]="5 (limit in number)"</li>
  <li>[dropdownFilterShowSelectedOptionRemoveButton]="true or false"</li>
  <li>[dropdownFilterGroupByField]="group field name"</li>
  <li>[dropdownFilterMenuHeight]="200 (height in number)"</li>
  <li>[dropdownFilterMenuWidth]="200 (width in number)"</li>
  <li>[dropdownFilterMultiSelectOptionMaxWidth]="300 (max width in number)"</li>
  <li>[dropdownFilterSearchable]="true or false"</li>
  <li>[dropdownFilterSearchDebounce]="true or false"</li>
  <li>[dropdownFilterSearchDebounceTime]="100 (time in number)"</li>
  <li>[dropdownFilterShowClearSelectionButton]="true or false"</li>
  <li>[filter]="Column value filter" => In here [{{ '{' }} key: "In Service", value: "In Service" {{ '}' }}] filter is applied for the status value column</li>
</ul>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [dropdownFilterCloseMenuOnSelect]="false"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'"
    [dropdownFilterMenuPosition]="MenuPosition.BOTTOM_RIGHT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [dropdownFilterCloseMenuOnSelect]="false">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'"
    [dropdownFilterMenuPosition]="MenuPosition.BOTTOM_LEFT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
    [filter]="[{ key: 'In Service', value: 'In Service' }]">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'"
    [dropdownFilterMenuPosition]="MenuPosition.TOP_LEFT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'"
    [dropdownFilterMenuPosition]="MenuPosition.TOP_RIGHT"
    [filterable]="true"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true">
  </ng-data-table-column>
</ng-data-table>

<h2>Filter Text Box</h2>
<ul>
  <li>[filterable]="true or false"</li>
  <li>[filterPlaceholder]="Filter place holder text to display"</li>
  <li>[showFilterClearButton]="true or false"</li>
</ul>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="items"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [filterable]="true"
    [filterPlaceholder]="'ID Filter'"
    [showFilterClearButton]="true"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'"
    [filterable]="true"
    [filterPlaceholder]="'Station Name Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'"
    [filterable]="true"
    [filterPlaceholder]="'Status Value Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'"
    [filterable]="true"
    [filterPlaceholder]="'Bike Count Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'"
    [filterable]="true"
    [filterPlaceholder]="'Address Name Filter'"
    [showFilterClearButton]="true">
  </ng-data-table-column>
</ng-data-table>
