<div class="feature-container">
  <h1>Dropdown List Client Side Basic Data Binding</h1>

  <p>Client side data binding allow the users to bind static data sets to the dropdown when the full data collection is
    available in client side. It can be configured via setting an array of data objects to <code>options</code> input
    property
    or by setting a <a rel="noopener" target="_blank" href="https://rxjs-dev.firebaseapp.com/">RxJS Observable</a>
    stream to <code>dataSource</code> input property.</p>

  <p>In this data binding technique, data set will be fetched at once.
    <a [routerLink]="['/feature/dropdown/functionality/filtering']">Filtering</a> and
    <a [routerLink]="['/feature/dropdown/functionality/option/selection']">Option Selection</a> operations are performed in client
    side via a built-in data source manager service.
  </p>

  <p>
    However, it might affect the overall site performance if the data set is significantly larger. Consider using <a
    [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a> Data Binding in such
    cases where all the computation heavy operations are handled in server side and only current view data is sent to
    client side for on demand data binding.
  </p>


  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-options-usage></app-options-usage>
  <app-example-code [files]="optionsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Client side data binding can be configured by using either of two approaches described below. Data emitted/bound after
    initial data binding will re-initialize the dropdown list with the new options data set and drop previously bound options
    data collection or stream.
  </p>

  <ol class="main-pane-list">
    <li>
      <h5 id="bindViaOptions">Bind via Options</h5>
      <p>
        <code>options: any[]</code> &nbsp;
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-warning">Default Value: undefined</span>
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-info">Target Component: &lt;ng-dropdown&gt;</span>
      </p>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.options">{{ demoSnippet.options }}</app-code-snippet>

      <p>
        This approach can be used to bind a static options data collection. The complete set of code snippets for the data binding
        via <code>options</code> input property can be found in <a
        [routerLink]="['/feature/dropdown/data-binding/client-side/basic']"
        [fragment]="'whatYouWillSee'">What You Will See</a> section example. Dropdown list component reflect the data changes when
        <code>options</code> reference is updated hence, it is not sensitive to data source mutations.
    </li>

    <li>
      <h5 id="bindViaDataSource">Bind via Data Source</h5>
      <p>
        <code>dataSource: Observable&lt;any[]&gt;</code> &nbsp;
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-warning">Default Value: undefined</span>
        <span class="pr-1"></span>
        <span class="badge badge-pill badge-info">Target Component: &lt;ng-dropdown&gt;</span>
      </p>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dataSource"></app-code-snippet>

      <p>
        This approach can be used to bind an Observable data stream. Refer following example code snippet for complete
        usage of the <code>dataSource</code>
        property in the client side data binding. The last emitted data collection via the data source stream is
        reflected in dropdown list.
      </p>

      <app-data-source-usage></app-data-source-usage>
      <app-example-code [files]="dataSourceUsage"></app-example-code>
    </li>
  </ol>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/data-binding/client-side/stream']">Client Side Stream Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">Server Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/server-side/web-socket']">Server Side Web Socket</a><br/>
  <a [routerLink]="['/feature/dropdown/data-binding/custom-provider']">Custom Data Provider</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#options">API Doc - Options Input</a>
</div>
