<div class="feature-container">
  <h1>Data Loading Template</h1>

  <p>
    Data Loading Template provides an option to customize the appearance of data loading spinner as desired which is
    displayed while data loading or fetching. To define the data loading template, nest an
    <code>&lt;ng-template&gt;</code> tag with the <code>showLoadingSpinner</code>
    directive inside. Further information can be found in <a
    [routerLink]="['/feature/data-table/options/data-loading-spinner']">Data Loading Spinner</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-data-loading-template-usage></app-data-loading-template-usage>
  <app-example-code [files]="dataLoadingTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same to all other templates, we can define To define the data loading template, nest an <code>&lt;ng-template&gt;</code>
    tag with the <code>showLoadingSpinner</code> directive inside by overriding <a
    [routerLink]="['/feature/data-table/options/data-loading-spinner']">Data Loading Spinner</a> for indicating the
    on-going data fetch operation.
  </p>

  <p>
    The following example depicts the integration of data loading template. Here we use simple text to override the
    native loading functionality.
  </p>

  <app-code-snippet [content]="demoSnippet.template" [type]="FileType.HTML"></app-code-snippet>
  <app-code-snippet [content]="demoSnippet.stylishTemplate" [type]="FileType.HTML"></app-code-snippet>

  <h2>Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a><br/>
  <a [routerLink]="['/feature/data-table/templating/cell-template']">Cell Template</a><br/>
  <a [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a><br/>
  <a href="api-docs/components/DataTableComponent.html#loadingSpinnerTemplate" rel="noopener" target="_blank">API Doc
    for Data Table Data Loading Template</a>
</div>
