@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

  .navbar {
    @include box-shadow(1px 2px 3px #ccc);
    background: $nav-bar-background;
    flex-wrap: nowrap;
    font-family: $primary-font;
    padding: 0 1rem 0 1.5rem;

    @include breakpoint(max991) {
      @include flex-wrap(wrap)
    }

    .navbar-toggle-button {
      cursor: pointer;
      display: block;
      outline: none;
      left: -1rem;
      position: relative;
      top: .5rem;

      .toggler-icon {
        background-image: url(../../../assets/img/menu.svg);
        height: 1.3em;
        width: 1.3em;
      }
    }

    .app-name-lg {
      @include transition(.5s all ease);
      background: url(../../../assets/img/ornamentum.svg) no-repeat;
      background-size: 100% 100%;
      display: inline-block;
      height: 2.2rem;
      padding-top: 0;
      position: relative;
      top: 0;
      width: 10rem;

      @include breakpoint(max991) {
        left: 4rem;
        position: absolute;
        top:.5rem;
      }


      &:hover {
        color: $main-nav-bar-active-text;
        text-decoration: none;
      }
    }
  }

  .navbar-nav {
    flex-direction: row;

    @include breakpoint(max991) {
      padding-top: 1rem;
    }

    > .nav-item {
      padding: 0 1rem;
      position: relative;

      > .nav-link {
        @include font-size(1, 2);
        border-bottom: 5px solid transparent;
        color: $primary-text-color;
        cursor: pointer;
        font-weight: 300;
        letter-spacing: .03rem;
        padding-left: 0;
        padding-right: 0;

        @include breakpoint(max991) {
          @include font-size(.8, 2);
        }

        .main-nav-label {
          padding: 0;
        }

        .menu-icon {
          @include font-size(1, 1.4);
          padding-right: .5rem;
          vertical-align: middle;
        }

        .menu-title {
          padding: 0 .5rem;
        }

        .github-icon {
          background: url(../../../assets/img/github-logo.svg) no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          height: 2rem;
          position: absolute;
          right: .2rem;
          width: 2rem;

          &:hover {
            opacity: .7;
          }
        }

        .api-docs {
          background: url(../../../assets/img/api.svg) no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          height: 2rem;
          position: absolute;
          right: 1rem;
          width: 2rem;

          &:hover {
            opacity: .7;
          }
        }
      }

      &.active {

        .nav-link {
          @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
          border-bottom: 5px solid $primary-text-color;
          color: $main-nav-bar-active-text;
          display: block;
          margin: 0;
        }
      }
    }

    &.icon-menu {
      @include breakpoint(max991) {
        padding-top: 0;
        position: absolute;
        top: 0;
        right: .5rem;
      }

      .nav-item {
        padding: 0 1.3rem;
      }
    }
  }
  }
}

