@import '../../../styles/variables';
@import '../../../styles/mixins';

.navbar {
  @include box-shadow(1px 2px 3px #818284);
  background: $nav-bar-background;
  flex-wrap: nowrap;
  font-family: $primary-font;
  padding: 0 1rem 0 1.5rem;
  height: 56px;

  .navbar-toggle-button {
    cursor: pointer;
    display: none;
    outline: none;
    left: -1rem;
    position: relative;
    top: .5rem;

    @include breakpoint(max991) {
      display: block;
      top: 0;
    }

    .toggler-icon {
      background-image: url(../../../../assets/images/menu.svg);
      height: 1.3em;
      width: 1.3em;
    }
  }

  .app-name-lg {
    @include transition(.5s all ease);
    background: url(../../../../assets/images/ornamentum.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 2.2rem;
    padding-top: 0;
    position: relative;
    top: 0;
    width: 10rem;

    @include breakpoint(max991) {
      background: url(../../../../assets/images/ornamentum-sm.svg) no-repeat;
      height: 2.5rem;
      left: 4rem;
      position: absolute;
      top: .5rem;
      width: 5rem;
    }

    &:hover {
      color: $main-nav-bar-active-text;
      text-decoration: none;
    }
  }
}

.navbar-nav {
  flex-direction: row;
  @include breakpoint(max991) {
    margin-left: 2rem;
  }

  > .nav-item {
    padding: 0 1rem;
    position: relative;

    @include breakpoint(max480) {
      padding: 0 .5rem;
    }

    > .nav-link {
      @include font-size(1, 2);
      border-bottom: 5px solid transparent;
      color: $primary-text-color;
      cursor: pointer;
      font-weight: 300;
      letter-spacing: .03rem;
      padding-left: 0;
      padding-right: 0;

      @include breakpoint(max991) {
        @include font-size(.8, 2);
      }

      .main-nav-label {
        padding: 0;

        &.package-version {
          @include font-size(.8, 2);
          font-weight: 700;
        }

        .menu-title {
          font-weight: 700;
        }

        &.theme-switcher {
          display: inline-block;
          position: relative;

          .themes-selector {
            a {
              position: relative;

              span {
                &:before {
                  background: #fff;
                  border-radius: 2px;
                  content: "";
                  height: 2px;
                  left: 5px;
                  position: absolute;
                  top: 10px;
                  transform: rotate(45deg);
                  transform-origin: 0% 0%;
                  transition: width 50ms ease 50ms;
                  width: 0;

                }

                &:after {
                  content: "";

                  height: 2px;
                  background: #fff;
                  border-radius: 2px;
                  left: 8px;
                  position: absolute;
                  top: 16px;
                  transform: rotate(305deg);
                  transform-origin: 0% 0%;
                  transition: width 50ms ease;
                  width: 0;
                }
              }
            }
          }

          .selected {
            a {
              span {
                &:after {
                  transition: width 150ms ease 100ms;
                  width: 13px;
                }

                &:before {
                  transition: width 150ms ease 100ms;
                  width: 8px;
                }
              }
            }
          }

          &:hover {
            > .theme-selector-container {
              @include display-flex;
              @include transition(all .3s ease);
              @include scale(1);
              height: 50px;
              width: 150px;

              span {
                border: 2px solid #fff;
                height: 25px;
                width: 25px;
              }

            }
          }
        }
      }

      .menu-icon {
        @include font-size(1, 1.4);
        padding-right: .5rem;
        vertical-align: middle;
      }

      .menu-title {
        font-weight: 700;
        padding: 0 .5rem;
      }

      .github-icon {
        background: url(../../../../assets/images/github-logo.svg) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        height: 2rem;
        position: absolute;
        left: .2rem;
        width: 2rem;

        &:hover {
          opacity: .7;
        }
      }

      .api-docs {
        background: url(../../../../assets/images/api.svg) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        height: 2rem;
        position: absolute;
        right: 1rem;
        width: 2rem;

        &:hover {
          opacity: .7;
        }
      }

      .theme {
        background: url(../../../../assets/images/theme.svg) no-repeat;
        background-size: 100% 100%;
        height: 25px;
        left: -1.7rem;
        position: absolute;
        top: -1.1rem;
        width: 25px;
      }

      .theme-selector-container {
        @include box-shadow(1px 2px 3px $nav-bar-background);
        @include justify-content(center);
        @include transition(all .2s ease);
        @include scale(0);
        background: $nav-bar-background;
        height: 0;
        padding: 1rem 0;
        position: absolute;
        right: 0;
        top: 8px;
        width: 0;
        z-index: 12;

        .themes-selector {
          padding: 0 5px;
          position: relative;
          width: 35px;

          span {
            @include border-radius(50%);
            border: 0;
            height: 0;
            position: absolute;
            width: 0;

            &.dark-theme {
              background: $dark-theme-color;
            }

            &.base-theme {
              background: $base-theme-color;
            }

            &.flat-theme {
              background: $flat-theme-color;
            }

            &.ornamentum-theme {
              background: $ornamentum-theme-color;
            }
          }
        }
      }
    }

    &.active {

      .nav-link {
        @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
        border-bottom: 5px solid $primary-text-color;
        color: $main-nav-bar-active-text;
        display: block;
        margin: 0;
      }
    }
  }

  &.icon-menu {
    @include breakpoint(max991) {
      padding-top: 0;
      position: absolute;
      top: 0;
      right: .5rem;
    }

    .nav-item {
      padding: 0 1.3rem;
    }

    .github-icon-link {
      padding: 0 1rem 0 2.5rem;

      .github-link {
        font-weight: 700;
        @include breakpoint(max767) {
          display: none;
        }
      }
    }
  }
}

