<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse sticky-top" #menuElement>
  <button class="navbar-toggler navbar-toggle-button" type="button" (click)="toggleNavigation($event)"
          aria-label="Toggle side navigation">
    <span class="navbar-toggler-icon toggler-icon"></span>
  </button>
  <a class="navbar-brand nav-brand-lg app-name-lg" href="#"></a>
  <div class="main-navigation navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/feature/data-table'">
            <span class="main-nav-label">
              <i class="data-table-icon"></i>
              <span class="menu-title">Data Table</span>
            </span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/feature/dropdown'">
            <span class="main-nav-label">
              <i class="dropdown-icon"></i>
              <span class="menu-title">Dropdown</span>
            </span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto icon-menu">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.npmjs.com/package/ornamentum">
          <span class="main-nav-label package-version">v{{packageVersion}}</span>
        </a>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <span class="main-nav-label theme-switcher">
            <span class="theme"></span>
            <div class="theme-selector-container">
            <div class="themes-selector">
              <a (click)="onThemeChange(CoreConstants.BASE_THEME_CLASS)" title="Base Theme">
                <span class="base-theme"></span>
              </a>
            </div>
            <div class="themes-selector">
              <a (click)="onThemeChange(CoreConstants.DARK_THEME_CLASS)" title="Dark Theme">
                <span class="dark-theme"></span>
              </a>
            </div>
            <div class="themes-selector">
              <a (click)="onThemeChange(CoreConstants.FLAT_THEME_CLASS)" title="Flat Theme">
                <span class="flat-theme"></span>
              </a>
            </div>
               <div class="themes-selector">
              <a (click)="onThemeChange(CoreConstants.ORNAMENTUM_THEME_CLASS)" title="Ornamentum Theme">
                <span class="ornamentum-theme"></span>
              </a>
            </div>
          </div>
          </span>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="api-docs/index.html" target="_blank">
          <span class="main-nav-label">
            <span class="api-docs" title="API Docs"></span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/yohangz/ornamentum" target="_blank">
          <span class="main-nav-label">
            <span class="github-icon" title="https://github.com/yohangz/ornamentum"></span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
