<h1>Data Table Data Binding</h1>
<ul>
  <li>The main objective of data table is to show data in tabular format.</li>
  <li>In order to show data we need to bind the data to the data table. There are two types of bindings can be used,
    when binding data to the ornamentum data table.
    <ul>
      <li>Static Data Binding</li>
      <li>Dynamic Data Biding</li>
    </ul>
  </li>
  <li>Depending on the requirement users can select the best data binding method.</li>
</ul>

<h2>Server Side Data Biding</h2>
<p>In server side data binding, data should be passed via the <b>dataSource</b> attribute => [dataSource]="source"</p>

<ng-data-table
  [title]="'Station Details'"
  [selectTrackBy]="'id'"
  [dataSource]="dataSource"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showIndexColumn]="true"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'statusValue'"
    [title]="'Status Value'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'availableBikes'"
    [title]="'Available Bikes'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'stAddress1'"
    [title]="'Address'">
  </ng-data-table-column>
</ng-data-table>
<br>
<h2>Suggested Links</h2>
<a [href]="''" target="_blank">API Doc for Server Side Data Binding</a>
