<div class="feature-container" #parent>
  <h1>Dropdown Option Template</h1>

  <p>This feature enables users to customize the dropdown option view by providing their own template.</p>

  <label>The following code block example shows the way of dropdown option template using. In here we used
    simple text to override the native loading functionality. You can also provide your own custom templates with the
    any
    custom styles as you like.

    <pre class="prettyprint lang-html">{{demoSnippet.template}}</pre>
  </label>

  <p>Click dropdown to see the output after applying the above option template.</p>

  <app-option-template-usage></app-option-template-usage>

  <app-example-code [files]="optionTemplateUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#dropdownOptionTemplate">API Doc for
    Dropdown Option Template</a>
</div>