@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

li {
  padding-bottom: 10px;
}

.sub-ul {
  li {
    color: $side-menu-label-text;
    padding-bottom: 2px;
  }
}

.filtering-types {
  background: url('../../../../../../assets/images/filtering-types.png') no-repeat;
  height: 100px;
  width: 100%;
  background-size: 100%;
  display: inline-block;

  @media only screen and (max-width: 1600px){
    height: 75px;
  }

  @media only screen and (max-width: 1199px){
    height: 55px;
  }

  @media only screen and (max-width: 991px){
    height: 75px;
  }

  @media only screen and (max-width: 680px){
    height: 55px;
  }

  @media only screen and (max-width: 480px){
    height: 35px;
  }
}
