<div class="feature-container">
  <h1>Data Table Filtering</h1>

  <p>
    Filtering option facilitates the users to filter out data based on a specific criteria. Filtering would help the
    users to view and analyze data within a few seconds.
  </p>

  <p>
    In order to perform Filter operations, ornamentum provides, <a
    [routerLink]="['/feature/data-table/functionality/column/filtering']"
    [fragment]="'filterDropdown'">Dropdown Filtering</a> and <a
    [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'filterTextBox'">Text Box
    Filtering</a> options. Those filtering controls are located on the header level of the data table. For additional
    details about header refer the <a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a>
    section.
  </p>

  <div class="filtering-types"></div>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-filtering-usage></app-filtering-usage>
  <app-example-code [files]="filteringUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>filterable: boolean</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>Once Enabling the filtering functionality, ornamentum starts to support <a
    [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'filterTextBox'">Text Box
    Filtering</a> for the specified column by default. Please note that <code>filterable</code> does not support
    default.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.filterable"></app-code-snippet>

  <h2 id="filterTextBox">Filter Text Box</h2>

  <p>
    There are several more properties that can be used to customize the behavior of filter text box and those can be
    used after enabling the <code>filterable</code> property.
  </p>

  <app-filtering-text-box-usage></app-filtering-text-box-usage>
  <app-example-code [files]="filteringTextBoxUsage"></app-example-code>

  <h4 id="filterPlaceholder">Filter Place Holder</h4>

  <p>
    <code>filterPlaceholder: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'Search'</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>
    The filter place holder property facilitates the user to specify the placeholder name for the column filtering text
    box. As depicted in the above data table filter place holder names are configured for all the columns.
  </p>

  <h4 id="showFilterClearButton">Show Filter Clear Button</h4>

  <p>
    <code>showFilterClearButton: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>This property can be used to enable a button for clear filter keywords and applicable only when Text Box Filtering
    mode is enabled.</p>

  <h2 id="filterDropdown">Filter Dropdown</h2>

  <p>
    Apart from the <a [routerLink]="['/feature/data-table/functionality/column/filtering']"
                      [fragment]="'filterTextBox'">Text Box Filtering</a>, Ornamentum facilitates Dropdown Filtering
    option to filter out data from the data table. In order to enable Dropdown Filtering, It is required to set
    <code>showDropdownFilter</code> property to <b>true</b> and by default, it's set to <b>false</b>. We strongly <b>recommend</b>
    use this option if your data set contains common patterns.
  </p>

  <app-filtering-dropdown-usage></app-filtering-dropdown-usage>
  <app-example-code [files]="filteringDropdownUsage"></app-example-code>

  <p>
    The following Property mapping table depicts how each Data Table component dropdown filtering input properties are mapped with
    Dropdown component.
  </p>

  <table>
    <tr>
      <th>Data Table Property</th>
      <th>Mapping Dropdown Property</th>
      <th>Default Value</th>
    </tr>
    <tr>
      <td>dropdownFilterMenuPosition</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-position'">menuPosition</a></td>
      <td><code>'bottom-left'</code></td>
    </tr>
    <tr>
      <td>dropdownFilterShowOptionSelectCheckBox</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'showOptionSelectCheckbox'">showOptionSelectCheckBox</a></td>
      <td><code>undefined</code></td>
    </tr>
    <tr>
      <td>dropdownFilterCloseMenuOnSelect</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'closeMenuOnSelect'">closeMenuOnSelect</a></td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>dropdownFilterSelectMode</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'selectMode'">selectMode</a></td>
      <td><code>'multi'</code></td>
    </tr>
    <tr>
      <td>dropdownFilterWrapDisplaySelectLimit</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'wrapDisplaySelectLimit'">wrapDisplaySelectLimit</a></td>
      <td><code>1</code></td>
    </tr>
    <tr>
      <td>dropdownFilterShowSelectedOptionRemoveButton</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'showSelectedOptionRemoveButton'">showSelectedOptionRemoveButton</a></td>
      <td><code>false</code></td>
    </tr>
    <tr>
      <td>dropdownFilterGroupByField</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/grouping'">groupByField</a></td>
      <td><code>undefined</code></td>
    </tr>
    <tr>
      <td>dropdownFilterMenuHeight</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'menuHeight'">menuHeight</a></td>
      <td><code>250</code></td>
    </tr>
    <tr>
      <td>dropdownFilterMenuWidth</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'menuWidth'">menuWidth</a></td>
      <td><code>320</code></td>
    </tr>
    <tr>
      <td>dropdownFilterMultiSelectOptionMaxWidth</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'multiSelectOptionMaxWidth'">multiSelectOptionMaxWidth</a></td>
      <td><code>135</code></td>
    </tr>
    <tr>
      <td>DropdownFilterSearchable</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'">filterable</a>
      </td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>dropdownFilterSearchDebounce</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'" [fragment]="'filterDebounce'">filterDebounce</a></td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>dropdownFilterSearchDebounceTime</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'" [fragment]="'filterDebounceTime'">filterDebounceTime</a></td>
      <td><code>500</code></td>
    </tr>
    <tr>
      <td>dropdownFilterDynamicDimensionCalculation</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'dynamicDimensionCalculation'">dynamicDimensionCalculation</a></td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>dropdownFilterDynamicWidthRatio</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'dynamicWidthRatio'">dynamicWidthRatio</a></td>
      <td><code>1.25</code></td>
    </tr>
    <tr>
      <td>dropdownFilterDynamicHeightRatio</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'dynamicHeightRatio'">dynamicHeightRatio</a></td>
      <td><code>1.25</code></td>
    </tr>
  </table>

  <p class="mt-3">
    The following Property mapping table depicts how each Data Table component dropdown filtering template references are mapped with
    Dropdown component.
  </p>

  <table>
    <tr>
      <th>Data Table Template Reference</th>
      <th>Mapping Dropdown Template Reference</th>
    </tr>
    <tr>
      <td>#dropdownFilterLoadingSpinnerTemplate</td>
      <td><a [routerLink]="'/feature/dropdown/templating/data-loading-template'">#loadingSpinnerTemplate</a></td>
    </tr>
    <tr>
      <td>#dropdownFilterOptionTemplate</td>
      <td><a [routerLink]="'/feature/dropdown/templating/option-template'">#optionTemplate</a></td>
    </tr>
    <tr>
      <td>#dropdownFilterOptionGroupHeaderTemplate</td>
      <td><a [routerLink]="'/feature/dropdown/templating/option-group-header-template'">#optionGroupHeaderTemplate</a></td>
    </tr>
  </table>

  <h2 id="serverSideFiltering">Server Side Filtering</h2>

  <p>
    Filtering functionality is fully supported by server side date binding approaches out of the box. Please refer
    <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a> Data Binding
    and
    <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side WebSocket</a> Data Binding
    documentations for more information.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/advanced/events']">Events</a><br>
  <a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Filtering (refer
    filtering associated configurations)</a>
</div>
