@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

li {
  padding-bottom: 10px;
}

.sub-ul {
  li {
    color: $side-menu-label-text;
    padding-bottom: 2px;
  }
}

.filtering-types {
  background: url('../../../../../../assets/images/filtering-types.png') no-repeat;
  height: 165px;
  width: 100%;
  background-size: 100%;
  display: inline-block;

  @media only screen and (max-width: 1600px){
    height: 110px;
  }

  @media only screen and (max-width: 1199px){
    height: 85px;
  }

  @media only screen and (max-width: 991px){
    background: url('../../../../../../assets/images/filtering-types-tablets.png') no-repeat;
    background-size: 70%;
    height: 115px;
  }

  @media only screen and (max-width: 680px){
    background: url('../../../../../../assets/images/filtering-types-mobile.png') no-repeat;
    background-size: 55%;
    height: 120px;
  }

  @media only screen and (max-width: 480px){
    height: 35px;
  }
}

table {
  border: 1px solid #ddd;
  font-size: 13px;
  tr {
    th {
      background-color: #333;
      color: #fff;
      padding: 0.5rem;
    }

    td {
      border: 1px solid #ddd;
      padding: 0.3rem;
    }
  }
}

.badge-pill {
  line-height: 1.2rem;
  margin-right: 1.25rem;
}
