<div class="feature-container">
  <h1>Filtering</h1>

  <p>
    Filtering option facilitates the users to filter out data based on a specific criteria. Filtering would help the
    users to view and analyze data within a few seconds.
  </p>

  <p>
    In order to perform Filter operations, ornamentum provides, <a
    [routerLink]="['/feature/data-table/functionality/column/filtering']"
    [fragment]="'filterDropdown'">Dropdown Filtering</a> and <a
    [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'filterTextBox'">Text Box
    Filtering</a> options. Those filtering controls are located on the header level of the data table. For additional
    details about header refer the <a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a>
    section.
  </p>

  <div class="filtering-types"></div>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-filtering-usage></app-filtering-usage>
  <app-example-code [files]="filteringUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>filterable: boolean</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>Once Enabling the filtering functionality, ornamentum starts to support <a
    [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'filterTextBox'">Text Box
    Filtering</a> for the specified column by default. Please note that <code>filterable</code> does not support
    default.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.filterable"></app-code-snippet>

  <h2 id="filterTextBox">Filter Text Box</h2>

  <p>
    There are several more properties that can be used to customize the behavior of filter text box and those can be
    used after enabling the <code>filterable</code> property.
  </p>

  <app-filtering-text-box-usage></app-filtering-text-box-usage>
  <app-example-code [files]="filteringTextBoxUsage"></app-example-code>

  <h4 id="filterPlaceholder">Filter Place Holder</h4>

  <p>
    <code>filterPlaceholder: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'Search'</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>
    The filter place holder property facilitates the user to specify the placeholder name for the column filtering text
    box. As depicted in the above data table filter place holder names are configured for all the columns.
  </p>

  <h4 id="showFilterClearButton">Show Filter Clear Button</h4>

  <p>
    <code>showFilterClearButton: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table-column&gt;</span>
  </p>

  <p>This property can be used to enable a button for clear filter keywords and applicable only when Text Box Filtering
    mode is enabled.</p>

  <h2 id="filterDropdown">Filter Dropdown</h2>

  <p>
    Apart from the <a [routerLink]="['/feature/data-table/functionality/column/filtering']"
                      [fragment]="'filterTextBox'">Text Box Filtering</a>, Ornamentum facilitates Dropdown Filtering
    option to filter out data from the data table. In order to enable Dropdown Filtering, It is required to set
    <code>showDropdownFilter</code> property to <b>true</b> and by default, it's set to <b>false</b>. We strongly <b>recommend</b>
    use this option if your data set contains common patterns.
  </p>

  <app-filtering-dropdown-usage></app-filtering-dropdown-usage>
  <app-example-code [files]="filteringDropdownUsage"></app-example-code>

  <p>The following Property mapping table depicts how each Data table dropdown filtering properties are connected with
    Ornamentum Dropdown properties by implicitly.</p>

  <table>
    <tr>
      <th>Dropdown Filtering Property Name</th>
      <th>Similar Dropdown Property Name</th>
      <th>Default Value</th>
    </tr>
    <tr>
      <td>Dropdown Filter Menu Position</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-position'">Menu Position</a></td>
      <td><code>'bottom-left'</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Show Option Select Check Box</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'showOptionSelectCheckbox'">Show
        Option Select Check Box</a></td>
      <td><code>undefined</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Close Menu On Select</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'closeMenuOnSelect'">Close Menu On
        Select</a></td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Select Mode</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'selectMode'">Select Mode</a></td>
      <td><code>'multi'</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Wrap Display Select Limit</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'wrapDisplaySelectLimit'">Wrap
        Display Select Limit</a></td>
      <td><code>1</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Show Selected Option Remove Button</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'showSelectedOptionRemoveButton'">Show
        Selected Option Remove Button</a></td>
      <td><code>false</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Group By Field</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/grouping'">Group By Field</a></td>
      <td><code>undefined</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Menu Height</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'menuHeight'">Menu Height</a></td>
      <td><code>250</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Menu Width</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'menuWidth'">Menu Width</a></td>
      <td><code>320</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Multi Select Option Max Width</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/selection'" [fragment]="'multiSelectOptionMaxWidth'">Multi
        Select Option Max Width</a></td>
      <td><code>135</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Searchable</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'">Filterable</a>
      </td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Search Debounce</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'" [fragment]="'filterDebounce'">Filter
        Debounce</a></td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Search Debounce Time</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'" [fragment]="'filterDebounceTime'">Filter
        Debounce Time</a></td>
      <td><code>500</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Dynamic Dimension Calculation</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'dynamicDimensionCalculation'">Dynamic
        Dimension Calculation</a></td>
      <td><code>true</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Dynamic Width Ratio</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'dynamicWidthRatio'">Dynamic Width
        Ratio</a></td>
      <td><code>1.25</code></td>
    </tr>
    <tr>
      <td>Dropdown Filter Dynamic Height Ratio</td>
      <td><a [routerLink]="'/feature/dropdown/styling/menu-width-height'" [fragment]="'dynamicHeightRatio'">Dynamic
        Height Ratio</a></td>
      <td><code>1.25</code></td>
    </tr>
    <tr>
      <td>Filter</td>
      <td><a [routerLink]="'/feature/dropdown/functionality/item/filtering'" [fragment]="'filterText'">Filter Text</a></td>
      <td><code>''</code></td>
    </tr>
  </table>

  <h2 id="serverSideFiltering">Server Side Filtering</h2>

  <p>
    Filtering functionality is fully supported by server side date binding approaches out of the box. Please refer
    <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a> Data Binding
    and
    <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side WebSocket</a> Data Binding
    documentations for more information.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/advanced/events']">Events</a><br>
  <a [routerLink]="['/feature/data-table/options/header-details']">Header Details</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Filtering (refer
    filtering associated configurations)</a>
</div>
