<div class="feature-container">
  <h1>Client-side Data Binding</h1>

  <p>Client side data binding allow users to bind data set to data table when those are available in the client side side.</p>

  <p>
    Client side binding can be configure by providing any array of objects into <code>items</code> property or providing a data stream to the
    <code>dataSource</code> property.
  </p>

  <p>In this data binding technique, data set will be fetched at once and item search filtering happens in the client side.</p>

  <p>
    If the data stream is very large and can't perform filtering in the client side,
    <a [routerLink]="['/feature/dropdown/server-side-data-binding']">Server Side Data Binding</a> can be used.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-items-usage></app-items-usage>
  <app-example-code [files]="itemsUsage"></app-example-code>

  <p>Client side data binding can be configured by using the two ways mentioned in the below.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.items"></app-code-snippet>

  <p>
    The complete set of code segments for the data binding via <code>items</code> property can be seen in the example shown in the
    <a [routerLink]="['/feature/dropdown/client-side-data-binding']" [fragment]="'whatYouWillSee'">What You Will See</a> section.
  </p>

  <p>or</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dataSource"></app-code-snippet>

  <p>Refer following example to see actual usage of the <code>dataSource</code> property in the client side data binding.</p>

  <app-data-source-usage></app-data-source-usage>
  <app-example-code [files]="dataSourceUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/server-side-data-binding']">Server-side Data Binding</a><br />
  <a [routerLink]="['/feature/dropdown/real-time-data-binding']">Client-side Data Binding</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#items">API Doc for Client Side Data Binding</a>
</div>
