<ng-data-table
  [id]="'sales_products_functionality_11'"
  [title]="'Sales Products'"
  [items]="items"
  [minContentWidth]="1240"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [multiColumnSortable]="true">
  <ng-data-table-column
    [displayTrackBy]="'id'"
    [title]="'ID'"
    [sortOrder]="'desc'"
    [sortable]="true"
    [sortPriority]="1"
    [width]="110">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'orderMethodType'"
    [title]="'Order Method Type'"
    [sortOrder]="'asc'"
    [sortable]="true"
    [sortPriority]="2"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'retailerType'"
    [title]="'Retailer Type'"
    [sortable]="true"
    [width]="140">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productLine'"
    [title]="'Product Line'"
    [sortOrder]="'desc'"
    [sortable]="true"
    [sortPriority]="3"
    [width]="200">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'productType'"
    [title]="'Product Type'"
    [sortable]="true"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'revenue'"
    [title]="'Revenue'"
    [sortable]="true"
    [width]="170">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'quantity'"
    [title]="'Quantity'"
    [sortable]="true"
    [width]="110">
  </ng-data-table-column>
  <ng-data-table-column
    [displayTrackBy]="'grossMargin'"
    [title]="'Gross Margin'"
    [sortable]="true"
    [width]="170">
  </ng-data-table-column>
</ng-data-table>
