<ng-data-table
  [id]="'sales_products_options_07'"
  [title]="'Sales Products'"
  [minContentWidth]="900"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [showRefreshButton]="true"
  [onDataBind]="onDataBind">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="70">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>
