@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

    .ng-data-table-column-selector-wrapper {
      @include box-shadow(1px 1px 2px $box-shadow-color);
      @include font-size(.8, 1.4);

      background: $data-table-dropdown-background;
      padding: 1.5rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 15rem;
      z-index: 1060;

    }

    .ng-data-table-column-selector-box {


      .checkbox {
        @include font-size(.8, 1.4);

        &:last-child {

          label {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
