@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

    .ng-data-table-column-selector-wrapper {
      @include box-shadow(1px 1px 2px $box-shadow-color);
      @include font-size(.8, 1.4);

      background: $data-table-dropdown-background;
      max-height: 20rem;
      overflow: hidden;
      padding: 1.5rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 15rem;
      z-index: 1060;

      .ng-data-table-column-selector-box-heading {
        @include font-size(.9, 1.4);
        border-bottom: .05rem solid $data-table-header-border;
        font-weight: 400;
        margin-bottom: .5rem;
        padding-bottom: .3rem;
        text-align: center;
      }

    }

    .ng-data-table-column-selector-box {
      max-height: 15rem;
      overflow: auto;


      .ng-data-table-column-selector-checkbox {
        @include font-size(.8, 1.4);

        label {
          cursor: pointer;
          display: block;

          input {
            cursor: pointer;
          }
        }

        &:last-child {

          label {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
