<div class="feature-container">
  <h1>Data Table Server Side Basic Data Binding</h1>

  <p>
    Server side data binding allow users to bind large data sets that are not directly accessible as a full collection
    in client side due to various reasons. Server side data binding can improve performance drastically for large data
    sets but integration is fairly complex compared to <a
    [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client Side Basic</a> and <a
    [routerLink]="['/feature/data-table/data-binding/client-side/stream']">Client Side Stream</a> Data Binding
    techniques. This data binding technique can be used to fetch data via HTTP GET requests on demand.
  </p>

  <p>
    Unlike in <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client Side Basic</a> Data
    Binding, Server Side data binding will request for data on table initialization and whenever user performs
    <a [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'serverSideColumnFilter'">Filtering</a>,
    <a [routerLink]="['/feature/data-table/functionality/column/sorting']" [fragment]="'serverSideColumnSorting'">Sorting</a>,
    <a [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a> etc. operations. Ornamentum has
    provided an optional opinionated service to integrate external data sources. However, you can build a
    <a [routerLink]="['/feature/data-table/data-binding/custom-provider']">custom data provider</a>
    depending on your requirement.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-server-side-basic-usage></app-server-side-basic-usage>
  <app-example-code [files]="serverSideBasicUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>onDataBind: DataTableDataBindCallback&lt;any&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    Server side data bind functionality can be integrated via
    <a rel="noopener noreferrer" target="_blank" href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a>
    callback function input property. Data source associated logic is decoupled from Ornamentum core module to make it
    data source agnostic and easy to customize.
  </p>

  <ol>
    <li>
      <p>
        Import <a rel="noopener noreferrer" target="_blank"
                  href="https://ornamentum.app/api-docs/modules/DataTableResourceModule.html">DataTableResourceModule</a>
        along with <a rel="noopener noreferrer" target="_blank"
                      href="https://ornamentum.app/api-docs/modules/DataTableModule.html">DataTableModule</a>.
      </p>

      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.serverSideDataBindingModule"></app-code-snippet>
    </li>
    <li>
      <p>
        Within the target component use
        <a rel="noopener noreferrer" target="_blank"
           href="https://ornamentum.app/api-docs/injectables/DataTableHttpResourceFactoryService.html">DataTableHttpResourceFactoryService</a>
        to construct an instance of
        <a rel="noopener noreferrer" target="_blank"
           href="https://ornamentum.app/api-docs/classes/DataTableHttpDataFetchService.html">DataTableHttpDataFetchService&lt;T&gt;</a>
        class. Invoke <a rel="noopener noreferrer" target="_blank"
                         href="https://ornamentum.app/api-docs/classes/DataTableHttpDataFetchService.html#onDataBind">onDataBind</a>
        method with the API resource path to get the data bind callback function reference.
      </p>

      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.serverSideDataBindingComponent"></app-code-snippet>
      <p>
        or else you can write your own custom data provider without using getResourceProvider in
        <a rel="noopener noreferrer" target="_blank"
           href="https://ornamentum.app/api-docs/injectables/DataTableHttpResourceFactoryService.html">DataTableHttpResourceFactoryService</a>
        service. Please refer <a [routerLink]="['/feature/data-table/data-binding/custom-provider']">Custom Data Provider</a>
        documentation for more information.
      </p>
    </li>
    <li>
      <p>
        Set the obtained data bind and filter value extract callback function references
        to <a rel="noopener noreferrer" target="_blank"
              href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a>
        and <a rel="noopener noreferrer" target="_blank"
               href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onFilterValueExtract">onFilterValueExtract</a>
        input properties of data table accordingly.
      </p>

      <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.serverSideDataBindingMarkup"></app-code-snippet>
    </li>
  </ol>

  <p>
    <u>Data fetch HTTP request (Your backend REST API) should support following</u>
  </p>

  <ol>
    <li>
      <p>Pagination query parameters</p>
      <ul>
        <li>
          <p>
            <code>limit</code> - The limit parameter controls the maximum number of items that may be returned for a
            single request. This parameter reflects the current page size. If limit is not specified, it will
            default to 10.
          </p>
        </li>
        <li>
          <p>
            <code>offset</code> - Number of records you wish to skip before selecting records with specified limit.
            For example, if offset is 10 and limit is 5 it should return 5 items starting from 10th index.
            Note that offset is zero index based.
          </p>
        </li>
      </ul>
      <p><u>Usage scenarios and examples</u></p>
      <ol>
        <li>
          <p>
            Page 1 request when limit is 5:
          </p>
          <p>
            https://yourapi/resource/path?<code>limit=5&offset=0</code>
          </p>
        </li>
        <li>
          <p>
            Page 2 request when limit is 10:
          </p>
          <p>
            https://yourapi/resource/path?<code>limit=10&offset=10</code>
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p>
        Sorting and Filtering query parameters - Sortable and/or filterable columns field names will
        get appended as query parameters. The format of these field query parameters are as follows.
      </p>

      <p>
        <code>&lt;field name&gt;=</code>[<code>&lt;filter value&gt;</code>][<code>|&lt;sort order&gt;|&lt;sort priority&gt;</code>]
      </p>

      <ul>
        <li>
          <p>
            <code>field name</code> - Sortable and/or filterable column field name. These fields are appended as query
            parameters only when filtering and/or sorting is applied on target column which is sortable or filterable.
          </p>
        </li>
        <li>
          <p>
            <code>filter value</code> - Filter value is available only when filter is applied. Multi filter values are
            passed as a comma separated value.
          </p>
        </li>
        <li>
          <p>
            <code>sort order</code> - Sort order is appended only when field sort order is <code>'asc'</code> or
            <code>'desc'</code>
          </p>
        </li>
        <li>
          <p>
            <code>sort priority</code> - Sort priority is passed as an index incrementer starting from value 1. This
            property is useful when multi column sorting is enabled to identify the sortable field order.
          </p>
        </li>
      </ul>

      <p>
        The target field is ignored if no filtering or sorting is applied on the target column to reduce the data fetch
        request URL length by avoiding appendage of empty valued query param. The filter and sort field values are
        separated by pipe <code>|</code> character when both sorting and filtering is applied on the same field. The
        sort order and sort priority properties are also separated by pipe character.
      </p>

      <p>Usage scenarios and examples</p>

      <ol>
        <li>
          <p>
            <code>filtering applied and sorting applied</code> - both filter and sort order values are appended to the
            request URL via a query parameter with target field name.
          </p>
          <p>
            i.e: data GET request URL generated when Product Line column is sorted in ascending order and filtered by
            'equipment' keyword.
          </p>
          <p>
            https://yourapi/resource/path?limit=10&offset=0&<code>productLine=equipment|asc|1</code>
          </p>
        </li>
        <li>
          <p>
            <code>filtering applied and sorting <u>not</u> applied</code> - filter value is appended to the
            request URL via a query parameter with target field name.
          </p>
          <p>
            i.e: data GET request URL generated when Product Line column is filtered by 'equipment' keyword.
          </p>
          <p>
            https://yourapi/resource/path?limit=10&offset=0&<code>productLine=equipment</code>
          </p>
        </li>
        <li>
          <p>
            <code>filtering <u>not</u> applied and sorting applied</code> - sort order value is appended to the
            request URL via a query parameter with target field name.
          </p>
          <p>
            i.e: data GET request URL generated when Product Line column is sorted in ascending order.
          </p>
          <p>
            https://yourapi/resource/path?limit=10&offset=0&<code>productLine=|asc|1</code>
          </p>
        </li>
        <li>
          <p>
            <code>filtering <u>not</u> applied and sorting <u>not</u> applied</code> - field name is not appended to the
            request URL as a query parameter.
          </p>
          <p>
            i.e: data GET request URL generated when Product Line column is not sorted or filtered.
          </p>
          <p>
            https://yourapi/resource/path?limit=10&offset=0
          </p>
        </li>
      </ol>

      <p>
        Refer <a [routerLink]="['/feature/data-table/functionality/column/sorting']">Sorting</a> and
        <a [routerLink]="['/feature/data-table/functionality/column/filtering']">Filtering</a> documentation for more
        information and how to enable sorting and filtering.
      </p>
    </li>
    <li>
      Service should respond follow <a rel="noopener noreferrer" target="_blank"
                                       href="https://ornamentum.app/api-docs/interfaces/DataTableQueryResult.html">DataTableQueryResult&lt;T&gt;</a>
      schema.
      However, you can pass a custom response mapper callback function to <a rel="noopener noreferrer" target="_blank"
                                                                             href="https://ornamentum.app/api-docs/classes/DataTableHttpDataFetchService.html#onDataBind">onDataBind</a>
      and map
      the response to <a rel="noopener noreferrer" target="_blank"
                         href="https://ornamentum.app/api-docs/interfaces/DataTableQueryResult.html">DataTableQueryResult&lt;T&gt;</a>
      schema
      without making changes in backend API response.
    </li>
  </ol>

  <p>
    You can inspect network traffic of this page with "<code>/api/data</code>" filter in browser developer tools to
    understand backend service requests and behaviors of above example.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.serverSideRequest" [showLineNumbers]="false">
  </app-code-snippet>

  <h2 id="customDataProvider">Custom Data Provider</h2>

  <p>
    Server side and client side data binding can be implemented via a custom data provider as Ornamentum data sources
    are
    fully decoupled from component logic. Please refer
    <a [routerLink]="['/feature/data-table/data-binding/custom-provider']">Custom Data Provider</a> for more
    information.
  </p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/client-side/stream']">Client Side Stream Data Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side Web Socket Data Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/custom-provider']">Custom Data Provider</a><br/>
  <a rel="noopener noreferrer" target="_blank" href="api-docs/components/DataTableComponent.html#dataSource">API Doc - Data Source Input</a>
</div>
