<div class="feature-container">
  <h1>Server Side Basic Data Binding</h1>

  <p>
    Server side data binding allow users to bind large data sets that are not directly accessible as a full collection
    in client side due to various reasons. Server side data binding can improve performance drastically for large data
    sets but integration is fairly complex compared to <a
    [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client Side Basic Data Binding</a> and <a
    [routerLink]="['/feature/data-table/data-binding/client-side/stream']">Client Side Stream Data Binding</a>
    techniques. This data binding technique can be used to fetch data via HTTP GET requests on demand.
  </p>

  <p>
    Unlike in <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client-side Basic Data
    Binding</a>, server side rendering will request for data on table initialization and whenever user performs
    <a [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'serverSideColumnFilter'">Filtering</a>,
    <a [routerLink]="['/feature/data-table/functionality/column/sorting']" [fragment]="'serverSideColumnSorting'">Sorting</a>,
    <a [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a> etc. operations. Ornamentum has
    provided an optional opinionated service to integrate external data sources. Also, you can build a custom data
    provider depending on your requirement.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-server-side-basic-usage></app-server-side-basic-usage>
  <app-example-code [files]="serverSideBasicUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    Server side data bind functionality can be integrated via <a rel="noopener" target="_blank"
            href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a>
    callback function input property. Data source associated logic is decoupled from Ornamentum core module to make it
    data source agnostic. Import <a rel="noopener" target="_blank"
       href="https://ornamentum.app/api-docs/modules/DataTableResourceModule.html">DataTableResourceModule</a> along with
    <a rel="noopener" target="_blank" href="https://ornamentum.app/api-docs/modules/DataTableModule.html">DataTableModule</a>.
    This module require <a rel="noopener" target="_blank"
                           href="https://www.npmjs.com/package/@angular/http">@angular/http</a>
    package as a dependency.
  </p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.serverSideDataBindingModule"></app-code-snippet>

  <p>
    Within the target component use <a rel="noopener" target="_blank"
       href="https://ornamentum.app/api-docs/injectables/DataTableHttpDataFetchService.html">DataTableHttpDataFetchService&lt;T&gt;</a>
    service to get the <a rel="noopener" target="_blank"
                          href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a>
    callback implementation.
  </p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.serverSideDataBindingComponent"></app-code-snippet>


  <p>
    Set the callback function to <a rel="noopener" target="_blank"
        href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a> input property.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.serverSideDataBindingMarkup"></app-code-snippet>

  <p>Data fetch HTTP request (Your backend REST API should support following):</p>

  <ol>
    <li>
      Pagination query parameters
      <ul>
        <li>
          <code>limit</code> - The limit parameter controls the maximum number of items that may be returned for a single request. This parameter can be thought of as the page size. If no limit is specified, the system defaults to a limit of 15 results per request.
        </li>
        <li>
          <code>offset</code> - The offset parameter controls the starting point within the collection of resource results. For example, if you have a collection of 15 items to be retrieved from a resource and you specify limit=5, you can retrieve the entire set of results in 3 successive requests by varying the offset value: offset=0, offset=5, and offset=10. Note that the first item in the collection is retrieved by setting a zero offset.
        </li>
      </ul>
    </li>
    <li>
      Sorting and Filtering query parameters - query parameter with field name will get appended when sort or filter action is triggered. Refer
      <a [routerLink]="['/feature/data-table/functionality/column/sorting']" [fragment]="'serverSideColumnSorting'">Server Side Sorting</a> and
      <a [routerLink]="['/feature/data-table/functionality/column/filtering']" [fragment]="'serverSideColumnFilter'">Server Side Filtering</a>
      sections for more information.
    </li>
    <li>
      Service response schema
      <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.responseSchema"></app-code-snippet>
    </li>
  </ol>

  <p>
    Inspect network traffic with "<code>/api/data</code>" filter in browser developer tools to understand backend service requirements to
    use <a rel="noopener" target="_blank" href="https://ornamentum.app/api-docs/injectables/DataTableHttpDataFetchService.html">DataTableHttpDataFetchService&lt;T&gt;</a>
    provider.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.serverSideRequest" [showLineNumbers]="false">
  </app-code-snippet>

  <h2 id="customDataProvider">Custom Data Provider</h2>

  <p>
    Server side data binding is handled via <a rel="noopener" target="_blank"
                                               href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a>
    callback function. Use this callback reference to hook into data bind workflow and provide custom data source. This
    callback function will get triggered on table initialization and on dynamic data table operations. It
    receives <a rel="noopener" target="_blank"
                href="https://ornamentum.app/api-docs/interfaces/DataTableRequestParams.html">DataTableRequestParams</a>
    argument and expect to return <a rel="noopener" target="_blank"
                                     href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html">RxJS
    Observable</a> query result <a rel="noopener" target="_blank"
                                   href="https://ornamentum.app/api-docs/interfaces/DataTableQueryResult.html">DataTableQueryResult&lt;T&gt;</a>
    object stream. Data returned from this callback function will be directly bound to table assuming that it matches
    the on demand request context.
  </p>

  <p>
    Following code snippet represent an example implementation of <a rel="noopener" target="_blank"
                                                                     href="https://ornamentum.app/api-docs/components/DataTableComponent.html#onDataBind">onDataBind</a>
    callback.
  </p>

  <app-code-snippet [type]="FileType.TS" [content]="demoSnippet.dataFetchMethod"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side Web Socket Data Binding</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#dataSource">API Doc for Server Side Basic Data Binding</a>
</div>
