@import 'base.theme.variables';
@import '../mixins';

// Dropdown wrapper styles
// Dropdown Selector Delete Icon styles
// Dropdown Selector Arrow styles
// Dropdown Selector Loading Animation styles

.ng-dropdown {
  position: relative;

  * {
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  // Dropdown Delete Button Container Styles
  .ng-dropdown-input-group-btn {
    @include transform(translateY(-50%));
    height: 1.3em;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    width: 1.3em;
    z-index: 2;

    // Dropdown Delete Button Styles
    .ng-dropdown-delete-button {
      background: inline-svg($close-icon-url);
      background-size: contain;
      color: $delete-color;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }

  // Dropdown Arrow Styles
  .ng-dropdown-down-arrow {
    @include transform(translateY(-50%));
    background: inline-svg($dropdown-arrow-icon-url);
    background-size: contain;
    cursor: pointer;
    height: 1.5em;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    width: 1.5em;
    z-index: 1;
  }

  // Dropdown Loading Animation Styles
  .ng-dropdown-loading {
    position: absolute;
    right: 0;
    top: -0.1rem;
    z-index: 10;

    .ng-dropdown-loading-animation {
      background: inline-svg($loading-animation);
      height: 2rem;
      width: 2rem;
    }
  }

  // Dropdown Selector Styles
  .ng-dropdown-toggle {
    @include border-radius($dropdown-selector-border-radius-value);
    @include display-flex;
    @include flex-wrap(no-wrap);
    background: $dropdown-selector-background;
    border: 0.05rem solid $dropdown-selector-border;
    color: $dropdown-selector-text-color;
    cursor: pointer;
    outline: 0;
    padding: 0.2rem 3rem 0.2rem 0.5rem;
    position: relative;
    text-align: left;
    width: 100%;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }

    .ng-dropdown-selected-item,
    .ng-dropdown-selected-placeholder {
      font-family: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ng-dropdown-selected-value {
      background: $dropdown-selector-selected-background;
      color: $dropdown-selector-selected-color;
      display: inline-block;
      margin: 0 0.2rem 0 0.1rem;
      overflow: hidden;
      padding: 0 0.5rem;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.ng-dropdown-option-close-enabled {
        padding: 0 1.5rem 0 0.5rem;
      }

      .ng-dropdown-remove-selected-value {
        @include transform(translateY(-50%));
        background: inline-svg($close-icon-url);
        background-size: contain;
        content: '';
        cursor: pointer;
        height: 1.2em;
        position: absolute;
        right: 0.3em;
        top: 50%;
        width: 1.2em;
      }
    }
  }
}

// Dropdown Search Field Style
// Search Icon box Styles
// Search Input Filed Styles
// Delete Icon Styles

.ng-dropdown-search {

  * {
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  .ng-dropdown-input-group {
    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items(stretch);
    position: relative;
    width: 100%;

    .ng-dropdown-input-group-addon {
      @include display-flex;
      @include align-items(center);
      @include border-radius($dropdown-selector-search-icon-border-radius);
      background: $dropdown-selector-search-icon-background;
      border: 0;
      margin-bottom: 0;
      padding: 0.25rem 0.5rem;
      text-align: center;
      white-space: nowrap;
      width: 2em;

      &::after {
        @include transform(translateY(-50%));
        background: inline-svg($search-icon-url);
        background-size: contain;
        content: '';
        cursor: pointer;
        height: 1.7em;
        left: 0.2em;
        position: absolute;
        top: 50%;
        width: 1.7em;
      }
    }

    .ng-dropdown-input {
      @include display-flex;
      @include flex(1 1 auto);
      @include align-items(center);
      @include border-radius($dropdown-selector-search-input-border-radius);
      background: $dropdown-selector-search-input-background;
      border: 0.05rem solid $dropdown-selector-search-input-border;
      color: $dropdown-selector-search-input-text-color;
      //font-size: .875rem;
      //line-height: 1.5;
      margin-bottom: 0;
      outline: none;
      padding: 0.25rem 1.5rem 0.25rem 0.5rem;
      position: relative;
      width: 1%;
      z-index: 2;
    }
  }

  .ng-dropdown-input-group-btn {
    @include transform(translateY(-50%));
    height: 1.7em;
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 1.7em;
    z-index: 2;

    .ng-dropdown-delete-button {
      background: inline-svg($close-icon-url);
      background-size: contain;
      border: 0;
      cursor: pointer;
      height: 100%;
      outline: none;
      width: 100%;
    }
  }
}

// Dropdown Item List Styles
// Dropdown Item List Group Heading Styles
// Dropdown Item List Selected Items styles

.ng-dropdown-menu-wrapper {

  * {
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  @include box-shadow($dropdown-item-wrapper-box-shadow);
  @include border-radius($dropdown-item-wrapper-border-radius-value);
  background-clip: padding-box;
  background-color: $dropdown-item-wrapper-background;
  border: 0.05rem solid $dropdown-item-wrapper-border;
  color: $dropdown-item-wrapper-text-color;
  display: block;
  height: 250px;
  list-style: none;
  margin: 0;
  padding: 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 10001;

  .ng-dropdown-divider {
    border-top: 1px solid $dropdown-item-wrapper-divider-border;
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    padding: 0;
  }

  .ng-dropdown-item-container-wrapper {
    @include border-radius($dropdown-item-container-border-radius-value);
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
    border: 0.07rem solid $dropdown-item-container-wrapper-border;
    height: 100%;
    overflow-y: auto;

    .ng-dropdown-item-container {
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .ng-dropdown-no-data {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        color: $dropdown-no-data-message-text-color;
        height: 100%;

        &:hover {
          background: none;
        }
      }

      li {
        background: $dropdown-item-container-item-background;
        border-bottom: 0.05rem solid $dropdown-item-container-item-border;
        cursor: pointer;
        overflow: hidden;
        padding: 0.25rem 0.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
          color: $dropdown-item-container-item-text-color;
        }

        &:hover {
          background: $dropdown-item-container-item-hover-background;

          a {
            color: $dropdown-item-container-item-hover-text-color;
          }
        }

        &.disabled {
          opacity: 0.6;
          pointer-events: none;
        }

        &.ng-item-selected {
          background: $dropdown-item-container-selected-item-background;

          a {
            color: $dropdown-item-container-selected-item-text-color;
          }

          &:hover {
            background: $dropdown-item-container-selected-item-hover-background;
          }
        }

        &.ng-dropdown-group-heading {
          background: $dropdown-item-container-group-heading-background;
          border-bottom: 0.05rem solid;
          border-color: $dropdown-item-container-group-heading-border;
          color: $dropdown-item-container-group-heading-color;
          cursor: default;
          padding: 0.3rem;

          &:hover {
            background: $dropdown-item-container-group-heading-hover-background;
            border-color: $dropdown-item-container-group-heading-hover-border;
            color: $dropdown-item-container-group-heading-hover-color;
          }
        }

        span {
          padding-left: 0.5rem;
        }
      }
    }
  }

  .ng-dropdown-filter-wrapper {
    height: 3rem;

    + .ng-dropdown-item-container-wrapper {
      height: calc(100% - 3rem);
    }
  }
}
