<div class="feature-container">
  <h1>Themes</h1>

  <p>Ornamentum data table now comes with different themes that you can use to style your own application. currently
    it's supports 05 different themes as shown in the below.</p>

  <p>Without using the available data table themes you can create your own theme by overriding default data table
    configurations. for about theme customizations, refer <a [routerLink]="['/feature/data-table/custom-theming']">Custom
      Theming</a> section.</p>

  <h2 id="includingThemeSupport">Including Theme Support</h2>

  <p>
    Currently ornamentum has different CSS/SCSS files to represent the available themes. Therefore, in order to include
    these themes into your project you have to import its CSS/SCSS source references to your style files.
  </p>

  <p>
    Also in the page header you can switch overall user experience of available themes by clicking on the given color
    palette.
  </p>

  <div class="theme-color-palette"></div>

  <h4 id="baseTheme">Base Theme</h4>

  <p>
    The following image shows how Ornamentum Data Table looks with the Base theme. This is the user experience that
    you and your end-users feel, if you choose to stay with the base themw without using any of the themes available.
  </p>

  <div class="dt-theme-common dt-base-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Base</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Base</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.baseScssThemeImport"></app-code-snippet>

  <h4 id="darkTheme">Dark Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Dark theme.</p>

  <div class="dt-theme-common dt-dark-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Dark</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Dark</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.darkThemeScssThemeImport"></app-code-snippet>

  <h4 id="flatTheme">Flat Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Flat theme.</p>

  <div class="dt-theme-common dt-flat-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Flat</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Flat</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.flatThemeScssThemeImport"></app-code-snippet>

  <h4 id="ornamentumTheme">Ornamentum Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Ornamentum theme.</p>

  <div class="dt-theme-common dt-ornamentum-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Ornamentum</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Ornamentum</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.ornamentumThemeScssThemeImport"></app-code-snippet>

  <h4 id="aegeanTheme">Aegean Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Aegean theme.</p>

  <div class="dt-theme-common dt-aegean-theme"></div>

  <p>
    <b>CSS</b>: Include Ornamentum pre-built CSS <b>Aegean</b> theme style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeCssThemeImport"></app-code-snippet>
  <p>
    <b>SCSS</b>: Include Ornamentum theme <b>Aegean</b> SCSS style sheets in
    <a rel="noopener" target="_blank" href="https://cli.angular.io">Angular CLI</a> config "<b>styles</b>".
  </p>
  <app-code-snippet [type]="FileType.JSON" [content]="demoSnippet.aegeanThemeScssThemeImport"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DataTableModule.html">API Doc for DataTable Styling & Themes</a>
</div>
