<div class="feature-container">
  <h1>Real-time Dropdown Data Binding</h1>

  <p>Sometimes, users might want to update the exiting data in the dropdown, due to the dynamic nature of different
    data sets such as weather data, analytics data, etc... </p>
  <p>In such cases, you can use this real-time data binding feature & when data changes in real time
    those will automatically reflect to the original dropdown.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-real-time-data-binding></app-real-time-data-binding>
  <app-example-code [files]="realTimeDataBindingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>To support real-time data binding, simply set available observable data source to <code>dataSource</code>
    attribute.</p>

  <pre class="prettyprint lang-html">{{demoSnippet.realTimeDataBinding}}</pre>

  <p>Please refer <b>real-time-data-binding.component.ts</b> file to see the example of realtime data
    binding via data source.</p>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html">API Doc for Real-time Data
    Binding</a>
</div>

