<div class="feature-container">
  <h1>Row Selection</h1>

  <p>
    The Grid enables the users to select a single row or multiple rows by enabling Row Selection. Once the Data table
    row selection functionality is enabled, end-user able to select data rows. For more convenience, Ornamentum data
    table supports 03 main row selection modes.
  </p>

  <ol class="main-pane-list">
    <li>
      <b>Single</b>: Single data row selection
    </li>
    <li>
      <b>Single Toggle</b>: Single row selection with row de-select capability
    </li>
    <li>
      <b>Multi</b>: Multiple row selection
    </li>
  </ol>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-row-selection-usage></app-row-selection-usage>
  <app-example-code [files]="rowSelectionUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>rowSelectable: boolean</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>For Enable row selection, configure the <code>rowSelectable</code> to <b>true</b> and by default, the table does
    not display row selectable option, which means the property is disabled.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.row_selectable"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>

  <p>Furthermore, There are some additional configurations available to customize the functionality. Those
    properties will be discussed in the below section.</p>

  <h4 id="selectMode">Select Mode</h4>

  <p>
    <code>selectMode: string = 'single' | 'single_toggle' | 'multi'</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'single'</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This control allows you to configure the row selection mode. There are 03 types of row selections are
    available in the data table.
  </p>

  <ol class="main-pane-list">
    <li>
      <h6><b>Single Row Selection: 'single'</b></h6>
    </li>

    <p>
      The user allows to select only a one row at a time and did not allow to deselect the selected option by
      clicking the same row. If another row is being selected, the previously selected row will be deselected
      automatically.
    </p>

    <app-single-row-selection-usage></app-single-row-selection-usage>
    <app-example-code [files]="singleRowSelectionUsage"></app-example-code>

    <li>
      <h6><b>Single Toggle Row Selection: 'single_toggle'</b></h6>
    </li>

    <p>
      The user will be allowed to select only one row at a time and not like <b>Single Row Selection</b>, It allows to
      de-select the selected option by clicking the same row. If another row is being selected, previously selected row
      will be deselected automatically.
    </p>

    <app-single-toggle-row-selection-usage></app-single-toggle-row-selection-usage>
    <app-example-code [files]="singleToggleRowSelectionUsage"></app-example-code>

    <li>
      <h6><b>Multi Row Selection: 'multi'</b></h6>
    </li>

    <p>This selection technique facilitates, to select multiple rows one by one and it can de-select the row by
      clicking on top of selected checkbox or anywhere in the row if <a
        [routerLink]="['/feature/data-table/functionality/row/selection']" [fragment]="'selectOnRowClick'">Select on Row
        Row Click</a> functionality is enabled.</p>

    <app-multi-row-selection-usage></app-multi-row-selection-usage>
    <app-example-code [files]="multiRowSelectionUsage"></app-example-code>
  </ol>

  <h4 id="showRowSelectCheckbox">Show Row Select Checkbox</h4>

  <p>
    <code>showRowSelectCheckbox: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>


  <p>
    By configuring This property, It's display row selection checkboxes for all available rows in the data table and
    triggers the <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row Select
    Change</a> event for each row implicitly, when the user changes row checkboxes state.
  </p>

  <app-show-row-select-checkbox-usage></app-show-row-select-checkbox-usage>
  <app-example-code [files]="showRowSelectCheckboxUsage"></app-example-code>

  <h4 id="showRowSelectAllCheckbox">Show Row Select All Checkbox</h4>

  <p>
    <code>showRowSelectAllCheckbox: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property allows the user to mark the preference for all the rows at once by selecting a single checkbox which
    is in the top of the row selection checkbox column. and triggers the <a
      [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row Select Change</a>
    event by automatically when the user changes select all checkbox state.</p>

  <app-show-row-select-all-checkbox-usage></app-show-row-select-all-checkbox-usage>
  <app-example-code [files]="showRowSelectAllCheckboxUsage"></app-example-code>

  <h4 id="selectOnRowClick">Select On Row Click</h4>

  <p>
    <code>selectOnRowClick: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This property will allow users to perform row click operation on top of anywhere of a row. It will trigger the <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row Select Change</a> for each
    row click event implicitly, based on the provided <a
    [routerLink]="'/feature/data-table/functionality/row/selection'"
    [fragment]="'selectMode'">Select
    Mode</a>.
  </p>

  <app-select-on-row-click-usage></app-select-on-row-click-usage>
  <app-example-code [files]="selectOnRowClickUsage"></app-example-code>

  <h4 id="selectTrackBy">Select Track By</h4>

  <p>
    <code>selectTrackBy: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'id'</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>Provide a field name to identifies a selection item schema and it might be uniquely identifiable all over the data
    set. When a user selecting a row, the data table <a [routerLink]="'/feature/data-table/advanced/event'"
                                                        [fragment]="'rowSelectChange'">Row Select Change</a> will emit
    the selected row selection id for each row selection operation.
  </p>

  <app-select-track-by-usage></app-select-track-by-usage>
  <app-example-code [files]="selectTrackByUsage"></app-example-code>

  <h4 id="selectedRow">Selected Row</h4>

  <p>
    <code>selectedRow: any</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [selectTrackBy]</span>
  </p>


  <p>
    This property allows to set a specifically selected row to display after the data table <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Initialization</a> or
    component initialization fired and it accepts a <a [routerLink]="'/feature/data-table/functionality/row/selection'"
                                                       [fragment]="'selectTrackBy'">Select Track By</a> column any
    unique
    field value. Can <b>only</b> be used when <a [routerLink]="'/feature/data-table/functionality/row/selection'"
                                                 [fragment]="'selectMode'">Select Mode</a> is <b>'single'</b> or <b>'single_toggle'</b>.
  </p>

  <app-selected-row-usage></app-selected-row-usage>
  <app-example-code [files]="setSelectedRowUsage"></app-example-code>

  <h4 id="selectedRows">Selected Rows</h4>

  <p>
    <code>selectedRows: any[]</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: []</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [selectTrackBy]</span>
  </p>

  <p>
    This property allows to set specifically selected rows to display after the data table <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Initialization</a> or
    component initialization fired and it accepts <a [routerLink]="'/feature/data-table/functionality/row/selection'"
                                                     [fragment]="'selectTrackBy'">Select Track By</a> column any unique
    field values array. Can <b>only</b> be used when <a [routerLink]="'/feature/data-table/functionality/row/selection'"
                                                        [fragment]="'selectMode'">Select Mode</a> is <b>'multi'</b>.
  </p>


  <app-selected-rows-usage></app-selected-rows-usage>
  <app-example-code [files]="setSelectedRowsUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templating/expand-template']">Row Expand Template</a><br>
  <a [routerLink]="['/feature/data-table/advanced/state-persistence']">State Persistence</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Row
    Selection</a>
</div>
