<div class="feature-container">
  <h1>Row Selection</h1>

  <p>Row selection will add an additional column which contains checkboxes when user need to select specific data or
    data set from the data table to perform their select operations. In these types of situations you might want to turn
    on the row selectable checkboxes.</p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-row-selection-usage></app-row-selection-usage>
  <app-example-code [files]="rowSelectionUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>
  <p>Enable row selectable option, simply set <code>rowSelectable</code> to <b>true</b> and by default row selection
    is in <b>false</b> state.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.row_selectable"></app-code-snippet>

  <p>
    By default, the table does not display to selectable rows. But if you enabled selection row(s), there are some
    additional configurations available to do the row selection more easily. Those properties will be discussed in the
    next section.
  </p>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>As mention in earlier, there are some additional configurations which helps users to control the row selection.</p>

  <h4 id="selectMode">Row Selection Mode</h4>

  <code>selectMode: string = 'single' | 'single_toggle' | 'multi'</code> &nbsp;
  <span class="badge badge-pill badge-warning">Default Value: 'single'</span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>

  <p>
    This control allows you to configure the row selection type. There are 3 types of row selections are
    available in the data table.
  </p>

  <ol class="main-pane-list">
    <li>
      <h6><b>Single Row Selection: "single"</b></h6>
    </li>

    <p>
      The user will be allowed to select only one row at a time and did not allow to deselect the selected option by
      click
      same row.
      If second row is been selected, firstly selected row will be automatically de-selected.
    </p>

    <app-single-row-selection-usage></app-single-row-selection-usage>
    <app-example-code [files]="singleRowSelectionUsage"></app-example-code>

    <li>
      <h6><b>Single Toggle Row Selection: "single_toggle"</b></h6>
    </li>

    <p>
      The user will be allowed to select only one row at a time and allow to deselect the selected option by click same
      row.
      If another row is being selected, previously selected row will be automatically de-selected.
      Additionally, Users will be Facilitated to remove the row selection by clicking same row.
    </p>

    <app-single-toggle-row-selection-usage></app-single-toggle-row-selection-usage>
    <app-example-code [files]="singleToggleRowSelectionUsage"></app-example-code>

    <li>
      <h6><b>Multi Row Selection: "multi"</b></h6>
    </li>

    <p>User can select multiple rows one by one and facilitated to remove the selected rows by deselect individual
      row.</p>

    <app-multi-row-selection-usage></app-multi-row-selection-usage>
    <app-example-code [files]="multiRowSelectionUsage"></app-example-code>
  </ol>

  <h4 id="showRowSelectCheckbox">Show Row Select Checkbox</h4>

  <code>showRowSelectCheckbox: boolean</code> &nbsp;
  <span class="badge badge-pill badge-warning">Default Value: true</span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>


  <p>
    This property allows users to enable/disable individual row selection checkboxes for all available rows in the data
    table and triggers the <code>rowSelectChange</code> event for each row by automatically when the user changes row
    checkboxes state.
  </p>

  <app-show-row-select-checkbox-usage></app-show-row-select-checkbox-usage>
  <app-example-code [files]="showRowSelectCheckboxUsage"></app-example-code>

  <h4 id="showRowSelectAllCheckbox">Show Row Select All Checkbox</h4>

  <code>showRowSelectAllCheckbox: boolean</code> &nbsp;
  <span class="badge badge-pill badge-warning">Default Value: false</span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>

  <p>This property allows user to select/deselect all the rows at once by selecting/deselecting checkbox which is in the
    top of the row selection checkbox column. and triggers the<code>rowSelectChange</code>
    event by automatically when user changes select all checkbox state. Selecting all available checkboxes in a current
    table view will also triggers <code>rowSelectChange</code> automatically.</p>

  <app-show-row-select-all-checkbox-usage></app-show-row-select-all-checkbox-usage>
  <app-example-code [files]="showRowSelectAllCheckboxUsage"></app-example-code>

  <h4 id="selectOnRowClick">Select On Row Click</h4>

  <code>selectOnRowClick: boolean</code> &nbsp;
  <span class="badge badge-pill badge-warning">Default Value: false</span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>

  <p>
    This property will allow users to select specific row(s) based on <code>selectMode</code> by clicking on
    anywhere on the row or clicks on row selectable checkboxes.
  </p>

  <app-select-on-row-click-usage></app-select-on-row-click-usage>
  <app-example-code [files]="selectOnRowClickUsage"></app-example-code>

  <h4 id="selectTrackBy">Select Track By</h4>

  <code>selectTrackBy: string</code> &nbsp;
  <span class="badge badge-pill badge-warning">Default Value: 'id'</span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>

  <p>
    This property let users to identify selected row(s) uniquely. When selecting row(s), data table will emit the
    value of the column specified by the user. Please refer <a [routerLink]="['/feature/data-table/advanced/events']"
                                                               [fragment]="'rowSelectChange'">Row Select
    Change</a> section for about event binding details. All the examples shown in <a
    [routerLink]="['/feature/data-table/functionality/row/selection']" [fragment]="'selectMode'">Row Selection Mode</a>
    section have set <code>selectTrackBy</code> property as <b>id</b>.
  </p>

  <app-select-track-by-usage></app-select-track-by-usage>
  <app-example-code [files]="selectTrackByUsage"></app-example-code>

  <h4 id="selectedRow">Set Selected Row</h4>

  <code>selectedRow: any</code>

  <p>
    This property let user to set a specific selected row in the data table by automatically right after the
    data table <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Initialization</a>. This
    can only be uses when selection mode is <b>single</b> or <b>single_toggle</b> as mentioned in the <a
    [routerLink]="['/feature/data-table/functionality/row/selection']" [fragment]="'selectMode'">Row Selection Mode</a>
    section.
  </p>
  <p>
    Note: <code>selectedRow</code> value should be equal to the value in <code>selectTrackBy</code> column, see more <a
    [routerLink]="['/feature/data-table/functionality/row/selection']">Select Track By</a>
  </p>
  <app-set-selected-row-usage></app-set-selected-row-usage>
  <app-example-code [files]="setSelectedRowUsage"></app-example-code>

  <h4 id="selectedRows">Set Selected Rows</h4>

  <code>selectedRows: any[]</code>

  <p>
    This property let user to set specific rows to be selected in the data table by automatically right after the data
    table <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Initialization</a>. This can
    only be use
    when selection mode is <b>multi</b>.
  </p>
  <p>
    Note: <code>selectedRows</code> array values should be equal to the values in <code>selectTrackBy</code> column, see
    more <a [routerLink]="['/feature/data-table/functionality/row/selection']">Select Track By</a>
  </p>
  <app-set-selected-rows-usage></app-set-selected-rows-usage>
  <app-example-code [files]="setSelectedRowsUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templating/expand-template']">Row Expand Template</a><br>
  <a [routerLink]="['/feature/data-table/advanced/state-persistence']">State Persistence</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Row
    Selection</a>
</div>
