<div class="feature-container">
  <h1>Row Selection</h1>

  <p>
    The Grid enables the users to select a single row or multiple rows by enabling Row Selection. Once the Data table
    row selection functionality is enabled, the end-user will be able to select data rows. For more convenience,
    Ornamentum data table supports 03 main row selection modes.
  </p>

  <ol class="main-pane-list">
    <li>
      <b>Single</b>: Single data row selection
    </li>
    <li>
      <b>Single Toggle</b>: Single row selection with row de-select capability
    </li>
    <li>
      <b>Multi</b>: Multiple row selection
    </li>
  </ol>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-row-selection-usage></app-row-selection-usage>
  <app-example-code [files]="rowSelectionUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>rowSelectable: boolean</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>To Enable row selection, configure the <code>rowSelectable</code> to <b>true</b> and by default, the table does
    not display row selectable option, which means the property is disabled.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.row_selectable"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>

  <p>Furthermore, There are some additional configurations available to customize the functionality. These
    properties will be discussed in the following sections.</p>

  <h4 id="selectMode">Select Mode</h4>

  <p>
    <code>selectMode: string = 'single' | 'single_toggle' | 'multi'</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'single'</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This control allows you to configure the row selection mode. There are 03 types of row selections available in the
    data table as mentioned above.
  </p>

  <ol class="main-pane-list">
    <li>
      <h6><b>Single Row Selection: 'single'</b></h6>

      <p>
        The user will be allowed to select only one row at a time and not allowed to deselect the selected option by
        clicking the same row. If another row is being selected, the previously selected row will be deselected
        automatically.
      </p>

      <app-single-row-selection-usage></app-single-row-selection-usage>
      <app-example-code [files]="singleRowSelectionUsage"></app-example-code>
    </li>

    <li>
      <h6><b>Single Toggle Row Selection: 'single_toggle'</b></h6>

      <p>
        The user will be allowed to select only one row at a time and lets to deselect the selected option by clicking
        the
        same row. If another row is being selected, previously selected row will be automatically deselected.
        Additionally, users are facilitated with to remove the row selection by clicking the same row.
      </p>

      <app-single-toggle-row-selection-usage></app-single-toggle-row-selection-usage>
      <app-example-code [files]="singleToggleRowSelectionUsage"></app-example-code>
    </li>

    <li>
      <h6><b>Multi Row Selection: 'multi'</b></h6>

      <p>This selection technique facilitated with to select deselect single/multiple row selection checkboxes as
        desired
        or by
        clicking anywhere in the row if <a [routerLink]="['/feature/data-table/functionality/row/selection']"
                                           [fragment]="'selectOnRowClick'">Select on Row Click</a> functionality is
        <b>enabled</b>.
      </p>

      <app-multi-row-selection-usage></app-multi-row-selection-usage>
      <app-example-code [files]="multiRowSelectionUsage"></app-example-code>
    </li>
  </ol>

  <h4 id="showRowSelectCheckbox">Show Row Select Checkbox</h4>

  <p>
    <code>showRowSelectCheckbox: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: true</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>


  <p>
    By configuring This property, It displays row selection checkboxes for all the available rows in the data table and
    triggers the <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row Select
    Change</a> event for each row implicitly, when the user changes the state of the row checkbox.
  </p>

  <app-show-row-select-checkbox-usage></app-show-row-select-checkbox-usage>
  <app-example-code [files]="showRowSelectCheckboxUsage"></app-example-code>

  <h4 id="showRowSelectAllCheckbox">Show Row Select All Checkbox</h4>

  <p>
    <code>showRowSelectAllCheckbox: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property allows the users to select all the rows in current view at once by clicking on a single checkbox or else
    selecting all the rows one by one will trigger the checkbox. It was located in the top of the row selection checkbox
    column and for each page, view have separate row select all checkbox. It triggers the <a
      [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row
      Select Change</a> event automatically when the user changes the state of the select all checkbox.</p>

  <app-show-row-select-all-checkbox-usage></app-show-row-select-all-checkbox-usage>
  <app-example-code [files]="showRowSelectAllCheckboxUsage"></app-example-code>

  <h4 id="selectOnRowClick">Select On Row Click</h4>

  <p>
    <code>selectOnRowClick: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    This property allow the users to perform row click operation anywhere within a row. It will trigger the <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row Select Change</a> for each
    row click event implicitly, based on the provided <a
    [routerLink]="'/feature/data-table/functionality/row/selection'"
    [fragment]="'selectMode'">Select Mode</a>.
  </p>

  <app-select-on-row-click-usage></app-select-on-row-click-usage>
  <app-example-code [files]="selectOnRowClickUsage"></app-example-code>

  <h4 id="selectTrackBy">Select Track By</h4>

  <p>
    <code>selectTrackBy: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: 'id'</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property allows the users to provide a field name to identify a selection item schema and it might be uniquely
    identifiable all over the data set. When a user selects a row, the data table <a
      [routerLink]="'/feature/data-table/advanced/event'" [fragment]="'rowSelectChange'">Row Select Change</a> will emit
    the selected row selection id for each row selection operation.
  </p>

  <app-select-track-by-usage></app-select-track-by-usage>
  <app-example-code [files]="selectTrackByUsage"></app-example-code>

  <h4 id="selectedRow">Selected Row</h4>

  <p>
    <code>selectedRow: any</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: undefined</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [selectTrackBy]</span>
  </p>


  <p>
    This property allows to set a specifically selected row to display after the data table <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Initialization</a> or
    component initialization events fired. It accepts a <a
    [routerLink]="'/feature/data-table/functionality/row/selection'"
    [fragment]="'selectTrackBy'">Select Track By</a> column any
    unique field value and can <b>only</b> be used when <a
    [routerLink]="'/feature/data-table/functionality/row/selection'"
    [fragment]="'selectMode'">Select Mode</a> is <b>'single'</b> or <b>'single_toggle'</b>.
  </p>

  <app-selected-row-usage></app-selected-row-usage>
  <app-example-code [files]="setSelectedRowUsage"></app-example-code>

  <h4 id="selectedRows">Selected Rows</h4>

  <p>
    <code>selectedRows: any[]</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: []</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [selectTrackBy]</span>
  </p>

  <p>
    This property allows to set specifically selected rows to display after the data table <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Initialization</a> or
    component initialization events fired. It accepts <a
    [routerLink]="'/feature/data-table/functionality/row/selection'"
    [fragment]="'selectTrackBy'">Select Track By</a> column any unique
    field values array and can <b>only</b> be used when <a
    [routerLink]="'/feature/data-table/functionality/row/selection'"
    [fragment]="'selectMode'">Select Mode</a> is <b>'multi'</b>.
  </p>


  <app-selected-rows-usage></app-selected-rows-usage>
  <app-example-code [files]="setSelectedRowsUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/templating/row-expand-template']">Row Expand Template</a><br>
  <a [routerLink]="['/feature/data-table/advanced/state-persistence']">State Persistence</a><br>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Row
    Selection</a>
</div>
