@import '../../../styles/images/variables';
@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  ::ng-deep {

    .ng-dropdown-search {

      .ng-dropdown-input-group {
        @include display-flex;
        @include flex-wrap(wrap);
        @include align-items(stretch);
        position: relative;
        width: 100%;

        .ng-dropdown-input-group-addon {
          @include display-flex;
          @include align-items(center);
          @include font-size(.875, 1.5);
          background: $multi-select-dropdown-icon-background;
          border: 0;
          color: $multi-select-dropdown-toggle-color;
          margin-bottom: 0;
          padding: .25rem .5rem;
          text-align: center;
          white-space: nowrap;
          width: 2em;

          &:after {
            background: transparent url($search-url) no-repeat;
            background-size: contain;
            top: .2em;
            content: '';
            cursor: pointer;
            height: 1.7em;
            position: absolute;
            left: .2em;
            width: 1.7em;
          }
        }

        .ng-dropdown-input {
          @include display-flex;
          @include flex(1 1 auto);
          @include align-items(center);
          border: .05rem solid $multi-select-dropdown-toggle-border;
          font-size: .875rem;
          line-height: 1.5;
          margin-bottom: 0;
          outline: none;
          padding: .25rem 1.5rem .25rem .5rem;
          position: relative;
          width: 1%;
          z-index: 2;
        }
      }

      .ng-dropdown-input-group-btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        .ng-dropdown-delete-button {
          background: transparent url($close-url) no-repeat;
          background-size: contain;
          border: 0;
          cursor: pointer;
          height: 1.7em;
          outline: none;
          padding: .3rem .5rem;
          position: absolute;
          right: .4em;
          top: .6em;
          width: 1.7em;
        }
      }
    }
  }
}
