@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

li {
  padding-bottom: 10px;
}

.sub-ul {
  li {
    color: $side-menu-label-text;
    padding-bottom: 2px;
  }
}

.badge-pill {
  line-height: 1.2rem;
  margin-right: 1.25rem;
}