<div class="feature-container">
  <h1>Dropdown List Option Filtering</h1>

  <p>
    This feature will allow end-users to filter specific field set by searching them on Dropdown filter bar. After
    enabling filtering it will filter data on every <a [routerLink]="['/feature/dropdown/functionality/option-filtering']"
                                                       [fragment]="'filterDebounceTime'">Filter Debounce Time</a> when
    on idle after user's every keystroke.
  </p>

  <p>
    Once after enable filtering by default ornamentum will activate <a
    [routerLink]="'/feature/dropdown/functionality/option/filtering'"
    [fragment]="'filterDebounce'">Filter Debounce</a>
    and set specific <a [routerLink]="['/feature/dropdown/functionality/option/filtering']" [fragment]="'filterDebounceTime'">Filter
    Debounce Time</a> in to dropdown. for more details about debouncing please refer
    <a [routerLink]="['/feature/dropdown/functionality/option/filtering']" [fragment]="'usefulProperties'">Useful
      Properties</a> from below.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-option-filtering-usage></app-option-filtering-usage>
  <app-example-code [files]="optionFilteringUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    For enabling filtering, it is mandatory to set <code>filterable</code> to <b>true</b>. by default filterable is set
    to <b>false</b> and therefore filtering option will be disabled on default dropdown.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.dropdownFiltering"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>

  <p>
    In addition to the filtering property, there are few more properties that will affect to the behaviour of filtering
    and can be use with together once <code>filterable</code> was enabled.
  </p>

  <h4 id="filterDebounce">Filter Debounce</h4>
  <code>filterDebounce: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: true</h5>

  <p>
    Filter Debounce is responsible for listening more user inputs on user every keystroke on dropdown filter bar and
    search them as a bundle on every <a [routerLink]="['/feature/dropdown/functionality/option/filtering']"
                                        [fragment]="'filterDebounceTime'">Filter Debounce Time</a>. this
    will be happen recursively if user has continuously providing inputs.
  </p>

  <app-filter-debounce-usage></app-filter-debounce-usage>
  <app-example-code [files]="filterDebounceUsage"></app-example-code>

  <p>
    The key advantage is using debounce is reduce client-side operations. because filtering is perform on every
    <a [routerLink]="['/feature/dropdown/functionality/option/filtering']" [fragment]="'filterDebounceTime'">Filter Debounce
      Time</a> rather than filter every keystroke that user enters.
  </p>

  <h4 id="filterDebounceTime">Filter Debounce Time</h4>
  <code>filterDebounceTime: number</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: 500</h5>

  <p>
    This property is uses for defining the debounce time for perform debounce operation and property was depend on
    <a [routerLink]="['/feature/dropdown/functionality/option/filtering']" [fragment]="'filterDebounce'">Filter Debounce</a>,
    therefore can't be uses <b>independently</b> on dropdown operations.
  </p>

  <app-filter-debounce-time-usage></app-filter-debounce-time-usage>
  <app-example-code [files]="filterDebounceTimeUsage"></app-example-code>

  <h4 id="filterText">Filter Text</h4>
  <code>filterText: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>

  <p>
    This property is uses to override default filter text value for the dropdown and will be automatically filtered
    according to the provided text on <a [routerLink]="['/feature/dropdown/advanced/load-data-on-init']">Load Data On
    Init</a>. with indicating filtered text on filter bar.
  </p>

  <app-filter-text-usage></app-filter-text-usage>
  <app-example-code [files]="filterTextUsage"></app-example-code>

  <h2 id="serverSideFiltering">Server-side Option Filtering</h2>

  <p>
    Unlike the client side data filtering, server side filtering uses the mechanism to initiate a new API request to
    fetch data from the server which matches to the particular action whenever a user performs a keyword search.
    In order to enable this behaviour, it is necessary to use <a [routerLink]="['/feature/dropdown/data-binding/server-side/basic']">
    Server-side Data Binding</a> technique.
  </p>

  <p>
    Also all the properties described in the <a [routerLink]="['/feature/dropdown/functionality/option/filtering']"
                                                [fragment]="'usefulProperties'">Useful Properties</a> section,
    can be used with Server side filtering as well.
  </p>

  <app-option-filtering-server-side></app-option-filtering-server-side>
  <app-example-code [files]="optionFilteringServerSideUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/advanced/load-data-on-init']">Load Data On Init</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#filterable">API Doc for Data
    Filtering</a>
</div>
