<div style="border: groove #d32f2f">
  <h4>Data Table Configurations</h4>
  <div>
    <h5><b>Configurations which are Required Page Reload to Apply</b></h5>
    <button (click)="initialTableConf.autoFetch = !initialTableConf.autoFetch">
      <ng-container *ngIf="initialTableConf.autoFetch">Auto Fetch: <b>ON</b></ng-container>
      <ng-container *ngIf="!initialTableConf.autoFetch">Auto Fetch: <b>OFF</b></ng-container>
    </button>

    <button (click)="initialTableConf.rowSelectable = !initialTableConf.rowSelectable">
      <ng-container *ngIf="initialTableConf.rowSelectable">Row Selectable: <b>ON</b></ng-container>
      <ng-container *ngIf="!initialTableConf.rowSelectable">Row Selectable: <b>OFF</b></ng-container>
    </button>

    <button (click)="initialTableConf.showIndexColumn = !initialTableConf.showIndexColumn">
      <ng-container *ngIf="initialTableConf.showIndexColumn">Show Index Column: <b>ON</b></ng-container>
      <ng-container *ngIf="!initialTableConf.showIndexColumn">Show Index Column: <b>OFF</b></ng-container>
    </button>

    <button (click)="initialTableConf.multiColumnSortable = !initialTableConf.multiColumnSortable">
      <ng-container *ngIf="initialTableConf.multiColumnSortable">Multi Column Sorting: <b>ON</b></ng-container>
      <ng-container *ngIf="!initialTableConf.multiColumnSortable">Multi Column Sorting: <b>OFF</b></ng-container>
    </button>

    <button (click)="initialTableConf.expandableRows = !initialTableConf.expandableRows">
      <ng-container *ngIf="initialTableConf.expandableRows">Expandable Rows: <b>ON</b></ng-container>
      <ng-container *ngIf="!initialTableConf.expandableRows">Expandable Rows: <b>OFF</b></ng-container>
    </button>

    <button (click)="initialTableConf.remoteDataFetch = !initialTableConf.remoteDataFetch">
      <ng-container *ngIf="initialTableConf.remoteDataFetch">Fetch Remote Data: <b>ON</b></ng-container>
      <ng-container *ngIf="!initialTableConf.remoteDataFetch">Fetch Remote Data: <b>OFF</b></ng-container>
    </button>

    <button (click)="dataTableComponent.dataBind()">
      Reload Data
    </button>

    <button (click)="dataTableComponent.dataBind(true)">
      Hard Reload Data
    </button>

    <button (click)="reloadTableConfigurations()" style="color: #d32f2f"><b>RELOAD TO APPLY</b></button>
  </div>
  <div>
    <h5><b>Configurations which are not Required Page Reload to Apply</b></h5>
    <button (click)="multiRowSelectable = !multiRowSelectable">
      <ng-container *ngIf="multiRowSelectable">Multi-select: <b>ON</b></ng-container>
      <ng-container *ngIf="!multiRowSelectable">Multi-select: <b>OFF</b></ng-container>
    </button>

    <button (click)="pageable = !pageable">
      <ng-container *ngIf="pageable">Pageable: <b>ON</b></ng-container>
      <ng-container *ngIf="!pageable">Pageable: <b>OFF</b></ng-container>
    </button>

    <button (click)="selectOnRowClick = !selectOnRowClick">
      <ng-container *ngIf="selectOnRowClick">Select On Row Click: <b>ON</b></ng-container>
      <ng-container *ngIf="!selectOnRowClick">Select On Row Click: <b>OFF</b></ng-container>
    </button>

    <button (click)="showHeader = !showHeader">
      <ng-container *ngIf="showHeader">Show Header <b>On</b></ng-container>
      <ng-container *ngIf="!showHeader">Show header: <b>OFF</b></ng-container>
    </button>

    <button (click)="showLoadingSpinner = !showLoadingSpinner">
      <ng-container *ngIf="showLoadingSpinner">Show Loading Spinner: <b>ON</b></ng-container>
      <ng-container *ngIf="!showLoadingSpinner">Show Loading Spinner: <b>OFF</b></ng-container>
    </button>

    <button (click)="showSubstituteRows = !showSubstituteRows">
      <ng-container *ngIf="showSubstituteRows">Show Substitute Rows: <b>ON</b></ng-container>
      <ng-container *ngIf="!showSubstituteRows">Show Substitute Rows: <b>OFF</b></ng-container>
    </button>

    <button (click)="filterDebounce = !filterDebounce">
      <ng-container *ngIf="filterDebounce">Filter Debounce: <b>ON</b></ng-container>
      <ng-container *ngIf="!filterDebounce">Filter Debounce: <b>OFF</b></ng-container>
    </button>

    Grid Title:<input placeholder="Enter Grid Title" [(ngModel)]="gridTitle"
                      [ngModelOptions]="{standalone: true}">

    Index Column Title:<input placeholder="Enter Index Column Title" [(ngModel)]="indexColumnTitle"
                              [ngModelOptions]="{standalone: true}">

    Item Limit:<input placeholder="Enter Item Limit" [(ngModel)]="limit" [ngModelOptions]="{standalone: true}">

    Filter Debounce Time:<input placeholder="Enter Filter Debounce Time" [(ngModel)]="filterDebounceTime"
                                [ngModelOptions]="{standalone: true}">

    Page Number to Display Data:<input placeholder="Enter Page" [(ngModel)]="page"
                                       [ngModelOptions]="{standalone: true}">

    Content Height:<input placeholder="Enter Content Height" [(ngModel)]="contentHeight"
                          [ngModelOptions]="{standalone: true}">
  </div>
</div>
<br/>
<div style="border: groove #40b30d">
  <h4>Column Configurations</h4>
  <div>
    <span><b>1st Column</b></span>

    Title:<input placeholder="Enter Column Title" [(ngModel)]="firstColConf.title"
                 [ngModelOptions]="{standalone: true}">

    Width:<input type="number" placeholder="Enter Column Width" [(ngModel)]="firstColConf.width"
                 [ngModelOptions]="{standalone: true}">

    Filter Placeholder:<input placeholder="Enter Filter Placeholder" [(ngModel)]="firstColConf.filterPlaceholder"
                              [ngModelOptions]="{standalone: true}">

    <button (click)="firstColConf.sortable = !firstColConf.sortable">
      <ng-container *ngIf="firstColConf.sortable">Sortable: <b>ON</b></ng-container>
      <ng-container *ngIf="!firstColConf.sortable">Sortable: <b>OFF</b></ng-container>
    </button>

    <button (click)="firstColConf.filterable = !firstColConf.filterable">
      <ng-container *ngIf="firstColConf.filterable">Filterable: <b>ON</b></ng-container>
      <ng-container *ngIf="!firstColConf.filterable">Filterable: <b>OFF</b></ng-container>
    </button>

    <button (click)="firstColConf.resizable = !firstColConf.resizable">
      <ng-container *ngIf="firstColConf.resizable">Resizable: <b>ON</b></ng-container>
      <ng-container *ngIf="!firstColConf.resizable">Resizable: <b>OFF</b></ng-container>
    </button>

    <button (click)="firstColConf.enableMultiSelectFilter = !firstColConf.enableMultiSelectFilter">
      <ng-container *ngIf="firstColConf.enableMultiSelectFilter">Enable Multi Select Filter: <b>ON</b></ng-container>
      <ng-container *ngIf="!firstColConf.enableMultiSelectFilter">Enable Multi Select Filter: <b>OFF</b></ng-container>
    </button>

    <button (click)="firstColConf.visible = !firstColConf.visible">
      <ng-container *ngIf="firstColConf.visible">Visible: <b>ON</b></ng-container>
      <ng-container *ngIf="!firstColConf.visible">Visible: <b>OFF</b></ng-container>
    </button>

    <span><b>2nd Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="secondColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>3rd Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="thirdColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>4th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="forthColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>5th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="fifthColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>6th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="sixthColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>7th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="seventhColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>8th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="eighthColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>9th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="ninthColConf.title"
                 [ngModelOptions]="{standalone: true}">

    <span><b>10th Column</b></span>
    Title:<input placeholder="Enter Column Title" [(ngModel)]="tenthColConf.title"
                 [ngModelOptions]="{standalone: true}">
  </div>
</div>
<br/>

<app-data-table
  [title]="gridTitle"
  [autoFetch]="initialTableConf.autoFetch"
  [expandableRows]="initialTableConf.expandableRows"
  [filterDebounce]="filterDebounce"
  [filterDebounceTime]="filterDebounceTime"
  [indexColumnTitle]="indexColumnTitle"
  [itemCount]="itemCount"
  [items]="items"
  [limit]="limit"
  [multiRowSelectable]="multiRowSelectable"
  [multiColumnSortable]="initialTableConf.multiColumnSortable"
  [page]="page"
  [pageable]="pageable"
  [rowSelectable]="initialTableConf.rowSelectable"
  [selectOnRowClick]="selectOnRowClick"
  [showHeader]="showHeader"
  [showIndexColumn]="initialTableConf.showIndexColumn"
  [showLoadingSpinner]="showLoadingSpinner"
  [showSubstituteRows]="showSubstituteRows"
  [selectTrackBy]="'id'"
  [contentHeight]="contentHeight"
  [persistTableState]="true"
  [onFilterValueExtract]="tableResource.extractFilterOptions.bind(tableResource)"

  (onRefresh)="onRefresh($event)"
  (onDataLoad)="onDataLoad($event)"
  (onInit)="onInit($event)">

  <app-data-table-column
    [width]="firstColConf.width"
    [field]="'id'"
    [title]="firstColConf.title"
    [sortable]="firstColConf.sortable"
    [filterable]="firstColConf.filterable"
    [resizable]="firstColConf.resizable"
    [enableMultiSelectFilter]="firstColConf.enableMultiSelectFilter"
    [filterPlaceholder]="firstColConf.filterPlaceholder"
    [visible]="firstColConf.visible">
  </app-data-table-column>
  <app-data-table-column
    [field]="'stationName'"
    [title]="secondColConf.title"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'latitude'"
    [title]="thirdColConf.title"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'longitude'"
    [title]="forthColConf.title"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'availableDocks'"
    [title]="fifthColConf.title"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="110"
    [field]="'totalDocks'"
    [title]="sixthColConf.title"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="100"
    [field]="'statusValue'"
    [title]="seventhColConf.title"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'availableBikes'"
    [title]="eighthColConf.title"
    [sortable]="true"
    [filterable]="true"
    [enableMultiSelectFilter]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="180"
    [field]="'lastCommunicationTime'"
    [title]="ninthColConf.title"
    [sortable]="true"
    [filterable]="true"
    [enableMultiSelectFilter]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="100"
    [title]="tenthColConf.title">
    <ng-template #appDataTableCell let-row="row">
      <td>
        <button (click)="onEdit(row.item, $event)">Edit</button>
      </td>
    </ng-template>
  </app-data-table-column>
</app-data-table>
