<!--need to find approach. bcz working fine in the initial load-->
<div style="border: groove #d32f2f;padding: 5px">
  <h6><b>Have to enable/disable configurations in initial load</b></h6>
  <button (click)="autoFetch = !autoFetch">
    <ng-container *ngIf="autoFetch">Auto Fetch: <b>ON</b></ng-container>
    <ng-container *ngIf="!autoFetch">Auto Fetch: <b>OFF</b></ng-container>
  </button>

  <button (click)="rowSelectable = !rowSelectable">
    <ng-container *ngIf="rowSelectable">Row Selectable: <b>ON</b></ng-container>
    <ng-container *ngIf="!rowSelectable">Row Selectable: <b>OFF</b></ng-container>
  </button>

  <button (click)="showIndexColumn = !showIndexColumn">
    <ng-container *ngIf="showIndexColumn">Show Index Column: <b>ON</b></ng-container>
    <ng-container *ngIf="!showIndexColumn">Show Index Column: <b>OFF</b></ng-container>
  </button>

  <button (click)="multiColumnSortable = !multiColumnSortable">
    <ng-container *ngIf="multiColumnSortable">Multi Column Sorting: <b>ON</b></ng-container>
    <ng-container *ngIf="!multiColumnSortable">Multi Column Sorting: <b>OFF</b></ng-container>
  </button>

  <button (click)="expandableRows = !expandableRows">
    <ng-container *ngIf="expandableRows">Expandable Rows: <b>ON</b></ng-container>
    <ng-container *ngIf="!expandableRows">Expandable Rows: <b>OFF</b></ng-container>
  </button>

  <button (click)="dataTableComponent.dataBind()">
    Reload Data
  </button>

  <button (click)="dataTableComponent.dataBind(true)">
    Hard Reload Data
  </button>

  Content Height:<input placeholder="Enter Content Height" [(ngModel)]="contentHeight"
                        [ngModelOptions]="{standalone: true}">
</div>
<br/>
<!---->

<div style="border: groove #444444;padding: 5px">
  <button (click)="multiRowSelectable = !multiRowSelectable">
    <ng-container *ngIf="multiRowSelectable">Multi-select: <b>ON</b></ng-container>
    <ng-container *ngIf="!multiRowSelectable">Multi-select: <b>OFF</b></ng-container>
  </button>

  <button (click)="pageable = !pageable">
    <ng-container *ngIf="pageable">Pageable: <b>ON</b></ng-container>
    <ng-container *ngIf="!pageable">Pageable: <b>OFF</b></ng-container>
  </button>

  <button (click)="selectOnRowClick = !selectOnRowClick">
    <ng-container *ngIf="selectOnRowClick">Select On Row Click: <b>ON</b></ng-container>
    <ng-container *ngIf="!selectOnRowClick">Select On Row Click: <b>OFF</b></ng-container>
  </button>

  <button (click)="showHeader = !showHeader">
    <ng-container *ngIf="showHeader">Show Header <b>On</b></ng-container>
    <ng-container *ngIf="!showHeader">Show header: <b>OFF</b></ng-container>
  </button>

  <button (click)="showLoadingSpinner = !showLoadingSpinner">
    <ng-container *ngIf="showLoadingSpinner">Show Loading Spinner: <b>ON</b></ng-container>
    <ng-container *ngIf="!showLoadingSpinner">Show Loading Spinner: <b>OFF</b></ng-container>
  </button>

  <button (click)="showSubstituteRows = !showSubstituteRows">
    <ng-container *ngIf="showSubstituteRows">Show Substitute Rows: <b>ON</b></ng-container>
    <ng-container *ngIf="!showSubstituteRows">Show Substitute Rows: <b>OFF</b></ng-container>
  </button>

  <button (click)="filterDebounce = !filterDebounce">
    <ng-container *ngIf="filterDebounce">Filter Debounce: <b>ON</b></ng-container>
    <ng-container *ngIf="!filterDebounce">Filter Debounce: <b>OFF</b></ng-container>
  </button>

  Grid Title:<input placeholder="Enter Grid Title" [(ngModel)]="gridTitle"
                    [ngModelOptions]="{standalone: true}">

  Index Column Title:<input placeholder="Enter Index Column Title" [(ngModel)]="indexColumnTitle"
                            [ngModelOptions]="{standalone: true}">

  Item Limit:<input placeholder="Enter Item Limit" [(ngModel)]="limit" [ngModelOptions]="{standalone: true}">

  Filter Debounce Time:<input placeholder="Enter Filter Debounce Time" [(ngModel)]="filterDebounceTime"
                              [ngModelOptions]="{standalone: true}">

  Page Number to Display Data:<input placeholder="Enter Page" [(ngModel)]="page" [ngModelOptions]="{standalone: true}">
</div>
<br/>

<app-data-table
  [title]="gridTitle"
  [autoFetch]="autoFetch"
  [expandableRows]="expandableRows"
  [filterDebounce]="filterDebounce"
  [filterDebounceTime]="filterDebounceTime"
  [indexColumnTitle]="indexColumnTitle"
  [itemCount]="itemCount"
  [items]="items"
  [limit]="limit"
  [multiRowSelectable]="multiRowSelectable"
  [multiColumnSortable]="multiColumnSortable"
  [page]="page"
  [pageable]="pageable"
  [rowSelectable]="rowSelectable"
  [selectOnRowClick]="selectOnRowClick"
  [showHeader]="showHeader"
  [showIndexColumn]="showIndexColumn"
  [showLoadingSpinner]="showLoadingSpinner"
  [showSubstituteRows]="showSubstituteRows"
  [selectTrackBy]="'id'"
  [contentHeight]="600"
  [persistTableState]="true"
  [onFilterValueExtract]="tableResource.extractFilterOptions.bind(tableResource)"

  (onRefresh)="onRefresh($event)"
  (onDataLoad)="onDataLoad($event)"
  (onInit)="onInit($event)">

  <app-data-table-column
    [width]="80"
    [field]="'id'"
    [title]="'ID'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [field]="'stationName'"
    [title]="'Station Name'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'latitude'"
    [title]="'Latitude'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'longitude'"
    [title]="'Longitude'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'availableDocks'"
    [title]="'Available Docks'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="110"
    [field]="'totalDocks'"
    [title]="'Total Docks'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="100"
    [field]="'statusValue'"
    [title]="'Status'"
    [sortable]="true"
    [filterable]="true">
  </app-data-table-column>
  <app-data-table-column
    [width]="120"
    [field]="'availableBikes'"
    [title]="'Available Bikes'"
    [sortable]="true"
    [filterable]="true"
    [enableMultiSelectFilter]="true">
  </app-data-table-column>
  <app-data-table-column
    [field]="'lastCommunicationTime'"
    [title]="'Last Communication Time'"
    [sortable]="true"
    [filterable]="true"
    [enableMultiSelectFilter]="true">
  </app-data-table-column>
  <app-data-table-column
    [title]="'Action'">
    <ng-template #appDataTableCell let-row="row">
      <td>
        <button (click)="openEditModal(row.item)">Edit</button>
      </td>
    </ng-template>
  </app-data-table-column>
</app-data-table>
