// Global style dependencies required for example
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar {
  background-color: #2c2c2c;
  height: 10px;
  width: 10px;

}

::-webkit-scrollbar-thumb {
  @include border-radius(.3rem);
  background-color: #2c2c2c;
  border: .15rem solid;
  border-color: #ccc;
  opacity: .5;
}




