// Global style dependencies required for example

@import 'app/styles/variables';
@import 'app/styles/mixins';

.om-base-theme {
  @import '../dist/ornamentum/themes/base.theme';
  @import '../dist/ornamentum/themes/addon.base.theme';
}

.om-dark-theme {
  @import '../dist/ornamentum/themes/dark.theme';
  @import '../dist/ornamentum/themes/addon.dark.theme';
}

.om-flat-theme {
  @import '../dist/ornamentum/themes/flat.theme';
  @import '../dist/ornamentum/themes/addon.flat.theme';
}

.om-ornamentum-theme {
  @import '../dist/ornamentum/themes/ornamentum.theme';
  @import '../dist/ornamentum/themes/addon.ornamentum.theme';
}

.om-aegean-theme {
  @import '../dist/ornamentum/themes/aegean.theme';
  @import '../dist/ornamentum/themes/addon.aegean.theme';
}

body {
  background: $primary-background;
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

// Custom scrollbar styling






