// Global style dependencies required for example
@import '~bootstrap/scss/bootstrap';
@import '~code-prettify/loader/prettify.css';
@import '~color-themes-for-google-code-prettify/dist/themes/tranquil-heart.css';
@import 'app/styles/variables';
@import 'app/styles/mixins';

@import 'app/themes/dropdown/base.theme';
@import 'app/themes/data-table/dark.theme';

body {
  background: #fff;
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar {
  background-color: #222;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @include border-radius(.3rem);
  background-color: #222;
  border: .15rem solid;
  border-color: #ccc;
  opacity: .5;
}




