<div class="feature-container">
  <h1>Display Items</h1>

  <p>
    Item displaying allow users to configure a field that displays as dropdown items on dropdown to the end user. by default ornamentum will set
    display track field as <b>value</b>. for dropdown <code>selectTrackBy</code> attribute usages please refer dropdown Item Selection
    <a rel="noopener" target="_blank" href="feature/dropdown/item-selection#selectTrackBy">Select Track By</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <p>Below example will demonstrate a sample usages of configuring displaying item(s) on dropdown.</p>

  <app-display-items-usage></app-display-items-usage>
  <app-example-code [files]="displayTrackedByUsage"></app-example-code>

  <p>
    According to the above example, <code>displayTrackBy</code> field was set to <b>productType</b> and will be displaying it's values on dropdown to
    the end user. for more details about display track by usages please refer <b>display-track-items-usage.component.html</b> from the above code
    snippet.
  </p>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>To enable item displaying, provide a property name for <code>displayTrackBy</code> attribute unless data will not be displayed on dropdown.</p>

  <pre class="prettyprint lang-html">{{ demoSnippet.displayTrackBy }}</pre>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="feature/dropdown/item-disabling">Item Disabling</a><br />
  <a rel="noopener" target="_blank" href="feature/dropdown/load-data-on-init">Load Data On Init</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#displayTrackBy">API Doc for Display Tracked By Attribute</a>
</div>
