<div class="feature-container">
  <h1>Real-time Data Binding</h1>

  <p>
    In some situations, you might want to update the existing data in the data table recursively, due to a dynamic nature of different data sets such
    as weather data, analytics data, etc. those type of data's are possible to change in a small time of period.
  </p>

  <p>
    In such cases you can use this real time data binding technique to binding data, when data changes in real time those changes will be reflect
    without data table refresh, and immediately effect to the data table as well. for more about data table refresh refer
    <a rel="noopener" target="_blank" href="feature/data-table/header-details#showRefreshButton">Show Refresh Button</a> section.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-real-time-data-binding></app-real-time-data-binding>
  <app-example-code [files]="realTimeDataBindingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same as the <a [routerLink]="['/feature/data-table/server-side-data-binding']">Server-side Data Binding</a> you can be configure by providing a
    any object collecting of observable. bind a available specific data source into <code>dataSource</code> property.
  </p>

  <pre class="prettyprint lang-html">{{ demoSnippet.dataSource }}</pre>

  <p>
    Following code snippet will be represent the implementation of the <code>fetchDataFromServer</code> method that used to call the example data api.
  </p>

  <pre class="prettyprint lang-js">{{ demoSnippet.dataFetchMethod }}</pre>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/client-side-data-binding']">Client-side Data Binding</a><br />
  <a [routerLink]="['/feature/data-table/server-side-data-binding']">Server-side Data Binding</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#dataSource">API Doc for Real-time Data Binding</a>
</div>
