<div class="feature-container" #parent>
  <h2>Real-time Data Binding</h2>
  <p>In real-time data binding, when data is set via the <b>dataSource</b> attribute, when data changes in real time
    those
    will automatically reflect to the original data table.</p>

  <app-real-time-data-binding></app-real-time-data-binding>

  <app-example-code [files]="realTimeDataBindingUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#dataSource">API Doc for Real-time
    Data Binding</a>
</div>

