@import '../../../styles/variables';
@import '../../../styles/mixins';

:host-context {

  %form-styles {
    @include font-size(.7, .8);
    padding: .25rem;

    &:focus {
      outline: 0;
    }
  }

  .ng-data-table-pagination-box {
    @include display-flex;
    @include font-size(.7, 1.4);
    @include justify-content(space-between);

    background: $data-table-dropdown-background;
    border-bottom: 0;
    border-top: .05rem solid $data-table-header-border;
    margin-bottom: -.05rem;
    padding: .5rem;


  }

  .ng-data-table-pagination-range {
    @include display-flex;
    @include align-items(center);

    span {
      color: $data-table-pagination-results;
      padding: 0 .5rem;

    }
  }

  .ng-data-table-pagination-controllers {
    @include display-flex;
    @include font-size(.7, 1.4);
    @include justify-content(space-between);

    .ng-data-table-pagination-limit {
      margin-right: 2.5rem;

      .ng-data-table-input-group {
        @include display-flex;
        @include align-items(stretch);
        @include flex-wrap(wrap);
        height: 1.4rem;
        position: relative;
        width: 100%;
      }

      .ng-data-table-input {
        @extend %form-styles;
        max-width: 3rem;
      }
    }

    .ng-data-table-input {
      @extend %form-styles;

    }

    .ng-data-table-input-group-addon {
      @extend %form-styles;
      @include display-flex;
      @include align-items(center);
      background-color: $data-table-header-background;
      border: 1px solid $data-table-border;
      border-right: 0;
      margin-bottom: 0;
      padding: .375rem .75rem;
      text-align: center;
      white-space: nowrap;
    }

    .ng-data-table-pagination-pages {
      @include display-flex;
      @include justify-content(space-between);

      .ng-data-table-input-group {
        height: 1.4rem;
      }

      .ng-data-table-action-button {
        @include font-size(.7, .8);
        height: 1.4rem;
        margin-right: .5rem;
      }

      .ng-data-table-pagination-page {
        margin-right: .5rem;

        .ng-data-table-input-group {
          @include display-flex;
          @include align-items(stretch);
          height: 1.4rem;
          position: relative;
          width: 100%;
        }

        .ng-data-table-input-group-addon {
          border-left: 0;
          border-right: 1px solid $data-table-border;
        }

        .ng-data-table-input {
          @include display-flex;
          @include align-items(center);
          @include flex(1 1 auto);
          margin-bottom: 0;
          min-width: 2.5rem;
          position: relative;
          width: 1%;
          z-index: 2;
        }
      }


    }
  }
}
