<ng-data-table
  [title]="'Sales Products'"
  [minContentWidth]="900"
  [limit]="10"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [multiColumnSortable]="true"
  [dataSource]="dataSource">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="80"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [showDropdownFilter]="true"
    [sortable]="true"
    [filterable]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [sortable]="true"
    [filterable]="true"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [sortable]="true"
    [filterable]="true"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [sortable]="true"
    [filterable]="true"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>
