<ng-data-table
  [id]="'sales_products_data_binding_05'"
  [title]="'Sales Products'"
  [minContentWidth]="1110"
  [limit]="10"
  [pageable]="true"
  [showHeader]="true"
  [showColumnSelector]="true"
  [multiColumnSortable]="true"
  [dataSource]="dataSource">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [sortable]="true"
    [filterable]="true"
    [width]="90">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [width]="140">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [showDropdownFilter]="true"
    [sortable]="true"
    [filterable]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [width]="180">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'"
    [sortable]="true"
    [filterable]="true"
    [showDropdownFilter]="true"
    [width]="160">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [sortable]="true"
    [filterable]="true"
    [width]="150">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [sortable]="true"
    [filterable]="true"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [sortable]="true"
    [filterable]="true"
    [width]="150">
  </ng-data-table-column>
</ng-data-table>
