<ul class="ng-dropdown-option-container" [class.ng-milti-selectable]="config.selectMode === 'multi'">
  <ng-container *ngIf="config.groupByField">
    <ng-container *ngFor="let groupedOption of dataStateService.dropdownOptionGroups">
      <li *ngIf="!dataStateService.dropdownOptionGroupHeaderTemplate" class="ng-dropdown-group-heading">
        {{ groupedOption.groupName }}
      </li>
      <ng-container
        *ngIf="dataStateService.dropdownOptionGroupHeaderTemplate"
        [ngTemplateOutlet]="dataStateService.dropdownOptionGroupHeaderTemplate"
        [ngTemplateOutletContext]="{ groupedOption: groupedOption }"
      >
      </ng-container>
      <ng-container *ngFor="let option of groupedOption.options; trackBy: optionTrackBy; let i = index;">
        <li (click)="onOptionClick(option, $event)" [class.disabled]="option.disabled" [class.ng-option-selected]="getSelectedState(option.id)">
          <ng-container *ngIf="!dataStateService.dropdownOptionTemplate">
            <a class="ng-dropdown-checkbox-container" *ngIf="config.showOptionSelectCheckbox">
              <input type="checkbox" class="ng-dropdown-checkbox-input ng-ignore-propagation"
                     [id]="dataStateService.getUniqueId('gop', i)"
                     [checked]="getSelectedState(option.id)"
                     [disabled]="option.disabled"
                     (change)="toggleOptionSelectedState(option)"
                     (click)="onOptionCheckboxClick(option, $event)"
              />
              <label class="ng-ignore-propagation" [for]="dataStateService.getUniqueId('gop', i)">
                <span class="ng-ignore-propagation" [title]="option.text">{{ option.text }}</span>
              </label>
            </a>
            <span *ngIf="!config.showOptionSelectCheckbox" [title]="option.text">
              <span *ngIf="config.showOptionIndex">{{option.index}} -</span>
              <span *ngIf="config.showOptionTrackBy">{{option.id}} - </span>{{ option.text }}
            </span>
          </ng-container>
          <ng-container
            *ngIf="dataStateService.dropdownOptionTemplate"
            [ngTemplateOutlet]="dataStateService.dropdownOptionTemplate"
            [ngTemplateOutletContext]="{ option: option, selected: getSelectedState(option.id) }"
          >
          </ng-container>
        </li>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!config.groupByField">
    <ng-container *ngFor="let option of dataStateService.dropdownOptions; trackBy: optionTrackBy; index as i;">
      <li (click)="onOptionClick(option, $event)" [class.disabled]="option.disabled" [class.ng-option-selected]="getSelectedState(option.id)">
        <ng-container *ngIf="!dataStateService.dropdownOptionTemplate">
          <a class="ng-dropdown-checkbox-container" *ngIf="config.showOptionSelectCheckbox">
            <input type="checkbox" class="ng-dropdown-checkbox-input ng-ignore-propagation"
                   [id]="dataStateService.getUniqueId('sop', i)"
                   [checked]="getSelectedState(option.id)"
                   [disabled]="option.disabled"
                   (change)="toggleOptionSelectedState(option)"
                   (click)="onOptionCheckboxClick(option, $event)"
            />
            <label class="ng-ignore-propagation" [for]="dataStateService.getUniqueId('sop', i)">
              <span class="ng-ignore-propagation" [title]="option.text">{{ option.text }}</span>
            </label>
          </a>
          <span *ngIf="!config.showOptionSelectCheckbox" [title]="option.text">
              <span *ngIf="config.showOptionIndex">{{option.index}} -</span>
              <span *ngIf="config.showOptionTrackBy">{{option.id}} - </span>{{ option.text }}
            </span>
        </ng-container>
        <ng-container
          *ngIf="dataStateService.dropdownOptionTemplate"
          [ngTemplateOutlet]="dataStateService.dropdownOptionTemplate"
          [ngTemplateOutletContext]="{ option: option, selected: getSelectedState(option.id) }"
        >
        </ng-container>
      </li>
    </ng-container>
  </ng-container>
  <li *ngIf="!dataStateService.dataLoading && dataStateService.totalOptionCount === 0" class="ng-dropdown-no-data">
    {{ config.translations.noDataMessage }}
  </li>
</ul>
