<ul class="ng-dropdown-item-container" [class.ng-milti-selectable]="config.selectMode === 'multi'">
  <ng-container *ngIf="config.groupByField">
    <ng-container *ngFor="let groupedItem of dataStateService.dropdownItemGroups">
      <li *ngIf="!dataStateService.dropdownOptionGroupHeaderTemplate" class="ng-dropdown-group-heading">
        {{ groupedItem.groupName }}
      </li>
      <ng-container
        *ngIf="dataStateService.dropdownOptionGroupHeaderTemplate"
        [ngTemplateOutlet]="dataStateService.dropdownOptionGroupHeaderTemplate"
        [ngTemplateOutletContext]="{ groupedItem: groupedItem }"
      >
      </ng-container>
      <ng-container *ngFor="let option of groupedItem.items; index as i;">
        <li (click)="toggleOptionSelectedState(option)" [class.disabled]="option.disabled" [class.ng-item-selected]="getSelectedState(option.id)">
          <ng-container *ngIf="!dataStateService.dropdownOptionTemplate">
            <a>
              <input
                type="checkbox"
                [id]="dataStateService.getIdName('grouped-options',i)"
                class="ng-dropdown-checkbox-input"
                [checked]="getSelectedState(option.id)"
                [disabled]="option.disabled"
                *ngIf="config.showOptionSelectCheckbox"
              />
              <span [title]="option.text">{{ option.text }}</span>
            </a>
          </ng-container>
          <ng-container
            *ngIf="dataStateService.dropdownOptionTemplate"
            [ngTemplateOutlet]="dataStateService.dropdownOptionTemplate"
            [ngTemplateOutletContext]="{ option: option, selected: getSelectedState(option.id) }"
          >
          </ng-container>
        </li>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!config.groupByField">
    <ng-container *ngFor="let option of dataStateService.dropdownItems; index as i;">
      <li (click)="toggleOptionSelectedState(option)" [class.disabled]="option.disabled" [class.ng-item-selected]="getSelectedState(option.id)">
        <ng-container *ngIf="!dataStateService.dropdownOptionTemplate">
          <a>
            <input
              type="checkbox"
              [id]="dataStateService.getIdName('single-options',i)"
              class="ng-dropdown-checkbox-input"
              [checked]="getSelectedState(option.id)"
              [disabled]="option.disabled"
              *ngIf="config.showOptionSelectCheckbox"
            />
            <span [title]="option.text">{{ option.text }}</span>
          </a>
        </ng-container>
        <ng-container
          *ngIf="dataStateService.dropdownOptionTemplate"
          [ngTemplateOutlet]="dataStateService.dropdownOptionTemplate"
          [ngTemplateOutletContext]="{ option: option, selected: getSelectedState(option.id) }"
        >
        </ng-container>
      </li>
    </ng-container>
  </ng-container>
  <li *ngIf="!dataStateService.dataLoading && dataStateService.totalOptionCount === 0" class="ng-dropdown-no-data">
    {{ config.translations.noDataMessage }}
  </li>
</ul>
