<div class="feature-container">
  <h1>Data Table Cell Template</h1>
  <p>This feature enables users to customize the table cell by providing their own template.</p>

  <h2 id="whatYouWillSee">What you will see</h2>
  <app-cell-template-usage></app-cell-template-usage>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>You can povide your own template as follows.</p>
  <pre class="prettyprint lang-html">{{demoSnippet.base_template}}</pre>

  <p>In the above data table, the following template is applied to values in <b>Retailer Type</b> column.</p>

  <pre class="prettyprint lang-html">{{demoSnippet.cell_template}}</pre>

  <p>Use following files to see the relevant code segments for above data table example.</p>

  <app-example-code [files]="cellTemplateUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Cell
    Template</a>
</div>

