<div class="feature-container">
  <h1>Data Table Cell Template</h1>
  <p>This feature enables users to customize the table cell by providing their own template.</p>

  <label>The following code block example shows how the cell template is used for <b>Status Value</b> column to show
    it's
    value in upper case letters.
    <pre class="prettyprint lang-html">{{demoSnippet.template}}</pre>
  </label>

  <p>Here is the table output after applying the above cell template.</p>

  <app-cell-template-usage></app-cell-template-usage>

  <app-example-code [files]="cellTemplateUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Cell
    Template</a>
</div>

