<div class="feature-container">
  <h1>Data Table Events</h1>

  <p>
    Set of events introduced to the data table to track different user interactions and to maintain and manage events
    perform on top of the data table. All the events are triggers based on predefined events hierarchical order.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-events-usage></app-events-usage>
  <app-example-code [files]="eventsUsage"></app-example-code>

  <h2 id="eventsHierarchy">Events Hierarchy</h2>

  <p>
    All available data table events are initialize as the following sequence depends on it's invoking behaviour
    (Automatic/Manual).
  </p>

  <pre>
    |__ <span class="hierarchy-main">Ornamentum Events</span>
       |
       |___ <a [routerLink]="['/feature/data-table/advanced/events']" class="event-types">Data Table Events</a>
       |     |
       |     |___ <strong>Automatically Triggers</strong>
       |     |     |
       |     |     |-- <a [routerLink]="['/feature/data-table/advanced/events']"
                          [fragment]="'columnBind'">Column Bind</a> // triggers for each column data binding.
       |     |     |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'init'">Init</a> // trigger data table initialization.
       |     |     |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'dataBound'">Data Bound</a> // triggers after data binding completion.
       |     |     |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowBind'">Row Bind</a> // triggers for each row data binding in current view.
       |     |     |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'cellBind'">Cell Bind</a> // triggers when binding data for cell.
       |     |
       |     |___ <strong>Manually Triggers</strong>
       |           |
       |           |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowSelectChange'">Row Select Change</a> // triggers row select state changes.
       |           |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'allRowSelectChange'">All Row Select Change</a> // trigger all row select state changes.
       |           |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowClick'">Row Click</a> // triggers single each row click events.
       |           |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'rowDoubleClick'">Row Double Click</a>  // triggers each row double click events.
       |           |-- <a [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'cellClick'">Cell Click</a> // triggers when click on specific cell.
       |           |-- <a [routerLink]="['/feature/data-table/advanced/events']"
                          [fragment]="'headerClick'">Header Click</a> // triggers when on column header mouse click.
       |
       |___ <a [routerLink]="['/feature/dropdown/advanced/events']" class="event-types">Dropdown Events</a>
       |
      \/
  </pre>

  <p>
    As mention in the above, all available events can be bind to the data table as follows try by yourself to get
    familiar. For individual event usage details refer <a [routerLink]="['/feature/data-table/advanced/events']"
                                                          [fragment]="'usefulEvents'">Useful Events</a> section.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.eventBinding"></app-code-snippet>

  <h2 id="usefulEvents">Useful Events</h2>

  <p>
    All the available data table events can be detailed as follows. In here, the above <a
    [routerLink]="['/feature/data-table/advanced/events']" [fragment]="'whatYouWillSee'">What You Will See</a> section
    example will separate into individual sections and discuss in detail with examples.
  </p>

  <h4 id="columnBind">Column Bind</h4>
  <p>
    <code>columnBind: EventEmitter&lt;DataTableColumnComponent&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>


  <p>
    Triggers for each column before all other event configurations and emit <a
    [routerLink]="'api-docs/components/DataTableColumnComponent.html'">DataTableColumnComponent</a>.
    As mentioned earlier, this is the <b>first event</b> which called before all the other events.
  </p>

  <app-events-column-bind-usage></app-events-column-bind-usage>
  <app-example-code [files]="eventsColumnBindUsage"></app-example-code>

  <h4 id="init">Init</h4>
  <p>
    <code>init: EventEmitter &lt;DataTableComponent&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>


  <p>
    Init event emits a <a [routerLink]="'api-docs/components/DataTableComponent.html'">DataTableComponent</a> after
    the grid initialization. It can track by binding a event to <code>init</code> property. below example and
    code snippet will demonstrate a sample usage.
  </p>

  <app-events-init-usage></app-events-init-usage>
  <app-example-code [files]="eventsInitUsage"></app-example-code>

  <h4 id="dataBound">Data Bound</h4>
  <p>
    <code>dataBound: EventEmitter&lt;void&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    Data bound property will trigger the completion of data binding operations. This event will be called right after
    the <code>columnBind</code> and <code>init</code> events respectively.
  </p>

  <app-events-data-bound-usage></app-events-data-bound-usage>
  <app-example-code [files]="eventDataBoundUsage"></app-example-code>

  <h4 id="rowBind">Row Bind</h4>
  <p>
    <code>rowBind: EventEmitter&lt;DataTableRow&lt;any&gt;&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    For each row data binding operations in the current view, this event will be triggered and emits a <a rel="noopener"
                                                                                                          target="_blank"
                                                                                                          href="api-docs/interfaces/DataTableRow.html">DataTableRow</a>
    generic type of data set. Please note row bind event will be called after the <code>columnBind</code>,
    <code>init</code> and <code>dataBound</code> events respectively.
  </p>

  <app-events-row-bind-usage></app-events-row-bind-usage>
  <app-example-code [files]="eventsRowBindUsage"></app-example-code>

  <h4 id="cellBind">Cell Bind</h4>
  <p>
    <code>cellBind: EventEmitter&lt;DataTableCellBindEventArgs&lt;any&gt;&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    After each table row cell data binding operations, this will be triggered and emits a <a rel="noopener"
                                                                                             target="_blank"
                                                                                             href="api-docs/interfaces/DataTableCellBindEventArgs.html">DataTableCellBindEventArgs</a>
    generic type of data set. That means after a each <code>rowBind</code> event, this event will be called recursively
    for all the available cells in a given row. That's why following output shows the same output (eg: Cell bind event is called for row ID - 10).
  </p>

  <p>
    If <a [routerLink]="['/feature/data-table/functionality/pagination']" [fragment]="'basicUsage'">Pageable</a> is
    enabled, cell binding will perform on the current table view only. For rest of the pages, cell binding will triggers
    if the user paginates into them only. Fore more details refer data table <a
    [routerLink]="['/feature/data-table/functionality/pagination']">Pagination</a> section.
  </p>

  <app-events-cell-bind-usage></app-events-cell-bind-usage>
  <app-example-code [files]="eventsCellBindUsage"></app-example-code>

  <h4 id="rowSelectChange">Row Select Change</h4>
  <p>
    <code>rowSelectChange: EventEmitter&lt;any | any[]&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    Triggers when row select state changed and emits the selected <a
    [routerLink]="['/feature/data-table/functionality/row/selection']"
    [fragment]="'selectTrackBy'">Select Track By</a> field value or values depending on the row <a
    [routerLink]="'/feature/data-table/functionality/row/selection'" [fragment]="'selectMode'">Select Mode</a>. To make
    this event work it is <b>mandatory</b> to define <a
    [routerLink]="'/feature/data-table/functionality/row/selection'" [fragment]="'basicUsage'">Row
    Selectable</a> and <code>selectTrackBy</code> properties. According to this example <code>selectTrackBy</code>
    property is <b>id</b> field.
  </p>

  <app-events-row-select-change-usage></app-events-row-select-change-usage>
  <app-example-code [files]="eventsRowSelectChangeUsage"></app-example-code>

  <h4 id="allRowSelectChange">All Row Select Change</h4>
  <p>
    <code>allRowSelectChange: EventEmitter&lt;boolean&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>Triggers when <a [routerLink]="'/feature/data-table/advanced/events'" [fragment]="'rowSelectChange'">Row Select
    Change</a> is perform on all the rows in current page or clicking on the select all checkbox will triggers the
    event. This event emits a <code>boolean</code> with the current state of the selection status.</p>
  <p>
    Please note, Select all checkbox will <b>only</b> selects the rows on current page. each paginated page views have
    separate select all check boxes. For more details refer the <a
    [routerLink]="'/feature/data-table/functionality/pagination'">Pagination</a> and <a
    [routerLink]="'/feature/data-table/functionality/row/selection'" [fragment]="'showRowSelectAllCheckbox'">Show Row
    Select All Checkbox</a> sections.
  </p>

  <app-events-all-row-select-change-usage></app-events-all-row-select-change-usage>
  <app-example-code [files]="eventsAllRowSelectChangeUsage"></app-example-code>

  <h4 id="rowClick">Row Click</h4>
  <p>
    <code>rowClick: EventEmitter&lt;DataTableRowClickEventArgs&lt;any&gt;&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property can be uses to trigger user single click event perform on specific data row and emits a <a
    rel="noopener" target="_blank"
    href="api-docs/interfaces/DataTableRowClickEventArgs.html">DataTableRowClickEventArgs</a> generic type of data set.
  </p>

  <app-events-row-click-usage></app-events-row-click-usage>
  <app-example-code [files]="eventsRowClickUsage"></app-example-code>

  <h4 id="rowDoubleClick">Row Double Click</h4>
  <p>
    <code>rowDoubleClick: EventEmitter&lt;DataTableDoubleClickEventArgs&lt;any&gt;&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This property can be uses to trigger user double click event perform on specific data row and emits a <a
    rel="noopener" target="_blank" href="api-docs/interfaces/DataTableDoubleClickEventArgs.html">DataTableDoubleClickEventArgs</a>
    generic type of data set.</p>

  <app-events-row-double-click-usage></app-events-row-double-click-usage>
  <app-example-code [files]="eventsRowDoubleClickUsage"></app-example-code>

  <h4 id="cellClick">Cell Click</h4>
  <p>
    <code>cellClick: EventEmitter&lt;DataTableCellClickEventArgs&lt;any&gt;&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This event can be uses to trigger user click events perform on specific cell and emits a <a
    rel="noopener" target="_blank"
    href="api-docs/interfaces/DataTableCellClickEventArgs.html">DataTableCellClickEventArgs</a> type of data set. For
    sample
    demonstration refer the below example.</p>

  <app-events-cell-click-usage></app-events-cell-click-usage>
  <app-example-code [files]="eventsCellClickUsage"></app-example-code>

  <h4 id="headerClick">Header Click</h4>
  <p>
    <code>headerClick: EventEmitter&lt;DataTableHeaderClickEventArgs&gt;</code> &nbsp;
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>This event can be uses to trigger user click events perform on specific column headers and emits a <a
    rel="noopener" target="_blank" href="api-docs/interfaces/DataTableHeaderClickEventArgs.html">DataTableHeaderClickEventArgs</a>
    type of data set.</p>

  <app-events-header-click-usage></app-events-header-click-usage>
  <app-example-code [files]="eventsHeaderClickUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/data-binding/client-side/basic']">Client Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br/>
  <a [routerLink]="['/feature/data-table/functionality/row/selection']">Row Selection</a><br/>
  <a [routerLink]="['/feature/data-table/styling/themes']">Themes</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html">API Doc for Data Table Events</a>
</div>
