<div class="feature-container" #parent>
  <h1>Dropdown Option Group Header Template</h1>

  <p>This feature enables users to customize the dropdown option group header view by providing their own template.</p>

  <label>The following code block example shows the way of dropdown option group header template using. In here we used
    simple text to override the native loading functionality. You can also provide your own custom templates with the
    any
    custom styles as you like.

    <pre class="prettyprint lang-html">{{demoSnippet.template}}</pre>
  </label>

  <p>Click dropdown to see the output after applying the above option group header template.</p>

  <app-option-group-header-template-usage></app-option-group-header-template-usage>

  <app-example-code [files]="optionGroupHeaderTemplateUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#dropdownOptionGroupHeaderTemplate">API
    Doc for Dropdown Option Group Header Template</a>
</div>