<div class="feature-container">
  <h1>Option Group Header Template</h1>

  <p>
    This feature enables users to customize the dropdown option group header view by providing their own template. to use of group header template it
    is <b>mandatory</b> to define a <code>groupByField</code> property, unless item grouping is disabled and no longer need to configure grouping
    header template. for Item Grouping and it's usages please refer <a [routerLink]="['/feature/dropdown/grouping']">Grouping</a> section for more
    details.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-option-group-header-template-usage></app-option-group-header-template-usage>
  <app-example-code [files]="optionGroupHeaderTemplateUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    As same as the all other templates, we can bind a specific property <code>#ngDropdownOptionGroupHeader</code> into <b>ng-template</b> to indicates
    customize group header dropdown options are need to be applied.
  </p>

  <p>
    The following code block example shows the way of dropdown option group header template usages. In here we used simple text to override the native
    loading functionality. You can also provide your own custom templates with the any custom styles as you like.
  </p>

  <pre class="prettyprint lang-html">{{ demoSnippet.template }}</pre>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/grouping']">Grouping</a><br />
  <a [routerLink]="['/feature/dropdown/events']">Events</a><br />
  <a [routerLink]="['/feature/data-table/column/filtering']">Filtering</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#dropdownOptionGroupHeaderTemplate"
    >API Doc for Dropdown Option Group Header Template</a
  >
</div>
