<div class="feature-container">
  <h1>Data Table Header Details</h1>

  <p>
    Showing header details along with the header menu will help users to get a better understanding of what kind of
    data is shown and allow them to customize the overall grid table by providing a several rich data table
    configurations.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-header-details-usage></app-header-details-usage>
  <app-example-code [files]="headerDetailsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    <code>showHeader: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  </p>

  <p>
    To show the header in the data table users need to set the <code>showHeader</code> property to <b>true</b>. The
    default value for showing header is <b>false</b>.
  </p>

  <p>
    By enabling <code>showHeader</code> the header section will be enabled and there will be few additional properties
    that can be configured after enabling the header section. Those details will be explained in detail in following
    sections.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.headerDetails"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>

  <p>There are a few more properties that affect the behaviour of table header. All the available properties can be
    applied in the global level of grid configuration.</p>

  <h4 id="title">Title</h4>

  <p>
    <code>title: string</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: ''</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showHeader]</span>
  </p>

  <p>
    Title property will allow defining a name for the grid table. By binding, a string value to the title property will
    be display on header section. Providing a meaningful name is mandatory to get a better understanding of showing the
    data for the users from the first impression.
  </p>

  <app-title-usage></app-title-usage>
  <app-example-code [files]="titleUsage"></app-example-code>

  <h4 id="showRefreshButton">Show Refresh Button</h4>

  <p>
    <code>showRefreshButton: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showHeader]</span>
  </p>

  <p>
    This configuration can be used to enable/disable data refresh button. By enabling the refresh button users will be
    able to update the grid with the latest data by clicking on the refresh icon that appears in the header details bar.
  </p>

  <p>
    This will become much handy while dealing with <a
    [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a> or
    <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side Web
      Socket</a> Data Binding operations. When users click on the refresh button, it will trigger the particular event
    and Ornamentum will re-send a request by invoking the respective service call and render the data with the newly
    received response.
  </p>

  <p>
    Also this property is useful in no data retrieval scenario, Please refer <a
    [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a> for further details.
  </p>

  <app-show-refresh-button-usage></app-show-refresh-button-usage>
  <app-example-code [files]="showRefreshButtonUsage"></app-example-code>

  <h4 id="showColumnSelector">Show Column Selector</h4>

  <p>
    <code>showColumnSelector: boolean</code> &nbsp;
    <span class="badge badge-pill badge-warning">Default Value: false</span>
    <span class="p-1"></span>
    <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
    <span class="pr-1"></span>
    <span class="badge badge-pill badge-secondary">Depends On: [showHeader]</span>
  </p>


  <p>
    This property is used to show or hide the column selector button. By enabling the column selector property,
    Ornamentum display all the <a [routerLink]="'/feature/data-table/functionality/column/binding'"
                                  [fragment]="'showInColumnSelector'">Show In Column Selector </a> <b>enabled</b>
    properties. Users can select/deselect the available columns that need to be shown in the grid table. Selected
    columns will be displayed with provided <a [routerLink]="'/feature/data-table/styling/responsive-configuration'"
                                               [fragment]="'columnSelectorWidth'">Column Selector Width</a> or default
    column width.
  </p>

  <app-show-column-selector-usage></app-show-column-selector-usage>
  <app-example-code [files]="showColumnSelectorUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic Data Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side Web Socket Data
    Binding</a><br/>
  <a [routerLink]="['/feature/data-table/advanced/translations']">Translations</a><br/>
  <a [routerLink]="['/feature/data-table/advanced/state-persistence']">State Persistence</a><br/>
  <a rel="noopener noreferrer" target="_blank" href="api-docs/components/DataTableHeaderComponent.html">API Doc for Data Table
    Header</a>
</div>
