<div class="feature-container">
  <h1>Header Details</h1>

  <p>
    Showing header details will help users to get a better understanding about what kind of data is shown and allow to
    configure set of properties which useful for enhance usability and experience of data table.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-header-details-usage></app-header-details-usage>
  <app-example-code [files]="headerDetailsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <code>showHeader: boolean</code> &nbsp;
  <span class="badge badge-pill badge-warning">Default Value: false</span>
  <span class="p-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>

  <p>
    To configure header, set the <code>showHeader</code> property to <b>true</b>. The default
    value for show header is <b>false</b>
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.headerDetails"></app-code-snippet>

  <h2 id="usefulProperties">Useful Properties</h2>
  <p>
    By enabling <code>showHeader</code> the header section facilitates few additional properties that can be configure.
  </p>

  <h4 id="title">Title</h4>

  <code>title: string</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: ''</h5>
  <span class="p-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-secondary">Depends On: [showHeader]</span>

  <p>
    Title property will allow to define a name for the grid table. Bind a string to the title property will be
    displays on header section. We recommend to provide a meaningful name to get better understanding about the content
    of showing to the users from the first impression.
  </p>

  <app-title-usage></app-title-usage>
  <app-example-code [files]="titleUsage"></app-example-code>

  <h4 id="showRefreshButton">Show Refresh Button</h4>

  <code>showRefreshButton: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>
  <span class="p-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-secondary">Depends On: [showHeader]</span>

  <p>
    This configuration can be uses to show/hide data refresh button. by enabling the refresh button users can perform
    data refresh operation by their self.
  </p>

  <p>
    When dealing with <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a> or
    <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side Web
      Socket</a> Data Binding this property is very useful. In this example, After invoking refresh button ornamentum
    will re-fetch data from the source and load them after resetting table state or displaying <a
    [routerLink]="['/feature/data-table/templating/no-records-template']">No Records Template</a> on top of data table
    body when on a data retrieval failed scenario.
  </p>

  <app-show-refresh-button-usage></app-show-refresh-button-usage>
  <app-example-code [files]="showRefreshButtonUsage"></app-example-code>

  <h4 id="showColumnSelector">Show Column Selector</h4>

  <code>showColumnSelector: boolean</code> &nbsp;
  <h5 class="badge badge-pill badge-warning">Default Value: false</h5>
  <span class="p-1"></span>
  <span class="badge badge-pill badge-info">Target Component: &lt;ng-data-table&gt;</span>
  <span class="pr-1"></span>
  <span class="badge badge-pill badge-secondary">Depends On: [showHeader]</span>


  <p>
    This property is uses to show/hide the column selector button. by enabling the column selector property,
    ornamentum displays all the <a [routerLink]="'/feature/data-table/functionality/column/binding'"
                                   [fragment]="'showInColumnSelector'">Show In Column Selector</a> enabled properties.
  </p>

  <app-show-column-selector-usage></app-show-column-selector-usage>
  <app-example-code [files]="showColumnSelectorUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/data-table/functionality/column/binding']">Column Binding</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/server-side/basic']">Server Side Basic</a><br/>
  <a [routerLink]="['/feature/data-table/data-binding/server-side/web-socket']">Server Side Web Socket</a><br/>
  <a [routerLink]="['/feature/data-table/advanced/translations']">Translations</a><br/>
  <a [routerLink]="['/feature/data-table/advanced/state-persistence']">State Persistence</a><br/>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableHeaderComponent.html">API Doc for Data Table Header</a>
</div>
