<ng-data-table
  [title]="'Business Details'"
  [dataSource]="dataSource"
  [minHeight]="200"
  [minWidth]="1130"
  [pageable]="false"
  [showHeader]="true"
  [showRefreshButton]="false"
  [showColumnSelector]="false">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'symbol'"
    [title]="'Symbol'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'business_class'"
    [title]="'Business Class'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'time_stamp'"
    [title]="'Timestamp'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'confirmation_type'"
    [title]="'Confirmation Type'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'side'"
    [title]="'Side'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'volume'"
    [title]="'Volume'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'price'"
    [title]="'Price'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'market_order_id'"
    [title]="'Market Order ID'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'market_id'"
    [title]="'Market ID'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'broker_id'"
    [title]="'Broker ID'"
    [width]="80">
  </ng-data-table-column>
</ng-data-table>
