<h1>Data Table Substitute Rows</h1>
<p>This configuration will allows users give some indication to the users by showing empty rows when the data set is
  less for the specified limit. In the following, shows how this can be configured.</p>

<h2>With Substitute Rows</h2>
<p>[showSubstituteRows]="true"</p>

<app-with-substitute-rows-usage></app-with-substitute-rows-usage>

<app-example-code [files]="withSubstituteRowsUsage"></app-example-code>

<h2>Without Substitute Rows</h2>
<p>[showSubstituteRows]="false"</p>

<app-without-substitute-rows-usage></app-without-substitute-rows-usage>

<app-example-code [files]="withoutSubstituteRowsUsage"></app-example-code>

<h2>Suggested Links</h2>
<a href="api-docs/components/DataTableComponent.html#showSubstituteRows" target="_blank">API Doc for Data Table Substitute Rows</a>
