<div class="feature-container">
  <h1>Substitute Rows</h1>
  <p>
    Substitute rows are useful when you want to show empty rows in data table, if there are less amount of data is
    available than the specified limit. In such cases, you might need to turn <code>showSubstituteRows</code>
    enable to show empty rows for the display defined data table limit.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-substitute-rows-usage></app-substitute-rows-usage>
  <app-example-code [files]="substituteRowsUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>To enable substitute rows, simply set <code>showSubstituteRows</code> to <b>true</b> and by default the property
    is in <b>false</b> state. In <a [routerLink]="['/feature/data-table/substitute-rows']" [fragment]="'whatYouWillSee'">What
      You Will See</a> section example limit is specified as 15, but it is showing 5 additional rows due to
    unavailability of last 5 data items.</p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.showSubstituteRows"></app-code-snippet>

  <h4 id="withoutSubstituteRows">Without Substitute Rows</h4>

  <p>
    Substitute rows will not be shown although data limit is less than the specified limit, if
    <code>showSubstituteRows</code> property is set to false. In the following example limit is specified as 15, but it
    is not showing 5 additional rows because showing substitute rows is not defined and therefore property was in
    default configuration state (false) or else can be explicitly define as false in table level configuration.
  </p>

  <app-without-substitute-rows-usage></app-without-substitute-rows-usage>
  <app-example-code [files]="withoutSubstituteRowsUsage"></app-example-code>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DataTableComponent.html#showSubstituteRows">API Doc for
    Data Table Substitute Rows</a>
</div>
