<div class="feature-container">
  <h1>Item Grouping</h1>

  <p>
    This feature allow users to group data into separate categories and show them in the same Dropdown. please note item grouping is possible when
    only one or more data is available.
  </p>

  <h2 id="whatYouWillSee">What You Will See</h2>

  <app-item-grouping-usage></app-item-grouping-usage>
  <app-example-code [files]="itemGroupingUsage"></app-example-code>

  <h2 id="basicUsage">Basic Usage</h2>

  <p>
    For enable multiple item grouping, it is required to bind a specific string <b>field name</b> into <code>groupByField</code> property. by default
    it is set to <b>undefined</b>.
  </p>

  <app-code-snippet [type]="FileType.HTML" [content]="demoSnippet.itemGrouping"></app-code-snippet>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a [routerLink]="['/feature/dropdown/filtering']">Filtering</a><br />
  <a [routerLink]="['/feature/dropdown/client-side-data-binding']">Client-side Data Binding</a><br />
  <a [routerLink]="['/feature/dropdown/translations']">Translations</a><br />
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#groupByField">API Doc for Dropdown Item Grouping</a>
</div>
