<h1>Dropdown Item Grouping</h1>

<ul class="main-pane-list">
  <li>This feature help users to group multiple dropdown data items together when it is necessary.</li>
  <li>To set grouping, it is required to pass the group key name via the <b>groupByField</b> attribute. Refer following example
    for more details.
  </li>
</ul>

<app-item-grouping-usage></app-item-grouping-usage>

<app-example-code [files]="itemGroupingUsage"></app-example-code>

<h2>Suggested Links</h2>
<a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#groupByField">API Doc for Dropdown Item Grouping</a>
