<div class="feature-container">
  <h1>Dropdown Menu Position</h1>
  <ul class="main-pane-list">
    <li><b>menuPosition</b> will allows users to configure the dropdown menu position.</li>
    <li>Available values for this configuration can be seen as follows.</li>
    <ul class="main-pane-list">
      <li><b>[menuPosition]="bottom-right" | "bottom-left" | "top-left" | "top-right"</b> => Note that, there are
        4 positions users can configure to align the dropdown. The default value for this config is "bottom-right".
      </li>
    </ul>
  </ul>

  <app-menu-position-usage></app-menu-position-usage>

  <app-example-code [files]="menuPositionUsage"></app-example-code>

  <h2>Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/components/DropdownComponent.html#menuPosition">API Doc for Dropdown
    Menu Position</a>
</div>
