.theme-color-palette {
  background: url('../../../../../assets/images/theme-color-palette.png') no-repeat;
  height: 10rem;
  width: 24rem;
  background-size: 100% 100%;
  display: inline-block;
  left: 0;
  position: relative;
}

.dt-theme-common {
  display: inline-block;
  left: 0;
  position: relative;
  height: 26rem;
  width: 56rem;
}

.dt-base-theme {
  background: url('../../../../../assets/images/dt-base-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dt-dark-theme {
  background: url('../../../../../assets/images/dt-dark-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dt-flat-theme {
  background: url('../../../../../assets/images/dt-flat-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dt-ornamentum-theme {
  background: url('../../../../../assets/images/dt-ornamentum-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dt-aegean-theme {
  background: url('../../../../../assets/images/dt-aegean-theme.png') no-repeat;
  background-size: 100% 100%;
}

table {
  border: 1px solid #ddd;
  font-size: 13px;
  tr {
    th {
      background-color: #333;
      color: #fff;
      padding: 0.5rem;
    }

    td {
      border: 1px solid #ddd;
      padding: 0.3rem;
    }
  }
}
