<ng-data-table
  [title]="'Sales Products'"
  [selectTrackBy]="'id'"
  [items]="items"
  [minHeight]="200"
  [minWidth]="900"
  [pageable]="true"
  [showHeader]="true"
  [showRowSelectCheckbox]="true"
  [rowSelectable]="true"
  [selectOnRowClick]="true"
  [selectMode]="'single_toggle'">
  <ng-data-table-column
    [field]="'id'"
    [title]="'ID'"
    [width]="50">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'orderMethodType'"
    [title]="'Order Method Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'retailerType'"
    [title]="'Retailer Type'"
    [width]="120">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productLine'"
    [title]="'Product Line'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'productType'"
    [title]="'Product Type'">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'revenue'"
    [title]="'Revenue'"
    [width]="100">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'quantity'"
    [title]="'Quantity'"
    [width]="80">
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'grossMargin'"
    [title]="'Gross Margin'"
    [width]="100">
  </ng-data-table-column>
</ng-data-table>
