@import '../../../styles/variables';
@import '../../../styles/mixins';

footer {
  background: linear-gradient(-120deg, $background-overlay-gradient-3, $background-overlay-gradient-4);
  color: $primary-text-color;
  padding: 2rem;

  h3 {
    @include font-size(1.1, 1.6);
    color: $background-overlay-gradient-1;
    text-shadow: 0 0 1px $background-overlay-gradient-4;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      @include font-size(0.9, 2);

      a {
        color: $main-nav-bar-active-text;
      }
    }
  }

  .copyrights {
    @include font-size(0.8, 1);
    border-top: 1px solid $main-nav-bar-active-background;
    color: $main-nav-bar-active-text;
    padding: 1rem 0;
    text-align: center;

    span {
      display: block;
      padding: 0.2rem 0;
    }
  }
}
