<footer>
  <div class="row justify-content-center text-center">
    <div class="col-lg-2 col-md-3">
      <h3>Documentation</h3>
      <ul>
        <li><a href="https://ornamentum.app/feature/data-table/overview">Getting Started</a></li>
        <li><a href=" https://ornamentum.app/api-docs/index.html">API Reference</a></li>
        <li><a href="https://github.com/yohangz/ornamentum/blob/master/CHANGELOG.md">Change Log</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-3">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Stack Overflow</a></li>
        <li><a href="#">Report Issues</a></li>
       </ul>
    </div>
    <div class="col-lg-2 col-md-3">
      <h3>Community</h3>
      <ul>
        <li><a href="https://github.com/yohangz/ornamentum">GitHub</a></li>
        <li><a href="https://github.com/yohangz/ornamentum/blob/master/CONTRIBUTING.md">Contributing</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-3">
      <h3>About</h3>
      <ul>
        <li><a href="https://github.com/yohangz/ornamentum#contributors">Team</a></li>
        <li><a href="https://github.com/yohangz/ornamentum/blob/master/LICENSE">License</a></li>
      </ul>
    </div>
  </div>
  <div class="copyrights">
    <span>Powered by Ornamentum &copy;{{currentYear}}. Code licensed under an <a rel="license" target="_blank" href="https://github.com/yohangz/ornamentum/blob/master/LICENSE">MIT License</a>. Documentation licensed under <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</span>
    <span>Version <a target="_blank" href="https://www.npmjs.com/package/ornamentum">v{{packageVersion}}</a></span>
  </div>
</footer>
