<div class="feature-container">
  <h1>Data Table Styling & Themes</h1>

  <p>Ornamentum data table now comes with different themes that you can use to style your own application.</p>

  <p>Currently Ornamemtum supports 5 different themes as shown in the below.</p>

  <h2 id="themeSupport">Including Theme Support</h2>

  <p>
    Currently ornamentum has different scss files to represent the available themes. Therefore, in order to include these themes into your project you
    have to import its SCSS source references into your style files.
  </p>

  <p>
    Also in the page header you can see the user experience of the available themes by clicking on the given color palette (refer following image).
  </p>

  <div class="theme-color-palette"></div>

  <h4 id="baseTheme">Base Theme</h4>

  <p>
    The following image shows how Ornamentum Data Table looks like with the Base theme. This is the user experience that you can get if you choose to
    stay with the base theme styling provided without using any of the themes available.
  </p>

  <div class="dt-theme-common dt-base-theme"></div>

  <p>In order to apply above Base theme you have to import following code snippet to your styles.</p>
  <pre class="prettyprint lang-css">{{ demoSnippet.baseTheme }}</pre>

  <h4 id="darkTheme">Dark Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Dark theme.</p>

  <div class="dt-theme-common dt-dark-theme"></div>

  <p>In order to apply above Dark theme you have to import following code snippet to your styles.</p>
  <pre class="prettyprint lang-css">{{ demoSnippet.darkTheme }}</pre>

  <h4 id="flatTheme">Flat Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Flat theme.</p>

  <div class="dt-theme-common dt-flat-theme"></div>

  <p>In order to apply above Flat theme you have to import following code snippet to your styles.</p>
  <pre class="prettyprint lang-css">{{ demoSnippet.flatTheme }}</pre>

  <h4 id="ornamentumTheme">Ornamentum Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Ornamentum theme.</p>

  <div class="dt-theme-common dt-ornamentum-theme"></div>

  <p>In order to apply above Ornamentum theme you have to import following code snippet to your styles.</p>
  <pre class="prettyprint lang-css">{{ demoSnippet.ornamentumTheme }}</pre>

  <h4 id="aegeanTheme">Aegean Theme</h4>

  <p>The following image shows how Ornamentum Data Table looks like with the Aegean theme.</p>

  <div class="dt-theme-common dt-aegean-theme"></div>

  <p>In order to apply above Aegean theme you have to import following code snippet to your styles.</p>
  <pre class="prettyprint lang-css">{{ demoSnippet.aegeanTheme }}</pre>

  <h2 id="suggestedLinks">Suggested Links</h2>
  <a rel="noopener" target="_blank" href="api-docs/modules/DataTableModule.html">API Doc for DataTable Styling & Themes</a>
</div>
