.theme-color-palette {
  background: url('../../../../../assets/images/theme-color-palette.png') no-repeat;
  height: 10rem;
  width: 24rem;
  background-size: 100% 100%;
  display: inline-block;
  left: 0;
  position: relative;
}

.theme-common {
  display: inline-block;
  left: 0;
  position: relative;
  height: 26rem;
  width: 56rem;
}

.base-theme {
  background: url('../../../../../assets/images/data-table-base-theme.png') no-repeat;
  background-size: 100% 100%;
}

.dark-theme {
  background: url('../../../../../assets/images/data-table-dark-theme.png') no-repeat;
  background-size: 100% 100%;
}

.flat-theme {
  background: url('../../../../../assets/images/data-table-flat-theme.png') no-repeat;
  background-size: 100% 100%;
}

.ornamentum-theme {
  background: url('../../../../../assets/images/data-table-ornamentum-theme.png') no-repeat;
  background-size: 100% 100%;
}

.aegean-theme {
  background: url('../../../../../assets/images/data-table-aegean-theme.png') no-repeat;
  background-size: 100% 100%;
}
